<div class="question-replies" id="replies-for-question-<%= @question.id %>">
  <ol class="reply-container">
    <%= render :partial => 'shared/objects/reply', :collection => @replies %>
  </ol>
</div>
