<h1>Listing item_images</h1>

<table>
  <tr>
  </tr>

<% @item_images.each do |item_image| %>
  <tr>
    <td><%= link_to 'Show', item_image %></td>
    <td><%= link_to 'Edit', edit_item_image_path(item_image) %></td>
    <td><%= link_to 'Destroy', item_image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_image', new_item_image_path %>