<div class="content-page <%= content.className %>">
  <div class="title"><%= content.title %></div>
  <div class="subtitle"><%= content.subtitle %></div>

  <div class="user"><%= content.owner.display_name %></div>
</div>
