<% if resource.resource.is_a?(Case) || resource.resource.is_a?(TextBlock) %>
<the-resource-body :resource="<%= resource.resource.to_json %>"
                   :editable="<%= editable || false %>"></the-resource-body>
<% elsif resource.resource.is_a? Default %>
<section class="resource">
  <%= t 'content.link.follow-link' %>
  <%= link_to resource.resource.display_name, resource.resource.url, target: '_blank' %>
</section>
<% end %>