#annotator {
  @include square(0);
  @include transition(top 0.1s linear);
  display: block;
  position: absolute;
  right: 0;
  overflow: visible;
  user-select: none;

  &.hide .annotator-inner {
    max-width: 0px;
    padding: 10px 0;
    border-width: 1px 0;
  }

  .annotator-inner {
    @include transition(max-width 0.1s linear, padding 0.1s linear, border-width 0.1s linear);
    position: absolute;
    left: 40px;
    padding: 10px;
    max-width: 200px;
    overflow: hidden;
    background-color: $white;
    border: 1px solid black;
    z-index: 2;
    margin-left: 20px;

    .annotator-action {
      @include sans-serif($regular, 12px, 14px);
      cursor: pointer;
      white-space: nowrap;
      background-color: $white;
      &:hover {
        background-color: $highlight;
      }
    }

    .create-form {
      display: flex;
      flex-direction: column;

      .save-note {
        margin-top: 20px;
      }
    }
  }
}

#annotation-marker-start, #annotation-marker-end {
  @include square(0);
  position: absolute;
  left: 0;
  display: inline-block;
  user-select: none;
}

.resource-wrapper {
  position: relative;
}

.case-text {
  p > .annotate.highlighted {
    padding: 9px 0 4px;
  }
  h2 > .annotate.highlighted {
    padding: 3px 0 3px;
  }

  /* hacks for misbehaving blockquotes */
  blockquote {
    span p {
      display: inline; // yes, p in span is illegal, but we have them
    }
    &[data-elided-annotation]:not(.revealed){
      margin: 0;
      padding: 0;
    }
  }

  .annotate {
    display: inline;

    &.highlighted {
      // padding: 9px 0 4px; // This needs to be set based on the line-height of the text
      background-color: $highlight;
      box-shadow: -1px 0 0 $highlight, 1px 0 0 $highlight;
    }
    &.replacement {
      display: inline-block;
      margin: 0 6px;
      padding: 0 6px;
      background-color: $light-gray;
      color: $light-blue;

      .text {
        pointer-events: none;
      }
      &:focus {
        @include generic-focus-styles;
      }
      &.revealed .text {
        display: none;
      }
      &.revealed::before {
        content: 'hide';
      }
      .text:empty::before {
        content: 'Enter replacement text';
        color: $dark-gray;
        pointer-events: none;
      }
      &.active .text:empty::before {
        content: ' ';
        pointer-events: none;
      }
    }
    &.replaced {
      display: none;
      padding: 0;
      margin: 0;
      &.revealed {
        padding: 7px;
        display: inline;
        color: #555;
        border-radius: 3px;
        background-color: $light-gray;
      }
    }
    &.note {
      text-decoration: $light-blue underline;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }

    &.note-content-wrapper {
      @include square(0);
      position: absolute;
      right: -40px;
      overflow: visible;
      display: block;
      margin: 33px 10px 0 0;

      &.revealed {
        display: none;
      }

      .note-icon {
        position: absolute;
        transform: translate(218%, -116%) rotate(180deg);
        z-index: 1;
        font-size: 17px;
      }

      .note-content {
        @include sans-serif($regular, 14px, 20px);
        display: block;
        width: 200px;
        padding: 10px;
        position: relative;
        top: -20px;
        background-color: white;
        color: black;
        margin: 0 20px;
      }
    }
  }
}
