#annotator {
  @include square(0);
  @include transition(top 0.1s linear);
  display: block;
  position: absolute;
  right: 0;
  overflow: visible;
  user-select: none;

  &.hide .annotator-inner {
    max-width: 0px;
    padding: 10px 0;
    border-width: 1px 0;
  }

  .annotator-inner {
    @include transition(max-width 0.1s linear, padding 0.1s linear, border-width 0.1s linear);
    position: absolute;
    left: 40px;
    padding: 10px;
    max-width: 200px;
    overflow: hidden;
    background-color: $white;
    border: 1px solid black;
    z-index: 2;
    margin-left: 20px;

    .annotator-action {
      @include sans-serif($regular, 12px, 14px);
      cursor: pointer;
      white-space: nowrap;
      background-color: $white;
      &:hover {
        background-color: $highlight;
      }
    }

    .create-form {
      display: flex;
      flex-direction: column;

      .save-note {
        margin-top: 20px;
      }
    }
  }
}

#annotation-marker-start, #annotation-marker-end {
  @include square(0);
  position: absolute;
  left: 0;
  display: inline-block;
  user-select: none;
}

.resource-wrapper {
  position: relative;
}

.case-text {
  /* hacks for misbehaving blockquotes */
  blockquote {
    span p {
      display: inline; // yes, p in span is illegal, but we have them
    }
    &[data-elided-annotation]:not(.revealed){
      margin: 0;
      padding: 0;
    }
  }

  .annotate {
    display: inline;

    &.replaced {
      display: none;
      padding: 0;
      margin: 0;
      &.revealed {
        padding: 7px;
        display: inline;
        color: #555;
        border-radius: 3px;
        background-color: $light-gray;
      }
    }
  }
}
