<p>
  <label>Last Updated:</label>
  <%= @media.updated_at.strftime("%B %d, %Y") %>
</p>

<% cache("media-#{@media.id}-tags", :compress => H2O_CACHE_COMPRESSION) do -%>
<% if @media.tags.any? -%>
<p>
  <label>Tags:</label>
  <% @media.tags.each do |tag| -%>
  <%= link_to tag.name, tag_path("medias", CGI.escape(tag.name)) %>
  <% end -%>
</p>
<% end -%>
<% end -%>
