<h1>Forgot Password</h1>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<%= form_tag password_resets_path do %>
  <label>Login:</label><br />
  <%= text_field_tag "login" %><br />
  <br />
  <%= submit_tag "Reset my password" %>
<% end %>
<br/><small><%= link_to "Forgot your login?", new_login_notifier_path %>
