.annotate.highlight, .annotate.highlighted {
}

.annotate.elide,
.annotate.replacement,
.annotate.note {
  display: none;
}

.annotate.link {
  color: black;
  text-decoration: none;
}

/*previously from export.css*/
body {
  margin: 0.5in;
  font-family: Garamond, "Times New Roman", serif;
}

.annotation-handle,
.annotate.note-icon {
  display: none;
}

.p-handle {
  width: 0px;
  height: 10px;
  float: left;

  position: relative;
}

.p-number {
  position: absolute;
  right: 20px;

  color: #777;
  text-align: right;
}

table-of-contents, toc-entry {
  display: block;
}

header.CasebookTitle {
  font-size: 30px;
}
header.CasebookSubtitle {
  font-size: 26px;
}
header.SectionNumber, header.ResourceNumber {
  font-size: 20px;
}
header.SectionTitle, header.ResourceTitle {
  font-size: 26px;
}

p {
  font-size: 14px;
  line-height: 16px;
}
