APP_CONFIG={"SECRET_KEY":"Super_Secured_Secret_Key","ALLOWED_HOSTS":"127.0.0.1,localhost,opencasebook.test","DATABASE_NAME":"h2o","DATABASE_USERNAME":"postgres","DATABASE_PASSWORD":"postgres","DATABASE_HOST":"db","DATABASE_PORT":"5432", "DEBUG_TOOLBAR":"", "LIVE_JS_ASSETS":""}
DATABASE_NAME=h2o
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres