.rvmrc
.DS_Store
*.swp
tmp/
solr/
locals/
config/database.yml
public/stylesheets/all.css
public/javascripts/all.js
public/collages/
public/playlists/
public/cases/
public/index.html
public/base.html
public/p/
log/.nfs*
log/*
log/*.log*
