.bundle
.DS_Store
.rvmrc
*.swp
bin/phantomjs
config/initializers/h2o_secret.rb
config/newrelic.yml
config/skylight.yml
coverage/
locals/
log/
node_modules/
public/assets/
public/base.html
public/cases/
public/ckeditor_assets/
public/collages/
public/exports/
public/iframe/
public/index.html
public/index.html.gz
public/javascripts/all.js
public/p/
public/playlists/
public/stylesheets/all.css
public/svg_icons/
public/system/users/images/
solr/data/
solr/pids/
tmp/
guard-sunspot/
.idea
/.env
.tern-port
/public/packs
/public/packs-test
yarn-debug.log*
.yarn-integrity
/yarn-error.log
.dir-locals.el
*.dump
.byebug_history
.tmp
.venv
python-shell.sh

# IntelliJ IDEA
*.iml
.vscode
.mypy_cache

# Dev-only webpack stats
web/webpack-stats-serve.json

# Playwright output
web/test-results