.rvmrc
.DS_Store
*.swp
tmp/
locals/
public/assets/
public/ckeditor_assets/
public/stylesheets/all.css
public/javascripts/all.js
public/collages/
public/playlists/
public/cases/
public/iframe/
public/index.html
public/index.html.gz
public/base.html
public/p/
public/svg_icons/
log/
.bundle
solr/pids/
solr/data/
config/database.yml
config/newrelic.yml
config/skylight.yml
config/initializers/h2o_secret.rb
config/dropbox_access_token/*
