env:
  global:
    - secure: "n6fsjmC9KVTMy5WfoKjFHvBQArG/pfVE0CnproY7BXy1peU9cXoqbLI78wMHO8spx4ZrPPLBq/4K9o26W+os8m1e1T6rHIS+tJfAsvCXDclK2NXUjJmqQopYLx8kmKX5v15zXUwwqydywMdm7vzO5yt7ZSfe8FzUX1oGkf35kV5AGZ6NEeTvGW2krT1CHoKLl+kPUFFrnjt83R7du/fqzxNmP009AgaR1fmk6JHoHlEk+G8Rphjsx9H9VUwrIutA+W7ArXOto7pWD24UdwTVLZlpQvqvdwsM0ay2ljfDa0HZCd1P1vv+EWLa/R2DoVoUF/pAQHotP90EauxadV36xAN4X36bnNfBTzBtyW8hn8CuUi7H/XKeBczNAZcySwCWiPHSXDZd7TlfK+kUG+Xy10fFAptJB9uQws0Dc09M8+d+JCXSTER75VnMJC0ycxiaUFoYBp0Wrq4lJQP9Fb8ydS8FpkZM/y4bB30iySypAzTmx3/NgcA/HXh0qIeaqu9pMVXq22mmPFwH6elFPUikacwKPc6+/pco3CBl+BEfowJ+rIgqEuGKvfKzfqCuKKULmVFALSjsLAbczcLJxH4C5MwbiVzcO70K9OI2wfW7pDyaFYFofgTVdhaynXwqXOPcTPXu565BQ/S+CCbNYxYaLxWEJsfDKZBdrVi5EV5buu8="
    - secure: "SF6/Tf7PrBlgnONeWaWoi1h9TM+QdBSeYjowX1z/pWEivfuBekZzfLNMfbD7oGg7QalQ+Sxqzp83/VxLY2+VfVr7hnyFjJW8EWza/ywjF8iRzU01pUC7LNbKChCeBLDq1Dyyz9AaIeJiEG9kq2/hcoj7rRLFr5TsggbmrDvXyX2feWlN8aDUoNdnB1T84ZY0kyGv2SX3Zu4Woc59VilhhSayi6rvTVHwvUUkiplExr6XmphZN82jTGDTflB68xJuRhB5z9coD4smvsy1rCSul3r7ipSDfpKKmEgduipucRpLYaJehmN9N9Au/xA5juTKbWC/XKL+k7wOf1ZLDULyYOH2FL1j1jrLkow4hHD2evhErB5Bvrmmz1nKhkvqGh1pNynOik574ncTzTw+IoIZyPqxwK0f7BWkdhtC54+5BbWawBtlhqnCDbMJqsmZt4tDIv2FbNEaNF5/tSWMW83D8CGttsaEpTYC5AIq4RLt3UOZkBTQOqlONkpmXU7l+xlpzRaI6omri+aAdDiu8b44HUcm2pjfgvPXlWroJocvv4XiaxTOq2Z7CZ4ZD3hLD07SGHYeoZ6N2ICFF/fZhwJwDqFwP4kp4NYQjNZArpsy48DVeJfcLfbPCLNiCCmbBgVEJyCm1TsoMgfUPazCxJXrQtqrsm/LUZVnMrGqNyZaki0="

language: ruby
cache:
  bundler: true
  directories:
    - travis_phantomjs
rvm:
  - 2.4.1
before_script:
  - bundle exec rails db:setup
  - bundle exec rails sunspot:solr:start
script:
  - bundle exec rails test
after_success:
  - >
    if [ "$TRAVIS_PULL_REQUEST" == "false" -a "$TRAVIS_BRANCH" == "master" ] ;
    then
    export DEPLOY_CONTENT='{"TRAVIS_BUILD_NUMBER":"'$TRAVIS_BUILD_NUMBER'","TRAVIS_COMMIT":"'$TRAVIS_COMMIT'","TRAVIS_BRANCH":"'$TRAVIS_BRANCH'","TRAVIS_REPO_SLUG":"'$TRAVIS_REPO_SLUG'"}' ;
    export DEPLOY_SIG="sha1=`echo -n "$DEPLOY_CONTENT" | openssl sha1 -hmac $DEPLOY_KEY | sed 's/^.* //'`" ;
    curl -X POST "$DEPLOY_URL" --data "$DEPLOY_CONTENT" -H "Content-Type: application/json" -H "X-Travis-Signature: $DEPLOY_SIG" ;
    fi

before_install:
  - export TRAVIS_PHANTOMJS_INSTALL_PATH="$PWD/travis_phantomjs"
  - export TRAVIS_PHANTOMJS_VERSION_NAME="phantomjs-2.1.1-linux-x86_64"
  - export PATH="$TRAVIS_PHANTOMJS_INSTALL_PATH/$TRAVIS_PHANTOMJS_VERSION_NAME/bin:$PATH"
  - hash -d phantomjs || true
  - echo "phantomjs version is $(phantomjs --version)"
  - if [ $(phantomjs --version) != '2.1.1' ]; then $PWD/bin/travis_get_updated_phantomjs; hash -d phantomjs || true; echo "updated phantomjs version is $(phantomjs --version)"; fi
