version: '3'
services:
  db:
    image: registry.lil.tools/library/postgres:12.8
    volumes:
      - db_data_12:/var/lib/postgresql/data:delegated
    ports:
      - "127.0.0.1:54320:5432"
    environment:
      - POSTGRES_PASSWORD=example

  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: h2o-python:0.55
    tty: true
    command: bash
    environment:
    - DOCKERIZED=true
    volumes:
      - .:/app:delegated
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8080:8080"
    depends_on:
      - db

  minio:
    image: registry.lil.tools/minio/minio:RELEASE.2021-02-19T04-38-02Z
    entrypoint:
      - "/entrypoint.sh"
    command:
      - "server"
      - "/data"
    environment:
      - MINIO_ACCESS_KEY=accesskey
      - MINIO_SECRET_KEY=secretkey
      - DATA_DIR=/data
      - BUCKET=h2o.images
    volumes:
      - ./docker/minio/entrypoint.sh:/entrypoint.sh
      - minio_data:/data:delegated
    ports:
      - "127.0.0.1:9000:9000"

volumes:
  db_data_12:
  node_modules:
  minio_data:
