# overrides for local development, not used in CI
version: '3'
services:
  pandoc-lambda:
    volumes:
      - ./docker/pandoc-lambda/function/:/function
    build:
      context: ./docker/pandoc-lambda
      x-bake:
        tags:
          - registry.lil.tools/harvardlil/h2o-pandoc-lambda:0.63-8b8bf8d090ea67d062b4628f310fb8fe
        platforms:
          - linux/amd64
          - linux/arm64
      x-hash-paths:
        - .
  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      x-bake:
        tags:
          - registry.lil.tools/harvardlil/h2o-python:0.85-b8815b0ffef2078f55ea0bdcf6f756a5
        platforms:
          - linux/amd64
          - linux/arm64
      x-hash-paths:
        - web/requirements.txt
    environment:
      - CAPAPI_API_KEY
      - GPO_API_KEY
      - MATOMO_API_KEY
      - MATOMO_SITE_URL
