version: '3'
services:
  db:
    image: registry.lil.tools/library/postgres:9.6.16
    volumes:
      - db_data:/var/lib/postgresql/data:delegated
    ports:
      - "127.0.0.1:54320:5432"

  web:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    image: h2o-python:0.34
    tty: true
    command: bash
    environment:
    - DOCKERIZED=true
    volumes:
      - .:/app:delegated
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8080:8080"
    depends_on:
      - db

volumes:
  db_data:
  node_modules:
