version: '3'
services:
  db:
    image: registry.lil.tools/library/postgres:12.8
    volumes:
      - db_data_12:/var/lib/postgresql/data:delegated
    ports:
      - "127.0.0.1:54320:5432"
    environment:
      - POSTGRES_PASSWORD=example

  web:
    image: registry.lil.tools/harvardlil/h2o-python:0.66-88d5510fab0ae2f85741065d3defbedb
    tty: true
    command: bash
    environment:
    - DOCKERIZED=true
    volumes:
      - .:/app:delegated
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8080:8080"
    depends_on:
      - db
    # allow profiling with py-spy
    # https://github.com/benfred/py-spy#how-do-i-run-py-spy-in-docker
    cap_add:
        - SYS_PTRACE

  minio:
    image: registry.lil.tools/minio/minio:RELEASE.2021-02-19T04-38-02Z
    entrypoint:
      - "/entrypoint.sh"
    command:
      - "server"
      - "/data"
    environment:
      - MINIO_ACCESS_KEY=accesskey
      - MINIO_SECRET_KEY=secretkey
      - DATA_DIR=/data
      - BUCKET=h2o.images
      - EXPORT_BUCKET=h2o.exports
    volumes:
      - ./docker/minio/entrypoint.sh:/entrypoint.sh
      - minio_data:/data:delegated
    ports:
      - "127.0.0.1:9000:9000"

  pandoc-lambda:
    image: registry.lil.tools/harvardlil/h2o-pandoc-lambda:0.57-d9466d39b907b1a0e13e594c0f9822d1
    tty: true
    environment:
      - USE_S3_CREDENTIALS=True
      - AWS_ACCESS_KEY_ID=accesskey
      - AWS_SECRET_ACCESS_KEY=secretkey
      - S3_ENDPOINT_URL=http://minio:9000
      - EXPORT_BUCKET=h2o.exports
    # volumes: is set for local dev in docker-compose.override.yml
    # Uncomment to disable entrypoint if changes to requirements mean container can't start:
    # command: bash

volumes:
  db_data_12:
  minio_data:
