@import "cap.css";
@import "toc.css";


@media all {

  @font-face {
    font-family: 'LibreCaslon';
    src: url('../fonts/LibreCaslonText-Regular.woff2') format('woff2');
    font-weight: normal;
  }

  @font-face {
    font-family: 'LibreCaslon';
    src: url('../fonts/LibreCaslonText-Italic.woff2') format('woff2');
    font-style: italic;
  }

  @font-face {
    font-family: 'LibreCaslon';
    src: url('../fonts/LibreCaslonText-Bold.woff2') format('woff2');
    font-weight: bold;
  }

  :root {
    --casebook-font-size: 3.5mm;
    --casebook-line-height: calc(var(--casebook-font-size) * 1.8);
    --casebook-font-family: "LibreCaslon";
    --link-icon-height: 10mm;
    --link-icon-width: 10mm;
    --link-icon-margin: 5mm;
    --highlight-background-greyscale: #ededed;
    --highlight-background-color: #fff7b9;
  }

  /* Always start a top-level section on a new page, even if there's preface matter */
  section.section.depth-1 {
    break-before: right;
  }
  div,
  span,
  p {
    color: unset !important;
    letter-spacing: unset !important;
    font-family: var(--casebook-font-family), serif !important;
  }

  p,
  div {
    font-size: var(--casebook-font-size) !important;
    line-height: var(--casebook-line-height) !important;
    font-family: var(--casebook-font-family), serif !important;
    margin: 0;
  }



  h1.casebook.title {
    font-size: 300%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: calc(var(--casebook-font-size) * 1.5)
            0
            calc(var(--casebook-font-size) * 1.8)
            0;
    font-family: var(--casebook-font-family), serif;
    line-height: 140%;
    font-weight: normal;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 125%;
  }

  h3 {
    font-size: 125%;
  }

  .depth-2 h1 {
    font-size: 150%;
  }

  .depth-2 h2 {
    font-size: 125%;
  }

  .depth-2 h3 {
    font-size: 110%;
  }

  .depth-3 h1 {
    font-size: 100%;
    font-weight: bold;
  }

  .depth-3 h2 {
    font-size: 100%;
    font-weight: bold;
  }

  .depth-3 h3 {
    font-size: 100%;
    font-weight: bold;
  }

  /* Headers for links are much smaller */
  h1.link {
    font-size: 110%;
    font-weight: bold;
  }
  h2.subtitle {
    font-size: 100%;
    font-style: italic;
  }

  /* Headnotes don't have indentation */
  section.headnote p {
    text-indent: initial;
  }

  section.link {
    margin-top: 10mm;
  }
  section.depth-2.legaldocument {
    break-before: page;
  }
  sup {
    font-size: calc(var(--casebook-font-size) / 2.5);
  }
  ol, ul {
    margin: initial;
  }
  li {
    list-style-type: initial;
  }

  div.author-list {
    margin: 0;
  }

  /* Book content (but not metadata or other types) should be indented. */
  .node-container > p, section > p, article.opinion > p {
    text-indent: 2em;
  }
  .title > .ordinal:not(:empty) {
    float: left;
    width: 10mm;
  }
  .title > span:nth-of-type(2) {
    display: block;
  }
  .link-container {
    min-height: var(--link-icon-height);
    width: 100%;
  }

  a[data-type~="link"] {
    word-break: break-all;
  }

  .link-icon {
    width: var(--link-icon-width);
    height: var(--link-icon-height);
    margin-right: var(--link-icon-margin);
    background: url("../images/Link.svg");
    background-size: cover;
    float: left;
  }

  .truncated-title {
    string-set: title content(text);
  }
  .hidden {
    display: none;
  }

  h1.casebook.title {
    string-set: casebook-title content(text);
  }

  .casebook-metadata:not([data-paginator-page="1"]) {
    display: none;
  }

  .casebook-metadata div {
    margin-bottom: 20mm;
  }

  .casebook-metadata li,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .highlighted, mark {
    background: var(--highlight-background-color);
    padding: calc(var(--casebook-line-height) * .2) 0;
  }

  .elided {
    display: none;
  }
  .elision-marker {
    text-decoration: none;
  }
  del.replace, del.correction {
    display: none;
  }
  ins.replace, ins.correction {
    text-decoration: none;
  }

  /* Set up a new container that avoids inheriting styles from block parents */
  .authors-note {
    break-inside: avoid;
    font-weight: initial;
    text-align: initial;
    font-style: initial;
    text-indent: initial;
  }

  /* Usually hidden node title that will be displayed in screen view */
  .node-heading {
    display: none;
  }
}
/* Styling that applies only to the screen-based reader view */
@media screen {

  main {
    margin: 5vh 0;
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 15vw 65vw 15vw;
  }
  article p, article div {
    margin: 1rem 0;
  }
  main > article {
    background-color: white;
    padding: 5vh 5vw 10vh 5vw;
    grid-area: center;
  }
  main > .left {
    height: auto;
    grid-area: left;
  }
  main > .right {
    height: auto;
    grid-area: right;
  }
  aside.authors-note {
    position: absolute;
    right: 2vw;
    background: white;
    border: 1px solid lightgray;
    padding: 1rem;
    width: 15vw;
  }
  mark.note-mark {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: lightgrey;
    text-underline-offset: 5px;
    background: none;
  }
  a.footnote-generated {
    display: none;
  }
  .node-heading {
    display: block;
    /* position: sticky; try this with IntersectionObserver */
    float: left;
    font-size: 10px;
    width: 13vw;
    margin-left: -20vw;
    text-align: right;
  }
  .node-heading.depth-1 {
    top: 5vh;
  }
  .node-heading.depth-2 {
    top: 10vh;
  }
  .node-heading.depth-3 {
    top: 15vh;
  }
  .node-heading.depth-4 {
    top: 20vh;
  }
  @media (max-width: 552px) {

    main {
      margin: 0 auto;
      grid-template-areas: center;
      grid-template-columns: 1fr;
    }
    footer nav button.print-preview {
      display: none;
    }
  }
}


/* Styling that only applies to the print preview, or when the screen preview is printed */
@media print {
  @page {
    size: letter;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  /* Style footnotes, allowing the URLs to break midway. PagedJS will put these in the bottom margin */
  .footnote-generated {
    float: footnote;
    word-wrap: break-word;
    font-size: calc(var(--casebook-font-size) * .75);
  }
  /* Add some spacing to the superscript indicating a footnote. */
  ::footnote-call {
    margin-left: .5mm;
  }
  .pagedjs_page .pagedjs_footnote_content {
    border-top: 1px solid var(--highlight-background-greyscale);
    margin-top: 2mm;
  }
  /* Generate the corresponding footnote reference in the footer as e.g. "2. <footnote-text>"
   Don't allow long URLs to break on the space in this marker. */
  [data-footnote-marker]::marker {
    content: counter(footnote-marker) ". ";
    white-space: nowrap;
  }
  [data-footnote-marker]::after {
    content: " ";
  }

  /* Support for greyscale-only printing */
  @media not color {
    .highlighted {
      background: var(--highlight-background-greyscale);
    }
  }


  @page:right {
    @top-center {
      content: string(title);
    }
    @bottom-right {
      content: counter(page);
    }
  }
  @page:left {
    @top-center {
      content: string(casebook-title);
    }
    @bottom-left {
      content: counter(page);
    }
  }
  @page {
    @footnote {
      float: bottom;
    }
  }
}