@import "cap.css" print;
@import "toc.css" print;

@media print {

  @font-face {
    font-family: 'LibreCaslon';
    src: url('../fonts/LibreCaslonText-Regular.woff2') format('woff2');
    font-weight: normal;
  }

  @font-face {
    font-family: 'LibreCaslon';
    src: url('../fonts/LibreCaslonText-Italic.woff2') format('woff2');
    font-style: italic;
  }

  :root {
    --casebook-font-size: 4mm;
    --casebook-line-height: 170%;
    --casebook-font-family: "LibreCaslon";
  }


  a {
    text-decoration: none;
  }

  .ordinal {
    display: inline-block;
    margin: 0 1em 0 0;
  }

  /* Always start a top-level section on a new page, even if there's preface matter */
  section.section.depth-1 {
    break-before: right;
  }

  span,
  p {
    color: unset !important;
    letter-spacing: unset !important;
    font-size: unset !important;
    line-height: unset !important;

  }

  span,
  p,
  div {
    font-size: var(--casebook-font-size) !important;
    line-height: var(--casebook-line-height) !important;
    font-family: var(--casebook-font-family), serif !important;
  }

  /* Book content (but not metadata or other types) should be indented. */
  .node-container p {
    text-indent: 2em;
  }

  h1.casebook.title {
    font-size: 300%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 10mm 0 0.5em 0;
    font-family: var(--casebook-font-family), serif;

  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-size: 125%;
  }

  h3 {
    font-size: 125%;
  }

  .depth-2 h1 {
    font-size: 150%;
  }

  .depth-2 h2 {
    font-size: 125%;
  }

  .depth-2 h3 {
    font-size: 110%;
  }

  .depth-3 h1 {
    font-size: 100%;
  }

  .depth-3 h2 {
    font-size: 100%;
  }

  .depth-3 h3 {
    font-size: 100%;
  }

  section.link {
    margin-top: 10mm;
  }

  .link-icon {
    width: 10mm;
    height: 10mm;
    position: absolute;
    background: url("../images/Link.svg");
    background-size: cover;
  }

  .link-icon + .node-container {
    margin-left: 14mm;
  }

  h1.title {
    string-set: title content(text);
  }

  h1.casebook.title {
    string-set: casebook-title content(text);
  }

  .casebook-metadata:not([data-paginator-page="1"]) {
    display: none;
  }

  .casebook-metadata div {
    margin-bottom: 20mm;
  }

  .casebook-metadata li,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  section.depth-2.legaldocument {
    break-before: page;
  }

  sup {
    font-size: calc(var(--casebook-font-size) / 2.5);

  }

  @page {
    @bottom-right {
      content: counter(page);
    }
  }

  @page:right {
    @top-center {
      content: string(title);
      max-width: 100mm;
      height: 9mm;
    }
  }
  @page:left {
    @top-center {
      content: string(casebook-title);
    }
  }
  .pagedjs_right_page .pagedjs_margin-top-center .pagedjs_margin-content {
    text-overflow: ellipsis;
    line-height: 1em;
    background: green;
    max-height: 1em;

  }
}
