@import "all.css";

/* Styling that applies only to the screen-based reader view */
@media screen {
  :root {
    --casebook-font-family: "Chronicle Text G3";
    --casebook-font-size: 18px;
    --margin-font-size: 14px;
    --casebook-line-height: 1.8em;
    --link-icon-height: 25px;
    --link-icon-width: 25px;
  }
  main {
    box-sizing: border-box;
    margin: 0 15vw 10vw 15vw;
  }
  /* Lay out frontmatter based on whether this is the first chapter */
  .casebook-metadata:not([data-paginator-page="1"]) .headnote {
    display: none;
  }

  .casebook-metadata {
    padding: 5vh 5vw;
  }
  article :is(p, div),
  .headnote :is(p, div) {
    margin: 1rem 0;
  }
  main > article {
    background-color: white;
    padding: 5vh 5vw;
  }

  aside.authors-note {
    float: right;
    clear: both;
    font-style: normal;
    font-weight: normal;
    border-radius: 5px;
    margin-right: -20vw;
    margin-bottom: 10px;
    background: white;
    border: 1px solid lightgray;
    padding: 1rem;
    width: 15vw;
    transition: transform 0.1s ease-in;
    line-height: var(--casebook-line-height);
    font-family: var(--font-sans-serif) !important;
    font-size: var(--margin-font-size) !important;
  }

  mark.note-mark {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--background-color);
    text-underline-offset: 5px;
    background: none;
  }
  mark.note-mark:is(:hover, :focus) {
    background: var(--highlight-background-color);
  }
  mark.note-mark:is(:hover, :focus) + aside {
    background: var(--highlight-background-color);
    z-index: 99;
    border: 1px solid black;
    transform: translateX(-10px);
  }
  aside.authors-note:is(:hover, :focus) {
    background: var(--highlight-background-color);
    z-index: 99;
    border: 1px solid black;
    transform: translateX(-10px);
  }
  mark.note-mark:has(+ aside:is(:hover, :focus)) {
    background: var(--highlight-background-color);
  }
  a.footnote-generated {
    display: none;
  }
  .node-heading {
    display: block;
    width: 13vw;
    margin-left: -20vw;
    float: left;
    text-align: right;
    font-family: var(--font-sans-serif) !important;
    font-size: var(--margin-font-size) !important;
    line-height: var(--casebook-line-height);
  }
  .node-heading.depth-1 {
    top: 5vh;
  }
  .node-heading.depth-2 {
    top: 10vh;
  }
  .node-heading.depth-3 {
    top: 15vh;
  }
  .node-heading.depth-4 {
    top: 20vh;
  }

  body {
    background-color: var(--color-background);
  }

  header.screen-only {
    margin: 2rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header.screen-only p {
    font-family: var(--font-sans-serif) !important;
    margin: 0 2rem;
  }
  header.screen-only img {
    max-height: 50px;
  }

  footer nav {
    --nav-font-size: 16px;

    background-color: var(--color-light-blue);
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 10px;
    position: fixed;

    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  footer nav a {
    text-decoration: none;
    color: var(--color-white);
  }
  footer nav button {
    border: 0;
    padding: 10px;
  }
  footer nav .controls {
    font-family: var(--font-sans-serif) !important;
    text-align: center;
    display: block;
    background: var(--color-white);
    color: var(--color-black);
    margin: -120px 20px 0 20px;
    border: var(--color-light-gray) 1px solid;
    padding: 10px;
    font-size: var(--nav-font-size);
    cursor: pointer;
  }
  footer .controls:hover {
    background: var(--color-light-blue);
    color: var(--color-white);
  }
  footer span {
    display: inline-block;
    text-align: center;
    font-family: var(--font-sans-serif) !important;
  }
  footer a {
    text-decoration: none;
  }

  footer a.unlinked {
    color: var(--color-light-gray) !important;
  }
  #page-selector {
    background: var(--color-light-blue);
    color: var(--color-white);
    font-size: var(--nav-font-size);
    border: none;
  }

  /* Show underlining for TOC hyperlinks in the web view only */
  nav.toc a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 1mm;
    text-decoration-color: var(--color-dark-gray);
  }
  @media (max-width: 552px) {
    .left a {
      left: 40vw;
    }
    main {
      margin: 0 auto;
      grid-template-areas: center;
      grid-template-columns: 1fr;
    }
    header.screen-only {
      margin-bottom: 2rem;
    }
    header.screen-only p {
      margin: 0 0 0 1rem;
    }
    footer nav button.print-preview {
      display: none;
    }
  }
  @font-face {
    font-family: "Chronicle Text G3";
    src: url("../fonts/ChronicleTextG3-Regular.woff2") format("woff2");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Chronicle Text G3";
    src: url("../fonts/ChronicleTextG3-Italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Chronicle Text G3";
    src: url("../fonts/ChronicleTextG3-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
  }
}
