nav.toc {
    --toc-column-gap: 2mm;
    --toc-row-gap: 5mm;
    --toc-left-width: 10mm;
}
nav.toc h2 {
    margin: calc(var(--toc-row-gap) * 2) 0;
}
nav.toc h3 {
    display: inline;
    margin: 0;
    font-size: 1em;
}
nav.toc ol {
    padding: 0;
}

nav.toc > ol > li {
    display: grid;
    grid-template-columns: var(--toc-left-width) auto;
    column-gap: var(--toc-column-gap);
    row-gap: var(--toc-row-gap);
    margin:  var(--toc-row-gap) 0 var(--toc-row-gap) 0;
}

nav.toc > ol > li > ol{
    grid-column: 1 / span 2;
}

nav.toc > ol > li > ol li {
    display: grid;
    grid-template-columns: var(--toc-left-width) auto;
    column-gap: var(--toc-column-gap);
    line-height: 2em;
}

nav.toc > ol > li > ol > li:last-child {
    margin: 0 0 var(--toc-row-gap) 0;
}
