<div class="case" id="case-1">

  <div class="metadata">
    <h1>Case Title</h1>
    <p>Date, citations, etc.</p>
  </div>

  <div class="content">

    <%= build_html_hooks(File.open(RAILS_ROOT + '/doc/design/sample_case.html').read) %>


  </div>

</div>
