import {html} from 'es6-string-html-template';
import delegate from 'delegate';
import ModalComponent from 'lib/ui/modal';


delegate(document, '[data-action="show-casebook-modal"]', 'click', (e) => showCasebookModal(e));

function showCasebookModal (e) {
  new NewCasebookModal('new-casebook-modal', e.target);
}

class NewCasebookModal extends ModalComponent {
  template () {
    return html`<div class="modal fade in" id="${this.id}" style="display: block"  tabindex="-1" aria-labelledby="${this.id}-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="${this.id}-title" class="modal-title"><%= t 'content.dashboard.new-casebook-modal.title' %></h4>
          </div>
          <div class="modal-body">
            <%= I18n.t 'content.dashboard.new-casebook-modal.body' %>
          </div>
          <div class="modal-footer">
            <a href="/casebooks/new" class="modal-button"><%= t 'content.dashboard.new-casebook-modal.from-scratch' %></a>
            <a href="/search" class="modal-button"><%= t 'content.dashboard.new-casebook-modal.adapt-existing' %></a>
          </div>
        </div>
      </div>
    </div>`
  }
}
