<% depend_on Rails.root.join('lib/locales/en/content.yml') %>

import {html} from 'es6-string-html-template';
import delegate from 'delegate';
import Component from 'lib/ui/component';


delegate(document, '[data-action="show-casebook-modal"]', 'click', (e) => showCasebookModal(e));

let modal = null;
let trigger = null;

function restrictFocus (e) {
  if (!modal.el.contains(e.target)) {
    e.stopPropagation();
    modal.el.focus();
  }
}

function showCasebookModal (e) {
  modal = new NewCasebookModal;
  trigger = e.target;
}

class NewCasebookModal extends Component {
  constructor () {
    super({
      id: 'new-casebook-modal',
      events: {
        'click #new-casebook-modal': (e) => { if (e.target.id === 'new-casebook-modal') this.destroy()},
        'click .close': (e) => { this.destroy() },
        'keydown #new-casebook-modal': (e) => { if (e.key=='Escape'||e.key=='Esc'||e.keyCode==27) this.destroy()},
      }
    });
    document.body.insertBefore(this.el, document.body.firstChild);
    this.render();
    this.el.focus();
    document.querySelector('.modal-overlay').classList.add('open');
    document.getElementById('non-modal').setAttribute('aria-hidden', 'true');
    document.addEventListener('focus', restrictFocus, true);
  }

  destroy () {
    document.removeEventListener('focus', restrictFocus, true);
    document.getElementById('non-modal').removeAttribute('aria-hidden');
    document.querySelector('.modal-overlay').classList.remove('open');
    trigger.focus();
    super.destroy();
    modal = null;
    trigger = null;
  }

  template () {
    return html`<div class="modal fade in" id="new-casebook-modal" style="display: block"  tabindex="-1" aria-labelledby="new-casebook-modal-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 id="new-casebook-modal-title" class="modal-title"><%= t 'content.dashboard.new-casebook-modal.title' %></h4>
          </div>
          <div class="modal-body">
            <%= I18n.t 'content.dashboard.new-casebook-modal.body' %>
          </div>
          <div class="modal-footer">
            <%= link_to t('content.dashboard.new-casebook-modal.from-scratch'), :new_casebook, class: 'modal-button' %>
            <%= link_to t('content.dashboard.new-casebook-modal.adapt-existing'), :search, class: 'modal-button' %>
          </div>
        </div>
      </div>
    </div>`
  }
}
