<% depend_on Rails.root.join('lib/locales/en/content.yml') %>

import {html} from 'es6-string-html-template';
import delegate from 'delegate';
import Component from 'lib/ui/component';

delegate(document, 'a.action.export', 'click', showExportModal);

function resource_export_path(resourceId, format = 'docx') {
  return '<%= j resource_export_path('_ID', format: '_FORMAT') %>'.replace('_ID', resourceId).replace('_FORMAT', format);
}
function section_export_path(sectionId, format = 'docx') {
  return '<%= j section_export_path('_ID', format: '_FORMAT') %>'.replace('_ID', sectionId).replace('_FORMAT', format);
}
function export_casebook_path(casebookId, format = 'docx') {
  return '<%= j export_casebook_path('_ID', format: '_FORMAT') %>'.replace('_ID', casebookId).replace('_FORMAT', format);
}

let modal = null;

function showExportModal (e) {
  e.preventDefault();
  e.stopPropagation();
  modal = new ExportModal;
}

class ExportModal extends Component {
  constructor () {
    super({
      id: 'export-modal',
      events: {
        'click #export-modal': (e) => { if (e.target.id === 'export-modal') this.destroy()},
        'click .close': (e) => { this.destroy() },
        'click .cancel': (e) => { this.destroy() },
        'click .export': (e) => {
          let resourceId = document.querySelector('main > header').dataset.resourceId;
          let sectionId = document.querySelector('main > header').dataset.sectionId;
          let casebookId = document.querySelector('main > header').dataset.casebookId;
          let annotations = e.target.value;
          if (resourceId)  {
            window.open(resource_export_path(resourceId) + (annotations == "true" ? '?annotations=true' : '?annotations=false'));
          } else if (sectionId)  {
            window.open(section_export_path(sectionId) + (annotations  == "true" ? '?annotations=true' : '?annotations=false'));
          } else {
            window.open(export_casebook_path(casebookId) + (annotations == "true" ? '?annotations=true' : '?annotations=false'));
          }
          this.destroy()
        },
      }
    });
    document.body.appendChild(this.el);
    document.body.classList.add('modal-open');
    this.render();
  }

  casebookId () {
    return document.querySelector('header.casebook').dataset.casebookId;
  }

  sectionId () {
    return document.querySelector('header.casebook').dataset.sectionId;
  }

  destroy () {
    super.destroy();
    document.body.classList.remove('modal-open');
    modal = null;
  }

  template () {
    return html`<div class="modal fade in" id="export-modal" style="display: block">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close"><span>&times;</span></button>
            <h4 class="modal-title export-title"><%= t 'content.export-modal.title' %></h4>
          </div>
          <div class="modal-body">
            <div class="export-annotations">
              <button name="include-annotations" value=true class="modal-button export with-annotations">With annotations</button>
              <button name="include-annotations" value=false class="modal-button export no-annotations">Without annotations</button>
            </div>
          </div>
        </div>
      </div>
    </div>`
  }
}