/* tables */
table.tablesorter thead tr .header {
	background-image: url(/images/elements/th-bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/elements/th-asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/elements/th-desc.gif);
}
