<li <%= raw 'class="current"' if @collage == collage %>>
<% if @collage == collage -%>
<span id="current_marker">Current Collage</span><br />
<% end -%>
<%= link_to "#{collage.created_at.to_s(:simpledatetime)} by", collage %>
<%= raw collage.creators.collect { |u| link_to(u.display, user_path(u)) }.join(',') %><br />
<% if collage.children.size > 0 -%>
	<ul class="lineage">
	<% collage.children.each do |child| -%>
	<%= render :partial => 'collage_children',
  		:locals => { :collage => child,
  		:recursive_level => recursive_level + 1 } %>
	<% end -%>
	</ul>
<% end -%>
</li>
