<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'collage-logo',
  :url => collages_path,
  :right_search => 'collages/nav_search' } %>

<div id="collage">
<%= render :partial => 'shared/forms/collage' %>
<div class="cl"></div>
</div>
