<% @results.results.each do |hit| -%>
<%= render :partial => "shared/objects/#{hit.class == Case ? 'case_obj' : hit.class.to_s.downcase}",
           :locals => { (hit.class == Case ? :case_obj : hit.class.to_s.downcase.to_sym) => hit } %>
<% end %>

<div id="new_pagination">
<%= will_paginate @results.hits, :container => false, :previous_label => '', :next_label => '', :params => { :ajax => 1 } %>
</div>
