<div class="yellow_title_med">Playlists that you own</div>

<p>
<%= render :partial => 'objects_block', :locals => {:objects => @playlists} %>
</p>

<div class="yellow_title_med">Rotisserie Instances that you own</div>

<p>
<%= render :partial => 'objects_block', :locals => {:objects => @rotisserie_instances} %>
</p>

<div class="yellow_title_med">Rotisserie Discussions that you own</div>

<p>
<%= render :partial => 'objects_block', :locals => {:objects => @rotisserie_discussions} %>
</p>

