{% if content.ordinals %}
  <div class="breadcrumbs">
    {{ content.type | title }}
    {# Do we need a suffix for the urls like {% if not casebook.public %}/layout{% endif %} here? #}
    {% for ordinal in content.ordinals_with_urls %}
      {% if forloop.last %}
        <span class="breadcrumb active">{{ ordinal.ordinal }}</span>
      {% else %}
        <a class="breadcrumb" href="{{ ordinal.url }}">{{ ordinal.ordinal }}</a>
        <span class="separator">.</span>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
