<nav>
  <div class="content">
    <div class="brand">
      <a class="wrapper logo" href="{% url 'index' %}">H2O</a>
    </div>
    <div class="links">
      {% if request.user.is_authenticated %}
        <button type="button" class="create-casebook" data-action="show-casebook-modal">Create Casebook</button>
      {% endif %}
      <a href="{% url 'search' %}">Search</a>
    </div>
    <div class="user">
      {% if request.user.is_authenticated %}
        <div class="current-user">
          {% if request.user.is_verified_professor %}
            <div class="verified">Verified User</div>
          {% endif %}
          <div class="dropdown">
            <button type="button" id="dLabel" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <span class="name">
                {{ request.user.display_name }}
              </span>
              <span class="caret"></span>
            </button>
            <ul class="user-links dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
              <li><a class="user-link" href="{% url 'dashboard' request.user.id %}">Dashboard</a></li>
              <li><a class="user-link" href="{% url 'edit_user' request.user.id %}">Edit Profile</a></li>
              <li>
                <form class="button_to" method="post" action="{% url "logout" %}">
                  {% csrf_token %}
                  <button type="submit" class="user-link">Sign Out</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      {% else %}
        <a class="sign-up" href="{% url "sign_up" %}">Sign Up</a>
        <a class="sign-in" href="{% url "login" %}">Sign In</a>
      {% endif %}
    </div>
  </div>
</nav>


