{% load include_previous_object times subtract call_method %}
<section class="table-of-contents">
  {% if section %}<h5>Section Contents</h5>{% endif %}
  {% with contents.first.ordinals|length as initial_level %}
    {% for previous_content, content in contents|include_previous_object %}
      {% with content.ordinals|length as current_level %}
        {% with previous_content.ordinals|length|default:current_level as previous_level %}

          {# Adjust level of nesting as appropriate: first loop if nesting deeper, second loop if unnesting #}
          {% for _ in current_level|subtract:previous_level|times %}
            <div class="section-wrapper">
              <div class="section-contents{% if editing %} editable{% endif %}">
          {% endfor %}
          {% for _ in previous_level|subtract:current_level|times %}
              </div>
            </div>
          {% endfor %}

          {# TOC entry #}
          {% call_method content 'get_edit_or_absolute_url' editing=editing as url %}
          {% if content.type == 'resource' %}
            <div class="listing-wrapper" data-ordinals="{{ content.ordinal_string }}">
              <a class="listing resource" href="{{ url }}" {% if editing %}draggable="true" data-ordinals="{{ content.ordinal_string }}" data-editable=""{% endif %}>
                <div class="section-number">{{ content.ordinal_string }}</div>
                  {% if content.resource_type == 'Case' %}
                    <div class="resource-container">
                      <div class="section-title case-section-title">
                        {{ content.get_title }}
                      </div>
                      <div class="case-metadata-container">
                        <div class="resource-case">{{ content.resource.citations.0.cite }}</div>
                        <div class="resource-date">{{ content.resource.decision_date | date:"Y" }}</div>
                      </div>
                    </div>
                    <div class="resource-type-container">
                      <div class="resource-type">
                        Case
                      </div>
                    </div>
                  {% elif content.resource_type == 'TextBlock' %}
                    <div class="resource-container">
                      <div class="section-title">
                        {{ content.get_title }}
                      </div>
                    </div>
                    <div class="resource-type-container">
                      <div class="resource-type">
                        Text
                      </div>
                    </div>
                  {% elif content.resource_type == 'Default' %}
                    <div class="resource-container">
                      <div class="section-title">
                        {{ content.get_title }}
                      </div>
                    </div>
                    <div class="resource-type-container">
                      <div class="resource-type">
                        Link
                      </div>
                    </div>
                {% endif %}
              </a>
              {% if editing %}<div class="actions"><button class="action-delete"></button></div>{% endif %}
            </div>
          {% elif content.type == 'section' %}
            <div class="listing-wrapper" {% if editing %}draggable="true" data-ordinals="{{ content.ordinal_string }}"{% endif %}>
              <a class="listing section" href="{{ url }}" {% if editing %}draggable="true" data-ordinals="{{ content.ordinal_string }}" data-editable=""{% endif %}>
                <div class="section-number">{{ content.ordinal_string }}</div>
                <div class="section-title">{{ content.get_title }}</div>
              </a>
              {% if editing %}<div class="actions"><button class="action-delete"></button></div>{% endif %}
            </div>
          {% endif %}

          {# Close any remaining open levels of nesting #}
          {% if forloop.last %}
            {% for _ in current_level|subtract:initial_level|times %}
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endwith %}
    {% empty %}
      <div class="listing empty">
        This {% if section %}section{% else %}casebook{% endif %} has no content yet.
      </div>
    {% endfor %}
  {% endwith %}
</section>
