<section class="table-of-contents">
  {% if section %}<h5>Section Contents</h5>{% endif %}
  {% for content in contents %}
    {% if content.type == 'resource'  %}
      <div class="listing-wrapper" data-ordinals="{{ content.ordinal_string }}">
        <a class="listing resource" href="#">
          <div class="section-number">{{ content.ordinal_string }}</div>
            {% if content.resource_type == 'Case' %}
              <div class="resource-container">
                <div class="section-title case-section-title">
                  {{ content.title }}
                </div>
                <div class="case-metadata-container">
                  <div class="resource-case">{{ content.resource.citations.0.cite }}</div>
                  <div class="resource-date">{{ content.resource.date_year }}</div>
                </div>
              </div>
              <div class="resource-type-container">
                <div class="resource-type">
                  Case
                </div>
              </div>
            {% elif content.resource_type == 'TextBlock' %}
              <div class="resource-container">
                <div class="section-title">
                  {{ content.title }}
                </div>
              </div>
              <div class="resource-type-container">
                <div class="resource-type">
                  Text
                </div>
              </div>
            {% elif content.resource_type == 'Default' %}
              <div class="resource-container">
                <div class="section-title">
                  {{ content.title }}
                </div>
              </div>
              <div class="resource-type-container">
                <div class="resource-type">
                  Link
                </div>
              </div>
          {% endif %}
        </a>
      </div>
    {% elif content.type == 'section' %}
      <div class="listing-wrapper" data-ordinals="{{ content.ordinal_string }}">
        <a class="listing section" href="{% url 'section' casebook_id=content.casebook.id ordinals=content.ordinals %}">
          <div class="section-number">{{ content.ordinal_string }}</div>
          <div class="section-title">{{ content.title }}</div>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</section>
