<h1>Editing rotisserie_tracker</h1>

<% form_for(@rotisserie_tracker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotisserie_tracker %> |
<%= link_to 'Back', rotisserie_trackers_path %>