<h1>Listing rotisserie_trackers</h1>

<table>
  <tr>
  </tr>

<% @rotisserie_trackers.each do |rotisserie_tracker| %>
  <tr>
    <td><%= link_to 'Show', rotisserie_tracker %></td>
    <td><%= link_to 'Edit', edit_rotisserie_tracker_path(rotisserie_tracker) %></td>
    <td><%= link_to 'Destroy', rotisserie_tracker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rotisserie_tracker', new_rotisserie_tracker_path %>