<h1>New rotisserie_tracker</h1>

<% form_for(@rotisserie_tracker) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rotisserie_trackers_path %>