<div id="annotation_or_collage_link" style="display:none; margin-left: 100px; margin-top: 20px; margin-bottom: 20px">
  <input type="hidden" name="annotation_start" value="<%= @annotation_start %>" />

  <input type="hidden" name="annotation_end" value="<%= @annotation_end %>" />
  <input type="hidden" name="collage_id" value="<%= @collage_id %>" />
  <form>
    <input type="radio" name="abstract_type" value="annotation" checked> Create a new Layer and/or Annotation<br/><br/>
    <input type="radio" name="abstract_type" value="link"> Link to another Collage
  </form>
</div>
