<%
  if ['edit'].include?(controller.action_name)
    playlist_object = Playlist.find(params[:id])
  else
    playlist_object = Playlist.new
  end
-%>
<div id="error_block"></div>
<% semantic_form_for playlist_object do |form| %>
  <% form.inputs do %>
    <% #  form.input :title, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
    <!-- <li></li> -->
    <%= form.input :output_text, :label => "Name", :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
    <li></li>
    <%= form.input :description,
      :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
      :required => false,
      :hint => 'You can use textile markdown in the description. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank')
    %>
    <li></li>
  <% end -%>
<% end -%>
