<%  
  if ['edit'].include?(controller.action_name)
    playlist_object = Playlist.find(params[:id])
  end
-%>
<div id="error_block" class="error ui-corner-all" style="display: none;"></div>
<h3 style="display:none;" id="generic_title"><%= @playlist.new_record? ? 'Add a new Playlist' : "Edit \"#{@playlist.name}\"" %></h3>
<% semantic_form_for playlist_object do |form| %>
  <% form.inputs do %>
    <%= form.input :name, :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
    <li></li>
    <%= form.input :description,
      :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
      :required => false,
      :hint => "You can use html and textile markdown in the description. #{link_to('docs', 'http://redcloth.org/textile', :target => '_blank')}<br/>Allowed tags: #{ WHITELISTED_TAGS.sort.join(' ') }",
      :html_safe => true
    %>
	<%= form.input :tag_list,
	  :as => :string,
	  :hint => 'Please define the tags for this playlist in a comma-separated list.',
	  :label => 'Tags',
	  :input_html => { :class => 'tagging-autofill-tags' }
	%>
    <li></li>
  <% end -%>
<% end -%>
