<%  
  if ['edit'].include?(controller.action_name)
    playlist_object = Playlist.find(params[:id])
  end
-%>
<div id="error_block" class="error ui-corner-all" style="display: none;"></div>
<% semantic_form_for playlist_object do |form| %>
  <% form.inputs do %>
    <%= form.input :name, :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
    <li></li>
    <%= form.input :description,
      :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
      :required => false,
      :hint => 'You can use textile markdown in the description. ' + link_to('docs', 'http://redcloth.org/textile', :target => '_blank'),
      :html_safe => true
    %>
    <li></li>
  <% end -%>
<% end -%>
