<h3 id="generic_title">Remix Playlist</h3>
<%
  playlist_object = Playlist.find(params[:id])
-%>
<div id="error_block"></div>
  <% semantic_form_for playlist_object, :url => copy_playlist_path(playlist_object), :html => {:id => "copy_playlist_#{playlist_object.id}", :method => "post", :class => "playlist_form formtastic"} do |form| %>
  <% form.inputs do %>
        <% #  form.input :title, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
        <!-- <li></li> -->
        <%= form.input :name, :as => :string, 
          :input_html => {:class => "ui-widget-content ui-corner-all", :value => "Copy of " + playlist_object.name} %>
        <li></li>
        <%= form.input :description,
          :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
          :required => false
        %>
        <li></li>
<% end -%>
<% end -%>
