<%
if controller.action_name == 'edit'
  rotisserie_object = RotisserieInstance.find(params[:id])
else
  rotisserie_object = RotisserieInstance.new
end
%>

<div id="error_block"></div>
  <% semantic_form_for rotisserie_object, :html => {:class => 'ui-widget'} do |form| %>
  <% form.inputs do %>
        <%= form.input :title, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
        <%= form.input :output, :label => "Display", :as => :string, :input_html => {:class => "ui-widget-content ui-corner-all"} %>
        <%= form.input :description,
          :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
          :required => false
        %>
        <%= form.input :notes,
          :input_html => {:size => '40x5', :class => "ui-widget-content ui-corner-all"},
          :required => false
        %>
  <% end %>
  <% end %>

