<% if [Playlist, Media, TextBlock, Case, Collage].include?(form.object.class) -%>
  <li id="public_active_terms">
  <span id="terms_require">
    <p class="inline-hints">Submitting this item will allow others to see, copy, and create derivative works from this item in accordance with H2O's <a href="/p/terms" target="_blank">Terms of Service</a>.</p>
  </span>
  </li>
<% end -%>
