<li id="public_active_terms">
<label>&nbsp;</label>
<p class="inline-hints">Others will be able to see, copy, and create derivative works from this item in accordance with <a href="/p/terms" target="_blank">H2O's Terms of Service</a>.</p>
</li>

<%= form.input :public,
  :required => false,
  :as => :boolean,
  :label => 'Public?',
  :hint => 'If this item is public, then others will be able to see, copy, or create derivative works from it.'
%>
<%= form.input :active,
  :required => false,
  :as => :boolean,
  :label => 'Active?',
  :hint => 'If this item is active, others will be able to see it. Uncheck this to create a "draft" item.'
%>
