<h1>Case import failed</h1>

<h3>User:</h3> 
<%= @user.inspect %>
<hr>
<h3>Case Metadata:</h3>
<%= @case_metadata.inspect %>
<hr>
<h3>Errors:</h3>
<h5>If there was a Cap API failure this will be API errors. If it was an error saying the case, case citations or docket number this will show the object error messages.</h5>
<%= @options.inspect %>
