Your case request <%= @case_request.full_name %> was approved and a case was created.  You can view this case by <a href="<%= case_url(@case_request.case) %>">clicking on this link</a> or by copy and pasting the url below:
<%= case_url(@case_request.case) %>
