<h2>Merging draft casebook into published casebook failed.</h2>
<div>
  <p>Exception: </p>
  @exception.inspect
</div>
<div>
  <p>User:</p>
  @user.inspect
</div>
<div>
  <p>Draft Casebook: </p>
  @draft.inspect
</div>
<div>
  <p>Pulished Casebook: </p>
  @published.inspect
</div>