<h2>Annotations not found for paragraph nodes</h2>
<div>
  <p>Owners:</p>
  <%= @owners %>
</div>

<div>
  <p>Resource:</p>
  <%= @resource.inspect %>
</div>

<div>
  <p>Annotation:</p>
  <%= @annotation.inspect %>
</div>
