<!DOCTYPE HTML>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <strong>Welcome to H2O!</strong>
    <p>Take a look at our User Guide here: <a href="about.opencasebook.org">about.opencasebook.org</a>, and our getting started videos here: <a href="about.opencasebook.org/other-resources">about.opencasebook.org/other-resources</a>.</p>
    <p>To jump right into creating a new casebook/collection of materials, click 'Create Casebook' at the top of the page. To build on an existing casebook, use Search to find the casebook you want, then click Clone.</p>
    
    <strong>Follow us!</strong>
    <p>Be sure to follow us on Twitter at <a href="twitter.com/opencasebook">twitter.com/opencasebook</a> and keep up with our blog at <a href="blogs.harvard.edu/H2Oharvard">blogs.harvard.edu/H2Oharvard</a>.</p>
    
    <strong>Questions?</strong>
    <p>Visit our Frequently Asked Questions page at opencasebook.org/pages/faq, but feel free to let us know if you have any questions the online documentation doesn't address - or if you encounter any technical issues - at <a href="mailto:info@opencasebook.org">info@opencasebook.org</a>.</p>
  </body>
</html>