<%= javascript_tag(%q|jQuery(function() {
    jQuery("#email_submit").button();
  });|) %>

<div id="email_validation_response">

<% if bad_array.blank?%>
  <p>
    <a id="email_submit">Send Invitations</a>
  </p>
<% end %>

<% if good_array.present? %>
<p>
<h2 style="color: green;">Valid</h2>
  <% good_array.each do |good_address| %>
    <div name="good_address"><%= h(good_address) %></div>
  <% end %>
</p>
<% end %>

<% if bad_array.present? %>
<p>
<h2 style="color: red;">Invalid</h2>
  <% bad_array.each do |bad_address| %>
    <div name="bad_address"><%= h(bad_address) %></div>
  <% end %>
</p>
<% end %>
</div>