<h1>Editing rotisserie_instance</h1>

<% form_for(@rotisserie_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotisserie_instance %> |
<%= link_to 'Back', rotisserie_instances_path %>