<div class="info_block">
 <div class="yellow_title_med">Instances</div>
 This list shows instances or "groups" of rotisseries that you have access to.  You may edit or delete the instances here if
 you have the correct permissions.
</div>

<% current_user.rotisserie_assignments.each do |assignment| %>
  <% if assignment.open? %>
    <span class="assignment">
    <%= link_to "Discussion: #{assignment.rotisserie_discussion.title}", rotisserie_discussion_path(assignment.rotisserie_discussion) %>
    </span><br />
  <% end %>
<% end %>


<div id="spinner_block"></div>

<div id="list_block" class="ui-widget matrix">
<%= render :partial => 'rotisserie_instances_block' %>
</div>

<br />


<button id="button-instance-create" class="ui-button ui-state-default ui-corner-all">Create instance</button>

<div id="dialog-instance-new" title="New instance"></div>
<div id="dialog-instance-edit" title="Edit instance"></div>
<div id="dialog-instance-delete" title="Delete instance"></div>