

<h1>Listing rotisserie_instances</h1>

<div id="rotisserie_instances_block" class="ui-widget matrix">
<%= render :partial => 'rotisserie_instances_block' %>
</div>

<br />


<button id="create-instance" class="ui-button ui-state-default ui-corner-all">Create instance</button>

<div id="dialog-new" title="New instance"></div>
<div id="dialog-edit" title="Edit instance"></div>
<div id="dialog-delete" title="Delete instance"></div>