<%= javascript_tag(%q|jQuery(function() {
    jQuery("#email_validate").button();
  });|) %>

<p>Enter a list of comma separated email addresses to send invitations to the Rotisserie instance.</p>


<div id="csv-container">
  <div id="csv-submission">
  <%= text_area_tag 'csv-emails', nil,
    :rows => 15,
    :cols => 35
  %>
  </div>
  <div id="csv-preview">
  </div>
</div>

<div style="clear: both;"></div>

<p>
  <a id="email_validate">Validate Email List</a>
</p>

<div id="container_id" style="display: none;"><%= @rotisserie_instance.id %></div>
