<h1>Listing rotisserie discussions</h1>

<div id="spinner_block"></div>

<div id="list_block" class="ui-widget matrix">
<%= render :partial => 'rotisserie_discussions/rotisserie_discussions_block', :locals => {:rotisserie_instance => @rotisserie_instance} %>
</div>

<br />

<div id="container_id" style="display: none;"><%= @rotisserie_instance.id %></div>

<button id="button-discussion-create-<%= @rotisserie_instance.id %>" name="button-discussion-create" class="ui-button ui-state-default ui-corner-all">Create discussion</button>

<div id="dialog-discussion-new" title="New discussion"></div>
<div id="dialog-discussion-edit" title="Edit discussion"></div>
<div id="dialog-discussion-delete" title="Delete discussion"></div>