<div class="info_block">
 <div class="yellow_title_med">Discussions</div>
Current discussions are shown below.  If you are the owner of a discussion or have been given permission by the owner you may
edit or delete dicussions, manually crank the rotisserie or increase and decrease the starting date.
</div>

<div id="spinner_block"></div>

<div id="list_block" class="ui-widget matrix">
<%= render :partial => 'rotisserie_discussions/rotisserie_discussions_block', :locals => {:rotisserie_instance => @rotisserie_instance} %>
</div>

<br />

<div id="container_id" style="display: none;"><%= @rotisserie_instance.id %></div>

<button id="button-discussion-create-<%= @rotisserie_instance.id %>" name="button-discussion-create" class="ui-button ui-state-default ui-corner-all">Create discussion</button>

<div id="dialog-discussion-new" title="New discussion"></div>
<div id="dialog-discussion-edit" title="Edit discussion"></div>
<div id="dialog-discussion-delete" title="Delete discussion"></div>

