<div class="info_block">
 <div class="yellow_title_med">Discussions</div>
Current discussions are shown below.  If you are the owner of a discussion or have been given permission by the owner you may
edit or delete dicussions, manually crank the rotisserie or increase and decrease the starting date.
</div>

<div id="spinner_block"></div>



<% if @rotisserie_instance.user? || @rotisserie_instance.owner? || @rotisserie_instance.superadmin? %>
<div id="list_block" >
<%= render :partial => 'rotisserie_discussions/rotisserie_discussions_block', :locals => {:rotisserie_instance => @rotisserie_instance} %>
</div>
<% elsif @notification_invite.present? && @rotisserie_instance.public == false %>
  <p>You are not currently a member of this discussion, would you like to become one?</p>
  <% link_to(add_member_rotisserie_instance_path(@rotisserie_instance, :tid => @tid), :style => "width: 200px; text-decoration: none;") do %>
    <div class="ui-button ui-state-default ui-corner-all" style="width: 200px; text-decoration: none;">
      Become a member
    </div>
  <% end %>
<% elsif @rotisserie_instance.public == false %>

  <p>Sorry, this is not a public Rotisserie Instance</p>

<% else %>
  <p>You are not currently a member of this discussion, would you like to become one?</p>
  <% link_to(add_member_rotisserie_instance_path(@rotisserie_instance), :style => "width: 200px; text-decoration: none;") do %>
    <div class="ui-button ui-state-default ui-corner-all" style="width: 200px; text-decoration: none;">
      Become a member
    </div>
  <% end %>

<% end %>

<br />

<div id="container_id" style="display: none;"><%= @rotisserie_instance.id %></div>

<% if @rotisserie_instance.superadmin? || @rotisserie_instance.owner? %>
<button id="button-discussion-create-<%= @rotisserie_instance.id %>" name="button-discussion-create" class="ui-button ui-state-default ui-corner-all">Create discussion</button>
<% end %>

<div id="dialog-discussion-new" title="New discussion"></div>
<div id="dialog-discussion-edit" title="Edit discussion"></div>
<div id="dialog-discussion-delete" title="Delete discussion"></div>

