<p>
  <label>Last Updated:</label>
  <%= @text_block.updated_at.strftime("%B %d, %Y") %>
</p>

<% cache "text_block-#{@text_block.id}-tags" do -%>
<% if @text_block.tags.any? -%>
<p>
  <label>Tags:</label>
  <% @text_block.tags.each do |tag| -%>
  <%= link_to tag.name, text_block_tag_path(CGI.escape(tag.name)) %>
  <% end -%>
</p>
<% end -%>
<% end -%>
<% cache "text_block-#{@text_block.id}-detail" do -%>
<%= render :partial => "shared/objects/metadatum", :object => @text_block.metadatum %>
<% end -%>
