<div id="text_block" class="singleitem" data-itemid="<%= @text_block.id %>">
  <h1><%= @text_block.display_name %></h1>
	<div class="details">
		<div class="clear"></div>
		<% cache(["detail", @text_block], :compress => H2O_CACHE_COMPRESSION) do -%>
      <% if @text_block.metadatum -%>
      <%= render :partial => 'shared/objects/metadatum', :object => @text_block.metadatum %>
      <% end -%> 
		<% end -%>
	</div>
  <div class="fontdetails"></div>
	<article>
  		<%= raw @text_block.content %>
	</article>
</div>

