<table>
<tr><td></td><td></td></tr>
<% files_imported.each do |import| %>
<tr>
  <td><%= import.dropbox_filepath.gsub("/", "").ljust(150) %></td> <td><% unless import.status == "Errored" %><%= link_to import.created_object.full_name, case_path(import.created_object) %><% end %></td>
</tr>
<% end %>
</table>
