<div id="bulk_upload_report">
  <table>
  <% files_imported.each do |import| %>
  <tr>
    <td>
      <%= import.dropbox_filepath.gsub("/", "").ljust(150) %>
    </td>
    <% if import.created_object.present? -%>
    <td>
      <%= link_to import.short_name, case_path(import.created_object) %>
    </td>
    <td>
      <%= import.public ? "public" : "not public" %>
    </td>
    <td>
      <%= link_to "Edit #{import.short_name}", edit_case_path(import.created_object) %>
    </td>
     <% end -%>
  </tr>
  <% end %>
  </table>
</div>
