<table>
<tr><td></td><td></td></tr>
<% files_imported.each do |import| %>
<tr>
  <td><%= import.dropbox_filepath.gsub("/", "").ljust(150) %></td> <td><% if import.status != "Errored" && import.created_object %><%= link_to import.full_name, case_path(import.created_object) %><% end %></td>
</tr>
<% end %>
</table>
