<div id="bulk_upload_report">
  <table>
  <% files_imported.each do |import| %>
  <tr>
    <td>
      <%= import.dropbox_filepath.gsub("/", "").ljust(150) %>
    </td> 
    <td>
        <%= link_to import.short_name, case_path(import.created_object) %>
    </td>
    <td>
        <%= import.active? ? "active" : "not active" %>
    </td>
    <td>
      Edit
      <%= link_to "#{import.short_name}", edit_case_path(import.created_object) %>
    </td>
  </tr>
  <% end %>
  </table>
</div>
