<div id="bulk_upload_report">
  <table>
  <% files_imported.each do |import| %>
  <tr>
    <td>
      <%= import.dropbox_filepath.gsub("/", "").ljust(150) %>
    </td>
    <% if import.created_object.present? -%>
    <td>
      <% if import.public || type == 'duplicates' -%>
      <%= link_to import.name_abbreviation, case_path(import.created_object) %>
      <% else -%>
      (unlinked while not public)
      <% end -%>
    </td>
    <td>
      <%= import.public ? "public" : "not public" %>
    </td>
    <td>
      <%= link_to "Edit #{import.name_abbreviation}", edit_case_path(import.created_object) %>
    </td>
     <% end -%>
  </tr>
  <% end %>
  </table>
</div>
