<div class="standard-form">
  <h1>Bulk Upload Cases</h1>
  <p style="padding:20px;">These files were found in your H2o Dropbox folder and will be uploaded:</p>
  <ul style="padding: 0px 20px 20px 20px;">
    <% @files_to_import.each do |file| %>
      <li><%= file.gsub("/", "") %></li>
    <% end %>
  </ul>
  <%= button_to "UPLOAD!", :controller => 'bulk_uploads', :action => 'create', :class => "button" %>
</div>
