<div class="standard-form">
  <h1>Bulk Upload Status</h1>
  <form class="formtastic">
	<h3>Successful Imports</h3>
	<%= render :partial => 'files_imported', :locals => { :files_imported => @bulk_upload.successful_imports, :type => 'successful' } %>
  <br /><br />
	<h3>Duplicates not imported</h3>
	<%= render :partial => 'files_imported', :locals => { :files_imported => @bulk_upload.dupe_imports, :type => 'duplicates' } %> 
  <br /><br />
	<h3>Files with errors not imported</h3>
	<%= render :partial => 'files_imported', :locals => { :files_imported => @bulk_upload.error_imports, :type => 'error' } %> 
  </form>
</div>
