/* Barcode */
.barcode {
  position: relative;
  height: 14px;
  overflow: hidden;
  opacity: 0.0;
}
.barcode_wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 13px 0px 14px;
}
.barcode a {
  background-color: #999;
  opacity: 0.7;
  text-indent: -4000px;
  display: block;
  float: left;
  height: 14px;
  width: 0px;
  margin-left: 1px;
  width: 5px;
}
.barcode span.overflow {
  position: absolute;
  top: 0px;
  height: 14px;
  color: #FFF;
  background: url(/images/icons.png) 0px 0px;
  z-index: 2;
  overflow: hidden;
  width: 13px;
}
.barcode span.overflow:hover {
  cursor: pointer;
}
.barcode span.inactive {
  opacity: 0.3;
}
.barcode span.inactive:hover {
  cursor: default;
}
.barcode span.left_overflow {
  left: 0px;
  background-position: -255px -14px;
}
.barcode span.right_overflow {
  right: 0px;
  background-position: -282px -14px;
}
.barcode a:hover {
  opacity: 1.0;
}

/* User Specific */
.barcode a.playlist_created {
  width: 15px;
  background-color: #ff6600;
}
.playlist_created .tipsy-inner {
  background-color: #ff6600;
}
.playlist_created .tipsy-arrow-s {
  border-top-color: #ff6600;
}

.barcode a.collage_created {
  width: 9px;
  background-color: #ffff33;
}
.collage_created .tipsy-inner {
  background-color: #ffff33;
}
.collage_created .tipsy-arrow-s {
  border-top-color: #ffff33;
}

.barcode a.media_created {
  width: 3px;
  background-color: #cc3366;
}
.media_created .tipsy-inner {
  background-color: #cc3366;
}
.media_created .tipsy-arrow-s {
  border-top-color: #cc3366;
}

.barcode a.case_created {
  width: 3px;
  background-color: #cccc33;
}
.case_created .tipsy-inner {
  background-color: #cccc33;
}
.case_created .tipsy-arrow-s {
  border-top-color: #cccc33;
}

.barcode a.text_block_created {
  width: 3px;
  background-color: #ff9933;
}
.text_block_created .tipsy-inner {
  background-color: #ff9933;
}
.text_block_created .tipsy-arrow-s {
  border-top-color: #ff9933;
}

.barcode a.user_case_collaged {
  width: 9px;
  background-color: #669999;
}
.user_case_collaged .tipsy-inner {
  background-color: #669999;
}
.user_case_collaged .tipsy-arrow-s {
  border-top-color: #669999;
}

.barcode a.user_media_collaged {
  width: 9px;
  background-color: #ff9933;
}
.user_media_collaged .tipsy-inner {
  background-color: #ff9933;
}
.user_media_collaged .tipsy-arrow-s {
  border-top-color: #ff9933;
}

.barcode a.user_text_block_collaged {
  width: 9px;
  background-color: #663366;
}
.user_text_block_collaged .tipsy-inner {
  background-color: #663366;
}
.user_text_block_collaged .tipsy-arrow-s {
  border-top-color: #663366;
}

.barcode a.user_playlist_bookmarked {
  width: 3px;
  background-color: #66ccff;
}
.user_playlist_bookmarked .tipsy-inner {
  background-color: #66ccff;
}
.user_playlist_bookmarked .tipsy-arrow-s {
  border-top-color: #66ccff;
}

.barcode a.user_collage_bookmarked {
  width: 3px;
  background-color: #0099cc;
}
.user_collage_bookmarked .tipsy-inner {
  background-color: #0099cc;
}
.user_collage_bookmarked .tipsy-arrow-s {
  border-top-color: #0099cc;
}

.barcode a.user_case_bookmarked {
  width: 3px;
  background-color: #66ccff;
}
.user_case_bookmarked .tipsy-inner {
  background-color: #66ccff;
}
.user_case_bookmarked .tipsy-arrow-s {
  border-top-color: #66ccff;
}

.barcode a.user_media_bookmarked {
  width: 3px;
  background-color: #003366;
}
.user_media_bookmarked .tipsy-inner {
  background-color: #003366;
}
.user_media_bookmarked .tipsy-arrow-s {
  border-top-color: #003366;
}

.barcode a.user_text_block_bookmarked {
  width: 3px;
  background-color: #000033;
}
.user_text_block_bookmarked .tipsy-inner {
  background-color: #000033;
}
.user_text_block_bookmarked .tipsy-arrow-s {
  border-top-color: #000033;
}

.barcode a.user_playlist_added {
  width: 9px;
  background-color: #99ff33;
}
.user_playlist_added .tipsy-inner {
  background-color: #99ff33;
}
.user_playlist_added .tipsy-arrow-s {
  border-top-color: #99ff33;
}

.barcode a.user_collage_added {
  width: 15px;
  background-color: #669900;
}
.user_collage_added .tipsy-inner {
  background-color: #669900;
}
.user_collage_added .tipsy-arrow-s {
  border-top-color: #669900;
}

.barcode a.user_case_added {
  background-color: #339966;
  width: 3px;
}
.user_case_added .tipsy-inner {
  background-color: #339966;
}
.user_case_added .tipsy-arrow-s {
  border-top-color: #339966;
}

.barcode a.user_media_added {
  width: 6px;
  background-color: #006600;
}
.user_media_added .tipsy-inner {
  background-color: #006600;
}
.user_media_added .tipsy-arrow-s {
  border-top-color: #006600;
}

.barcode a.user_text_block_added {
  background-color: #003300;
  width: 6px;
}
.user_text_block_added .tipsy-inner {
  background-color: #003300;
}
.user_text_block_added .tipsy-arrow-s {
  border-top-color: #003300;
}

.barcode a.user_collage_remix {
  background-color: #ff3300;
  width: 6px;
}
.user_collage_remix .tipsy-inner {
  background-color: #ff3300;
}
.user_collage_remix .tipsy-arrow-s {
  border-top-color: #ff3300;
}

.barcode a.user_playlist_remix {
  background-color: #660000;
  width: 6px;
}
.user_playlist_remix .tipsy-inner {
  background-color: #660000;
}
.user_playlist_remix .tipsy-arrow-s {
  border-top-color: #660000;
}

/* Non-User Specific */
.barcode a.remix {
  width: 15px;
  background-color: #ef3c24;
}
.remix .tipsy-arrow-s { 
  border-top-color: #ef3c24;
}
.remix .tipsy-inner {
  background-color: #ef3c24;
}

.barcode a.bookmark {
  width: 3px;
  padding: 0px;
  background-color: #5590cc;
}
.bookmark .tipsy-arrow-s {
  border-top-color: #5590cc;
}
.bookmark .tipsy-inner {
  background-color: #5590cc;
}

.barcode a.add {
  width: 9px;
  background-color: #99ca3c;
}
.add .tipsy-arrow-s {
  border-top-color: #99ca3c;
}
.add .tipsy-inner {
  background-color: #99ca3c;
}

.barcode a.collaged {
  width: 15px;
  background-color: #669999;
}
.collaged .tipsy-arrow-s {
  border-top-color: #669999;
}
.collaged .tipsy-inner {
  background-color: #669999;
}
