#case { display:block; padding:11px 7px; position:relative; z-index:1; }
#case .description { display:block; border:1px solid #FF1A05; background:url(/images/ui/cases-hgroup.png); height:30px; line-height:30px; position:relative; z-index:2; }
#case .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#case .description { padding-left:73px; }
#case .description h2 { float:left; display:inline; font-size:15px; line-height:30px; color:#2f312e; }
#case .description .toolbar { float:right; display:inline;  }
#case .description .toolbar ul { list-style:none; }
#case .description .toolbar ul li { float:left; display:inline; padding:0 8px; border-left:1px solid #FF1A05; }
#case .description .toolbar ul li img { display:block; }
#case .toolbar a { background: url(/images/ui/show_icons.png);
  display: block; width: 23px; height: 30px; text-indent: -4000px; }
#case .toolbar .link-share { width: 25px; }
#case .toolbar .collage-this { background-position: -120px 0px; width: 18px; }
#case .toolbar .link-bookmark { background-position: -101px 0px; width: 18px; }

#case .description .buttons { float:right; display:inline;  }
#case .description .buttons ul { list-style:none; }
#case .description .buttons ul .btn-li { float:left; display:inline; font-size:9px; line-height:20px; font-weight:bold; padding:4px 10px 0 0; position:relative; height:20px; }
#case .description .buttons ul .btn-a { float:left; display:inline; background:url(/images/ui/collage-hgroup-btn.png); color:#fff; text-decoration:none; padding:0 9px; position:relative; z-index:2; }
#case .description .buttons ul .btn-a { border:1px solid #6d87a2; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#case .description .buttons ul .btn-a-active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; }
#case .description .buttons ul .btn-a-active { -moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;  }
#case .description .buttons ul .btn-a-active { -moz-border-radius-bottomright: 0px; border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px;  }
#case .description .buttons ul .btn-a span { float:left; display:inline; padding-right:14px; background:url(/images/ui/collage-hgroup-btn-arrow.png) right no-repeat; }
#case .description .buttons ul .btn-a-active span { background-image:url(/images/ui/collage-hgroup-btn-active.png); }

#case .details { background:#ffd8d4; display:block; position:relative; padding:7px 300px 11px 74px; height:100%; z-index:1; }
#case .details .tags { position:absolute; top:1px; right:1px; }
#case .details .tags ul { list-style:none; font-size:10px; line-height:24px; }
#case .details .tags ul li { float:left; display:inline;  padding-left:1px; }
#case .details .tags ul li a { float:left; display:inline;  padding:0 5px; color:#000; background:#ff9a8f; }
#case .details .influence { padding-bottom:9px; }
#case .details .influence label { float:left; display:inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding-right:8px; }
#case .details .influence div.star-rating { background:none !important;}
#case .details .influence div.star-rating a {background-image:url(/images/ui/playlist-star.gif) !important; }
#case .details h5 { font-size:10px; line-height:18px; font-weight:normal; padding-bottom:2px; }
#case .details p { font-size:12px; line-height:18px; color:#333; }
#case .details p .link-more, 
#case .details .edit-action,
#case .details p .link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#case .details p .link-less { background: url(/images/ui/pagination-divider.png) right 3px no-repeat; }
#case .details .edit-action { padding-left: 5px; display: none; }

#case article { font-size:11px; line-height:16px;
  color:#000; padding:13px 9px 0 35px; height:100%; font-family: Verdana, Arial, Helvetica, sans-serif; }
#case article tt { font-family: Verdana, Arial, Helvetica, sans-serif; display: inline; }
#case article .chorus { text-align:center; padding-bottom:16px; }
#case article p { padding-bottom:16px; }
#case article p em { color:#669933; }
#case article p a { color:#336699; }
#case article p a.hint { color:#669900; }
#case article p strong { font-weight:normal; color:#999; }
#case article p strong del { display:inline-block; text-decoration:none; background:url(/images/ui/pagination.png) center no-repeat; }
