.ajax-error{
  width: auto;
}
.status{
  position: fixed;
  right: 5px;
}
#annotation-tools{
  width: 15em;
  border: 5px #555555;
  border-style: none none solid solid;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  background: white;
  padding: 25px;
  position: fixed;
  top: 0px;
  right: 0px;
  opacity: 0.3;
}

#annotation-tools h2{
  margin: 0px;
  padding-bottom: 5px;
}

#annotation-tools ul, #annotation-tools li{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#annotation-tools li{
  padding-bottom: 10px;
}

#annotation-tools:hover{
  opacity: 1;
}

span.excerpt{
  background-color: #e4e4e4;
  font-weight: bold;
}

.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text{
  padding:0.2em .8em 0.2em 1.6em;
}

.undo-button{
  font-size: 10px;
}

.annotation-control{
  font-size: 9px;
}

.annotation-content{
  height: 150px;
  overflow: auto;
}

#view-layer-list .layer-active{
  background-color: #555;
}

#annotatable-content tt{
  font-family: inherit;
}
