/* Collages */
#collage { display:block; padding:11px 7px; position:relative; z-index:1; }
#collage .description { display:block; border:1px solid #a6db31; background:url(/images/ui/collage-hgroup.png); height:30px; line-height:30px; position:relative; z-index:2; }
#collage .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#collage .description { padding-left:73px; }
#collage .description h2 { float:left; display:inline; font-size:15px; line-height:30px; color:#2f312e; }
#collage .description .toolbar { float:right; display:inline;  }
#collage .description .toolbar ul { list-style:none; }
#collage .description .toolbar ul li { float:left; display:inline; padding:0 8px; border-left:1px solid #d5f1a6; }
#collage .description .toolbar ul li img { display:block; }

#collage .description .buttons { float:right; display:inline;  }
#collage .description .buttons ul { list-style:none; }
#collage .description .buttons ul .btn-li { float:left; display:inline; font-size:9px; line-height:20px; font-weight:bold; padding:4px 10px 0 0; position:relative; height:20px; }
#collage .description .buttons ul .btn-a { float:left; display:inline; background:url(/images/ui/collage-hgroup-btn.png); color:#fff; text-decoration:none; padding:0 9px; position:relative; z-index:2; }
#collage .description .buttons ul .btn-a { border:1px solid #6d87a2; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#collage .description .buttons ul .btn-a-active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; }
#collage .description .buttons ul .btn-a-active { -moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;  }
#collage .description .buttons ul .btn-a-active { -moz-border-radius-bottomright: 0px; border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px;  }
#collage .description .buttons ul .btn-a span { float:left; display:inline; padding-right:14px; background:url(/images/ui/collage-hgroup-btn-arrow.png) right no-repeat; }
#collage .description .buttons ul .btn-a-active span { background-image:url(/images/ui/collage-hgroup-btn-active.png); }

#collage .details { background:#e0f5bd; display:block; position:relative; padding:7px 300px 11px 74px; height:100%; z-index:1; }
#collage .details .tags { position:absolute; top:1px; right:1px; }
#collage .details .tags ul { list-style:none; font-size:10px; line-height:24px; }
#collage .details .tags ul li { float:left; display:inline;  padding-left:1px; }
#collage .details .tags ul li a { float:left; display:inline;  padding:0 5px; color:#376100; background:#c4eb80; }
#collage .details .influence { padding-bottom:9px; }
#collage .details .influence label { float:left; display:inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding-right:8px; }
#collage .details .influence div.star-rating { background:none !important;}
#collage .details .influence div.star-rating a {background-image:url(/images/ui/playlist-star.gif) !important; }
#collage .details h5 { font-size:10px; line-height:18px; font-weight:normal; padding-bottom:2px; }
#collage .details p { font-size:12px; line-height:18px; color:#616e5c; }
#collage .details p .link-more, 
#collage .details .edit-action,
#collage .details p .link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#collage .details p .link-less { background: url(/images/ui/pagination-divider.png) right 3px no-repeat; }
#collage .details .edit-action { padding-left: 5px; display: none; }

#collage article { display:block; font-size:11px; line-height:16px;
  color:#000; padding:13px 9px 0 35px; height:100%; font-family: Verdana, Arial, Helvetica, sans-serif; }
#collage article tt { font-family: Verdana, Arial, Helvetica, sans-serif; }
#collage article .chorus { text-align:center; padding-bottom:16px; }
#collage article p { padding-bottom:16px; }
#collage article p em { color:#669933; }
#collage article p a { color:#336699; }
#collage article p a.hint { color:#669900; }
#collage article p strong { font-weight:normal; color:#999; }
#collage article p strong del { display:inline-block; text-decoration:none; background:url(/images/ui/pagination.png) center no-repeat; }
#collage .toolbar a { background: url(/images/ui/show_icons.png);
  display: block; width: 23px; height: 30px; text-indent: -4000px; }
#collage .toolbar .link-share { width: 26px; }
#collage .toolbar .link-copy { background-position: -26px 0px; width: 15px; }
#collage .toolbar .link-bookmark { background-position: -41px 0px; width: 18px; }
#collage .toolbar .link-print { background-position: -60px 0px; width: 22px; }

#collage article .annotation-content { color: #6b933d; line-height: 1.5;
display: none; padding: 0px 0px 0px 3px; font-style: italic; }
#collage article .annotation-ellipsis { padding: 0px 5px; display: none; }
#collage article .ann-details { display: none; }

.highlight { background: #E0F5BD; }
.annotation_start_highlight { background: #E0F5BD; }
#annotation-form { display: none; }

#tooltip { position: absolute; top: 0px; left: 0px; z-index: 100;
  display: none; width: 200px; opacity: 0.8; }

.tools-popup { position:absolute; left:0; z-index:1;
  background:#fff; border: 2px solid #666; 
  padding: 4px 9px 10px;  display:none;
  top: 0px; left: 0px; background: #FFF;
  width: 230px; border: 1px solid #6D87A2; top: 25px; }
.tools-popup h5 { font-size: 9px; line-height: 22px; }
.tools-popup ul { padding-top: 0px; line-height: 17px; list-style: none; }
.tools-popup ul li { padding-bottom: 3px; text-transform: uppercase; }
.tools-popup ul li a { border-radius:3px; -moz-border-radius:3px;
-webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; 
text-decoration: none; float: left; display: inline; margin-left: 3px; 
font-weight: normal; padding: 0px 7px; font-size: 9px; background: #69c;
color: #FFF; }
.tools-popup ul li a.link-o { background:#ffcc00; color:#664d4d; }

#collage-stats { padding: 5px 10px; border-radius:4px; -moz-border-radius:4px;
-webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px;
display: inline-block; margin-left: 3px; }
#collage-stats.active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; 
-moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;  }
#collage-stats.active strong { background: #FFF url(/images/ui/collage-hgroup-btn-active.png) right no-repeat; 
padding-right: 10px; }
#collage-stats-popup { position:absolute; left:0; z-index:1;
  background:#fff; padding: 18px 40px; top: 0px; left: 0px; 
  background: #FFF; width: 890px; top: 28px; display: none;
  height: 431px; overflow-x: hidden; overflow-y: scroll; font-size: 10px; 
  box-shadow:#777 4px 4px 6px; -moz-box-shadow:#777 4px 4px 6px; -webkit-box-shadow:#777 0px 4px 6px;
  -o-box-shadow:#777 4px 4px 6px; -ms-box-shadow:#777 4px 4px 6px; }
#collage #collage-stats-popup #original_name { font-weight: bold; }
#collage #collage-stats-popup #word_count { margin-bottom: 15px; }
#collage #collage-stats-popup h5 { font-size: 9px; text-transform: uppercase; 
font-weight: bold; margin-bottom: 0px; }
#collage #collage-stats-popup #original_name { font-size: 15px; }
#collage #collage-stats-popup ul { list-style: disc outside url(/images/ui/grey-list-style.jpg); }
#collage #collage-stats-popup .lineage { margin: 0px 0px 0px 27px; padding: 0px; font-size: 10px; }
#collage #collage-stats-popup .lineage li { margin-top: 10px; }
#collage #collage-stats-popup .lineage .current a { color: #679d2e; }
#collage #collage-stats-popup .lineage #current_marker { color: #679d2e; text-transform: uppercase;
font-size: 9px; font-weight: bold; }

.textile { margin-top: 20px; }
.markItUp { width: 500px; }
.highlight-ffcd00 { background-color: #ffcd00; }
.highlight-ff999a { background-color: #ff999a; }
.highlight-bdec68 { background-color: #bdec68; }
.control-divider { display: none; width: 4px; background-color: #6b933d; height: 16px; margin: 0px 3px 0px 0px; position: relative; top: 2px; }
.edit_highlight { background: #eef9d9; }
.arrbox { background: url(/images/ui/asterisk.jpg) no-repeat; display: inline-block; width: 14px; height: 17px; }
.unlayered_ellipsis { padding-right: 10px; }

/* Tipsy */
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #C4EB80; color: #000; max-width: 200px; padding: 10px; text-align: center; font-weight: bold; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  .tipsy-arrow { position: absolute; width: 0; height: 0; border: 5px solid transparent; }
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #C4EB80; }
  .tipsy-arrow-s { border-top-color: #C4EB80; }
  .tipsy-arrow-e { border-left-color: #C4EB80; }
  .tipsy-arrow-w { border-right-color: #C4EB80; }
  .tipsy-n .tipsy-arrow, .tipsy-nw .tipsy-arrow, .tipsy-ne .tipsy-arrow { top: 0; border-top: none; }
  .tipsy-s .tipsy-arrow, .tipsy-sw .tipsy-arrow, .tipsy-se .tipsy-arrow { bottom: 0; border-bottom: none; }
  .tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow { left: 50%; margin-left: -5px; }
  .tipsy-nw .tipsy-arrow, .tipsy-sw .tipsy-arrow { left: 10px; }
  .tipsy-ne .tipsy-arrow, .tipsy-se .tipsy-arrow { right: 10px; }
  .tipsy-e .tipsy-arrow, .tipsy-w .tipsy-arrow { top: 50%; margin-top: -5px; }
  .tipsy-e .tipsy-arrow { right: 0; border-right: none; }
  .tipsy-w .tipsy-arrow { left: 0; border-left: none; }
