body, tt { background: #FFF; font-family: sans-serif; font-size: 11pt; color: #000; border-bottom: 2px solid #FFF; }
body * { line-height: 1.4em; }
#shell { background: #fff; }
a { 
  color: #036290;
  text-decoration: none;
}

.singleitem {
  float: none;
  width: 100%;
}
.singleitem article {
  padding-left: 0px;
}
.singleitem .details {
  background: none;
  padding: 0px;
  margin: 0px;
}

/* Header */
#playlist h1 { font-size: 17pt; }
.collage-content > h1 { margin-top: 0px; padding: 0px 0px 4px 0px; font-size: 17pt; }
.no_visible_children { display: none; }

/* Timestamp & Author */
.collage-content .info { padding: 0px; font-size: 10pt; font-weight: bold; }
#playlist .details h2 { font-size: 10pt; }

/* Description */
#playlist .details { padding-bottom: 10px; }
#playlist .item_description,
.collage-content .item_description { 
  font-style: italic; 
  font-size: 11pt; 
  color: #000;
  background: none;
  padding: 0px;
}

/* Collage Content */
.unlayered-control,
.collage-content { padding-left: 50px; font-size: 11pt; clear: both; }
.collage-content p { margin-bottom: 20px; }
.collage-content .annotation-content { color: #6B933D; font-style: italic; border: 1px solid #d4d4d4; padding: 2px 5px 2px 18px; margin: 3px;
background: url(/images/asterisk.jpg) 2px 1px no-repeat; text-indent: 10px; width: 500px; display: none; }
.collage-content .annotation-ellipsis { padding-left: 5px; }
.collage-content p,
.collage-content center { position: relative; }
.collage-content .paragraph-numbering {
  position: absolute; 
  left: -50px;
  text-decoration: none;
}
.collage-content blockquote { padding-left: 30px; margin-left: 30px; }
.collage-content blockquote .paragraph-numbering { left: -113px; }

.playlists .collage-content article { position: relative; }

#playlist { padding: 0px; overflow: hidden; }
#playlist .playlists .playlists { display: block; }
#playlist .listitem { padding-bottom: 10px; }
#playlist .listitem .notes { padding-bottom: 10px; }
.playlist h3 { margin-bottom: 10px; font-size: 14pt; }
.playlist p { margin-bottom: 10px; }

/* Text Block */
#text_block { clear: both; }
#text_block .details { font-style: italic; margin-bottom: 20px; }
#text_block article p { margin-bottom: 20px; }

/* Print */
#print-options {
  margin-top: 15px; 
  padding-bottom: 125px;
}
#print-options .jsb {
  display: inline-block;
  width: 130px;
  float: none;
  border: 1px solid #666;
  border-radius:4px; 
  -moz-border-radius:4px; 
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  margin: 0px 10px 5px 0px;
}
#print-options strong {
  display: inline-block;
  width: 150px;
  font-size: 11px;
  font-weight: normal;
}
#print-options #highlight_options,
#print-options #heatmap_options {
  display: inline-block;
}
#print-options #create_date {
  font-size: 9px;
  width: 170px;
}

.print_border { display: block; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.print_border span { width: 100%; display: block; position: absolute; bottom: 0px; opacity: 0.0; }
