body, tt { background: #FFF; font-family: sans-serif; font-size: 11pt; color: #000; }
body * { line-height: 1.3em; }

/* Header */
#playlist h1 { font-size: 17pt; }
.collage-content > h1 { margin-top: 0px; padding: 0px 0px 4px 0px; font-size: 17pt; }

/* Timestamp & Author */
.collage-content .info { padding: 0px; font-size: 10pt; font-weight: bold; }
#playlist .details h2 { font-size: 10pt; }

/* Description */
#playlist .details { padding-bottom: 10px; }
#playlist .item_description,
.collage-content .item_description { font-style: italic; font-size: 11pt; color: #000; }

/* Collage Content */
.unlayered-control,
.collage-content .annotation-asterisk,
.collage-content .annotation-ellipsis { display: none; }
.collage-content { padding-left: 50px; font-size: 11pt; clear: both; }
.collage-content p { margin-bottom: 20px; }
.collage-content .annotation-content { color: #6B933D; font-style: italic; border: 1px solid #d4d4d4; padding: 2px 5px 2px 18px; margin: 3px;
background: url(/images/ui/asterisk.jpg) 2px 1px no-repeat; text-indent: 10px; width: 500px; display: none; }
.collage-content .annotation-ellipsis { padding-left: 5px; }
.collage-content p,
.collage-content center { position: relative; }
.collage-content .paragraph-numbering { position: absolute; left: -50px; }
.collage-content blockquote { padding-left: 30px; margin-left: 30px; }
.collage-content blockquote .paragraph-numbering { left: -113px; }

.playlists .collage-content article { position: relative; }

#playlist { padding: 0px; width: 980px; overflow: hidden; }
#playlist ul { list-style-type: none; }
#playlist .playlists .playlists { display: block; }
#playlist .listitem { padding-bottom: 10px; }
#playlist .listitem .notes { padding-bottom: 10px; }
.playlist h3 { margin-bottom: 10px; font-size: 14pt; }
.playlist p { margin-bottom: 10px; }

.playlist .icon-type { float:left; display:inline;
  margin: 0px 3px; width:18px; height:18px; background-image: url(/images/ui/app_icons.png); }
.playlist .icon-type-itemdefault { background-position: -72px -92px; }
.playlist .icon-type-itemcollage { background-position: 0px -92px; }
.playlist .icon-type-itemquestion { background-position: -36px -92px; }
.playlist .icon-type-itemplaylist { background-position: -18px -92px; }
.playlist .icon-type-itemcase { background-position: -54px -92px; }
.playlist .icon-type-itemannotation { background-position: -72px -92px; }

/* Text Block */
#text_block { clear: both; }
#text_block .details { font-style: italic; margin-bottom: 20px; }
#text_block article p { margin-bottom: 20px; }

/* Print */
.popup { float: right; background:#fff; padding: 2px 0px 0px; background: #FFF; width: 160px; top: 25px; }
.popup ul { padding: 0px; }
.popup li { margin-bottom: 3px; text-align: right; }
.popup li strong { display: inline-block; width: 50px; }
.popup .jsb { position:relative; height:20px; background:#ffd5a4; border:1px solid #ed9635;
float: left; display: inline; text-align: left;
border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  -o-border-radius:4px; width:103px !important; }
.popup .jsb .jsb-currentItem { display:block; font-size:9px; line-height:20px; color:#930; font-weight:bold; padding:0 8px; background:url(/images/ui/app_icons.png) -142px -1px no-repeat; }
.popup .jsb .jsb-moreButton { position:absolute; top:0; left:0; width:103px; height:20px; cursor:pointer; background:url(/images/ui/transparent.gif); }
.popup .jsb .jsb-list { position:absolute; top:20px; left:-1px; width:103px !important;
background:#ffd5a4; border:1px solid #ed9635; overflow:auto;
border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;-o-border-radius:4px;
display:none; z-index: 10; }
.popup .jsb .jsb-list .jsb-item { display:block; font-size:9px; line-height:20px; color:#930; font-weight:bold; padding:0 8px; cursor:default; }

tt { position: relative; }
.print_border { display: block; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
.print_border span { width: 100%; display: block; position: absolute; bottom: 0px; opacity: 0.0; }
