/* Tag redefinitions */
body {
    font-size: 13px;
    font-family:  Arial, sans-serif;
    background-color: #c0c0c0;
}

body, h1, h2, h3, h4, h5, div, table, form{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#h2o_container {
    background-color: #ffffff;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

#header_logo {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
}

#header_title {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    font-size: 2em;
    color: #ff9900;
    vertical-align: middle;
}

form{
    display: inline;
}

img{
    border: none;
}

h1{
    margin-top: .25em;
    margin-bottom: .5em;
}

h2{
    margin-top: 1em;
}

/* end of Tag redefinitions */

/* Structure */

.clear{
    clear: both;
}

/* end of Structure */


.ajax-error{
    border:  2px solid red;
    color: red;
    padding: 5px;
    width: 30%;
}

.table_cell_wide {
    width: 200px;
}


#spinner_block {
    height: 15px;
}

div.post_container {
    width: 60%;
    margin-bottom: 20px;
}

div.post-title {
    background-color: #c0c0c0;
    font-weight: bold;
}

div.posts {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

div.post-assigned {
    background-color: maroon;
    color: #ffffff;
    font-weight: bold;
}

#featured_container{
    clear: both;
    width: 100%;
    background-color: #607887;
}


#featured_title{
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    /* width: inherit; */
}

#featured_content{
    border-top: 1px solid #fff;
    background-color: #607887;
    /* width: inherit; */
}

.block {
    padding: 10px;
    background-color: #607887;
}

.knockout {
    color: #ffffff;
    font-weight: bold;
}

.yellow_heading {
    padding: 5px;
    border-left: 1px solid #fff;
    background-color: #cc6600;
    color: #ff9900;
    font-weight: bold;
}

.yellow_content {
    padding: 5px;
    height: 114px;
    border-left: 1px solid #fff;
    background-color: #ff9900;
    text-align: center;  
}

.blue_heading {
    padding: 5px;
    border-left: 1px solid #fff;
    background-color: #545c63;
    color: #607887;
    font-weight: bold;
}

.blue_content {
    padding: 5px;
    height: 114px;
    border-left: 1px solid #fff;
    background-color: #607887;
    text-align: center;
}

#f_block1 {
    width: 330px;
    float: left;
}

#f_block2 {
    width: 200px;
    height: 150px;
    background-color: #ff9900;
    float: left;
}

#f_block3 {
    width: 200px;
    height: 150px;
    background-color: #607887;
    float: left;
}

#f_block4 {
    width: 200px;
    height: 150px;
    background-color: #ff9900;
    float: left;
}

#f_block2 img {
    margin-top: 25px;
}

#f_block3 img {
    margin-top: 25px;
}

#f_block4 img {
    margin-top: 15px;
}

.info_block {
    margin-top: 25px;
    border-top: 10px solid #607887;
    border-bottom: 5px solid #607887;
    border-left: 1px dotted #607887;
    border-right: 1px dotted #607887;
    padding: 10px;
    color: #607887;
}

.yellow_title_small {
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.yellow_title_med {
    font-size: 1.25em;
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.yellow_title_large {
    font-size: 2em;
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_small {
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_med {
    font-size: 1.25em;
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_large {
    font-size: 2em;
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_small {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_med {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_large {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.navigation_block_container {
    margin-top: 25px;
}

.navigation_block {
    font-weight: bold;
    background-color: #e9e7e1;
    color: #607887;
}

#footer_block {
    margin-top: 25px;
}

.table_heading, .section_heading {
    width: 100%;
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    /* width: inherit; */
}


table.core_table {
    margin: 0px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    color: #607887;
    border-left: 1px dotted #607887;
    border-right: 1px dotted #607887;
}


.core_table th, td {
    padding: 10px;
    text-align: left;

    
}

.core_table td {
    background-color: #e9e7e1;
    margin-bottom: 1px;
    border-bottom: 1px dotted #607887;
}

.core_table a:link, .core_table a:visited, .core_table a:active {
	color: #545c63;
        font-weight: bold;
        text-decoration: none;
}

.core_table a:hover {
	color: #607887;
}

.discussion_topic {
    width: 100%;
    margin-bottom: 25px;
}


.discussion_content {
    border: 1px solid #607887;
    padding: .6em 10px;
    text-align: left;
}


.div_header {
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

.assignment {
    
}

.assignment a:link, .assignment a:visited, .assignment a:active {
	color: red;
        font-weight: bold;
        text-decoration: none;
}

.assignment a:hover {
	color: red;
}

.assignment_container {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Playlist specific CSS */

.item-display-title {
    margin-bottom: 15px;
    font-size: 1.25em;
}

.item-preview {
    border: none;
}

.item-url {
    margin-top: 10px;
    font-size: .75em;
}

.text_preview {
    font-weight: bold;
    font-size: 1.25em;
}

/* for jquery.tag.suggestions */
span.tagMatches {
  display: block;
  margin: 10px;
}

span.tagMatches span, .layers span{
  padding: 2px;
  margin-right: 4px;
  background-color: #0000AB;
  color: #fff;
  cursor: default;
}

span.tagMatches span, .layers span.c1,.c1{
  background: #0000AB;
  color: white;
}

span.tagMatches span, .layers span.c2,.c2{
  background: BlueViolet;
  color: white;
}

span.tagMatches span, .layers span.c3,.c3{
  background: Red;
  color: white;
}

span.tagMatches span, .layers span.c4,.c4{
  background: Blue;
  color: white;
}

span.tagMatches span, .layers span.c5,.c5{
  background: Green;
  color: white;
}

span.tagMatches span, .layers span.c6,.c6{
  background: Brown;
  color: white;
}

span.tagMatches span, .layers span.c7,.c7{
  background: DarkGreen;
  color: white;
}

span.tagMatches span, .layers span.c8,.c8{
  background: DarkBlue;
  color: white;
}

span.tagMatches span, .layers span.c9,.c9{
  background: DarkRed;
  color: white;
}

span.tagMatches span, .layers span.c0,.c0{
  background: Teal;
  color: white;
}

#url_selected {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#view-layer-list a, .layers span a{
  text-decoration: none;
  color: white;
}

.layers .layer-active{
  background-color: #555;
}

.item_drag_handle {
    width: 5px;
    background-color: #8C8C8C;
}

.sortable_item {
    width: 949px;
}

#playlist_head_container {
    width: 100%;
}

#playlist_title {
    display: inline-block;
}

.playlist_button {
    display: inline-block;
}
