/* Tag redefinitions */
body {
    font-size: 13px;
    font-family:  Arial, sans-serif;
    background-color: #c0c0c0;
}

body, h1, h2, h3, h4, h5, div, table, form{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.print-block, .print-inline{
    display: none;
}

#h2o_container {
    background-color: #ffffff;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

#header_logo {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;
}

#header_title {
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    font-size: 2em;
    color: #ff9900;
    vertical-align: middle;
}

form{
    display: inline;
}

img{
    border: none;
}

h1{
    margin-top: .25em;
    margin-bottom: .5em;
}

h2{
    margin-top: 1em;
}

/* end of Tag redefinitions */

/* Structure */

.clear{
    clear: both;
}

/* end of Structure */


.ajax-error, .error{
    border:  2px solid red;
    color: red;
    padding: 5px;
    width: 30%;
}

.error{
    width: auto;
}

.table_cell_wide {
    width: 200px;
}

#spinner_block{
    height: 15px;
    float: right;
}
.spacer_block{
    height: 30px;
}
div.post_container {
    width: 60%;
    margin-bottom: 20px;
}

div.post-title {
    background-color: #c0c0c0;
    font-weight: bold;
}

div.posts {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

div.post-assigned {
    background-color: maroon;
    color: #ffffff;
    font-weight: bold;
}

#featured_container{
    clear: both;
    width: 100%;
    background-color: #607887;
}


#featured_title{
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    /* width: inherit; */
}

#featured_content{
    border-top: 1px solid #fff;
    background-color: #607887;
    /* width: inherit; */
}

.block {
    padding: 10px;
    background-color: #607887;
}

.knockout, .knockout a {
    color: #ffffff;
    text-decoration: none;
}

.knockout a:hover{
    text-decoration: underline;
}

.yellow_heading {
    padding: 5px;
    border-left: 1px solid #fff;
    background-color: #cc6600;
    color: #ff9900;
    font-weight: bold;
}

.yellow_content {
    padding: 5px;
    height: 114px;
    border-left: 1px solid #fff;
    background-color: #ff9900;
    text-align: center;  
}

.blue_heading {
    padding: 5px;
    border-left: 1px solid #fff;
    background-color: #545c63;
    color: #607887;
    font-weight: bold;
}

.blue_content {
    padding: 5px;
    height: 114px;
    border-left: 1px solid #fff;
    background-color: #607887;
    text-align: center;
}

#f_block1 {
    width: 330px;
    float: left;
}

#f_block2 {
    width: 200px;
    height: 150px;
    background-color: #ff9900;
    float: left;
}

#f_block3 {
    width: 200px;
    height: 150px;
    background-color: #607887;
    float: left;
}

#f_block4 {
    width: 200px;
    height: 150px;
    background-color: #ff9900;
    float: left;
}

#f_block2 img {
    margin-top: 25px;
}

#f_block3 img {
    margin-top: 25px;
}

#f_block4 img {
    margin-top: 15px;
}

.info_block {
    margin-top: 25px;
    border-top: 10px solid #607887;
    border-bottom: 5px solid #607887;
    border-left: 1px dotted #607887;
    border-right: 1px dotted #607887;
    padding: 10px;
    color: #607887;
}

.yellow_title_small {
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.yellow_title_med {
    font-size: 1.25em;
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.yellow_title_large {
    font-size: 2em;
    color: #ff9900;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_small {
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_med {
    font-size: 1.25em;
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.blue_title_large {
    font-size: 2em;
    color: #607887;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_small {
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_med {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 5px;
}

.title_large {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.navigation_block_container {
    margin-top: 25px;
}

.navigation_block {
    font-weight: bold;
    background-color: #e9e7e1;
    color: #607887;
}

#footer_block {
    margin-top: 25px;
}

.table_heading, .section_heading {
    width: 100%;
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
    /* width: inherit; */
}


table.core_table {
    margin: 0px;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    font-weight: bold;
    color: #607887;
    border-left: 1px dotted #607887;
    border-right: 1px dotted #607887;
}


.core_table th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.core_table td {
    background-color: #e9e7e1;
    margin-bottom: 1px;
    border-bottom: 1px dotted #607887;
}

.core_table a:link, .core_table a:visited, .core_table a:active, .core_table input {
    color: #545c63;
    text-decoration: none;
}

.core_table a:hover {
    color: #607887;
}

table.compact_table, #dialog-item-new .pagination{
    font-size: 11px;
}

table.compact_table a{
    padding: 5px;
    font-weight: normal;
}

.title_column{
    width: 65%;
}

.discussion_topic {
    width: 100%;
    margin-bottom: 25px;
}


.discussion_content {
    border: 1px solid #607887;
    padding: .6em 10px;
    text-align: left;
}


.div_header {
    background-color: #ff9900;
    background-image: url(/images/elements/background_yellow.gif);
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}

.assignment {

}

.assignment a:link, .assignment a:visited, .assignment a:active {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.assignment a:hover {
    color: red;
}

.assignment_container {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Playlist specific CSS */

.item-display-title {
    margin-bottom: 15px;
    font-size: 1.25em;
}

.item-preview {
    border: none;
}

.item-url {
    margin-top: 10px;
    font-size: .75em;
}

.text_preview {
    font-weight: bold;
    font-size: 1.25em;
}

/* for jquery.tag.suggestions */
span.tagMatches {
    display: block;
    margin: 10px;
}

.ltag{
  border-radius: 5px;
  padding: 2px;
  -moz-border-radius: 3px;
  float: left;
  display: block;
  margin-right: 2px;
}

span.tagMatches span, .layers span{
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: default;
}

span.tagMatches span, .layers span.c1,.c1{
    background: #0000AB;
    color: white;
}

.rc1{
    color: #0000AB;
}

span.tagMatches span, .layers span.c2,.c2{
    background: BlueViolet;
    color: white;
}

.rc2{
  color: BlueViolet;
}

span.tagMatches span, .layers span.c3,.c3{
    background: Red;
    color: white;
}

.rc3{
  color: Red;
}

span.tagMatches span, .layers span.c4,.c4{
    background: Blue;
    color: white;
}

.rc4{
  color: Blue;
}

span.tagMatches span, .layers span.c5,.c5{
    background: Green;
    color: white;
}

.rc5{
  color: Green;
}

span.tagMatches span, .layers span.c6,.c6{
    background: Brown;
    color: white;
}

.rc6{
  color: Brown;
}

span.tagMatches span, .layers span.c7,.c7{
    background: DarkGreen;
    color: white;
}

.rc7{
  color: DarkGreen;
}

span.tagMatches span, .layers span.c8,.c8{
    background: DarkBlue;
    color: white;
}

.rc8{
  color: DarkBlue;
}

span.tagMatches span, .layers span.c9,.c9{
    background: DarkRed;
    color: white;
}

.rc9{
  color: DarkRed;
}

span.tagMatches span, .layers span.c0,.c0{
    background: Teal;
    color: white;
}

.rc0{
  color: Teal;
}

.tag-container{
    float: left;
    margin-top: 5px;
}

.meta ul{
    margin: 0px;
    padding: 0px;
}

.meta li{
    list-style-type: none;
    margin-bottom: 5px;
}

#url_selected {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#view-layer-list a, .layers span a{
    text-decoration: none;
    color: white;
}

.layers .layer-active{
    background-color: #555;
}

.sortable_item {
    width: 949px;
}

#playlist_head_container {
    width: 100%;
}

#playlist_title {
    display: inline-block;
}

#csv-container {
    clear: both;
}

#csv-submission {
    float: left;
}

#csv-preview {
    margin-left: 100px;
    border: 0px solid #607887;
    float: left;
    width: 300px;
}

.highlight, .subhighlight{
    background-color: yellow;
}

.pagination{
    margin: 5px;
    float: right;
}

.per-page{
    float: right;
}

.per-page-selector{
    font-size: 13px;
}

#tools{
    width: 250px;
    border: 5px #555555;
    border-style: none none solid solid;
    border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    background: url('/images/elements/tools-vertical.gif') white no-repeat;
    background-position: 7px center;
    padding: 30px;
    position: fixed;
    top: 0px;
    right: -280px;
}

#tools h3{
    margin-top: 10px;
}

#tools h2, #tools .meta{
    margin: 0px 0px 1em 0px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #cccccc;
}

ul.lineage, .lineage li{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.lineage li{
    padding-bottom: 10px;
}

#tools #hide{
    margin-top: -20px;
    float: right;
}

#accordion h3{
    font-size: 13px;
}

.lineage li{
    padding: 2px 0px 2px 0px;
}
.lineage .depth-0{
    margin-left: 0px;
    margin-bottom: 0px;
}
.lineage .depth-1{
    margin-left: 15px;
    margin-bottom: 0px;
}
.lineage .depth-2{
    margin-left: 30px;
    margin-bottom: 0px;
}
.lineage .depth-3{
    margin-left: 45px;
    margin-bottom: 0px;
}
.lineage .depth-4{
    margin-left: 60px;
    margin-bottom: 0px;
}
.lineage .depth-5{
    margin-left: 75px;
    margin-bottom: 0px;
}

.markItUpContainer{
  clear:both;
}

.markItUpEditor{
  height: 15em;
}

.metadata .field-container{
  padding: 10px;
  background-color: #e4e4e4;
}

.metadatum-display ul{
  margin: 0px;
  padding: 0px;
}

.metadatum-display fieldset{
  padding: 0px;
}

.metadatum-display li{
  list-style-type: none;
  float: left;
  border: 1px solid #cccccc;
  margin: 5px;
  padding: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.metadatum-display span.label{
  background: #e4e4e4;
  padding: 5px;
  float: left;
}

.metadatum-display span.data{
  float: left;
  padding: 5px;
}

.buttons input[type='submit']{
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.ui-button {
  font-size: 12px;
}

table .ui-button{
  font-size: 10px;
}
