/* Mobile Styles */
@media only screen and (min-width: 240px) and (max-width: 655px) {
  .wrapper {
    width: 98%;
    max-width: auto;
  }
  .singleitem {
    width: 100%;
  }
  .right_panel {
    width: 100%;
  }
  .playlist_edit_mode .singleitem {
    width: 100%;
  }
  .playlist_edit_mode #edit_item {
    width: 100%;
  }
  .playlist_edit_mode .expanded_singleitem,
  .expanded_singleitem {
    width: 100%;
  }

  #edit_item.fixed_position {
    position: static;
  }
  .right_panel_close {
    display: none;
  }
  #search {
    padding-top: 0px;
    position: static;
    float: none;
  }
  #search input[type=text] {
    width: 100px;
  }
  #logo {
    width: 100%;
    text-align: center;
  }
  #logo a {
    float: none;
    display: inline-block;
  }
  #fixed_links {
    visibility: hidden;
    /*
    position: fixed;
    top: 0px;
    height: 29px;
    background: #747474;
    text-align: center;
    width: 100%;
    margin-left: -4px;
    padding: 3px;
    */
  }
  /*
  .fixed_link {
    position: static;
    display: inline-block;
  }
  */

  /* Index */
  #home_index #description {
    margin-top: 20px;
    width: 100%;
  }
  #home_index #description h1 {
    font-size: 20pt;
    padding-bottom: 10px;
    line-height: 26pt;
  }
  #home_index #description h2 {
    font-size: 15pt;
    line-height: 25pt;
  }
  #home_index #description #links {
    padding: 10px 0px 10px;
  }

  #quickbar_left #quickbar_title,
  #quickbar_left #quickbar_author {
    display: block;
  }
  #quickbar_left #quickbar_author {
    padding-bottom: 3px;
  }
  #quickbar_left #quickbar_author span {
    display: none;
  }
  #quickbar_left .quickbar_extra {
    display: none;
  }

  #home_index #fall2013_playlists,
  #home_index #highlighted_playlists,
  #home_index #featured_users,
  #home_index #featured_collages,
  #home_index #featured_medias,
  #home_index #featured_texts,
  #home_index #featured_cases {
    margin: 0px;
    float: none;
    width: 99%;
    clear: both;
  }
}
