body { background: #FFF; }
.collage-content { padding-left: 50px; font-size: 11pt; line-height: 1.2em; }
.collage-content h2 { margin-top: 0px; padding: 20px 0px 4px 0px; font-size: 15px; }
.collage-content .info { padding: 0px; font-size: 12px; }
.collage-content .desc { padding-top: 10px; font-size: 12px; }
.collage-content p { padding-bottom: 15px; }
.collage-content .annotation-content { color: #6B933D; font-style: italic; border: 1px solid #d4d4d4; padding: 5px 5px 5px 10px; margin: 3px;
background: url(/images/ui/asterisk.jpg) 2px 4px no-repeat; text-indent: 10px; }
.collage-content .annotation-ellipsis { display: none; padding-left: 5px; }
.collage-content .annotation-asterisk { display: none; }
.collage-content .paragraph-numbering { position: absolute; left: 10px; }

#playlist { padding: 0px; }
#playlist .details { padding-bottom: 10px; }
#playlist ul { list-style-type: none; }
#playlist .playlists .playlists { display: block; }
#playlist .playlist .data { padding-right: 300px; }
#playlist .listitem { padding-bottom: 10px; }
#playlist .playlist .number { border: 1px solid #E0E1E1; }
