.collage-content { padding: 100px; }
.collage-content h2 { padding-bottom: 20px; }
.collage-content p { padding-bottom: 15px; }
.collage-content .annotation-content { color: #6B933D; }
.collage-content .annotation-asterisk { background: url(/images/ui/asterisk.jpg) no-repeat; display: inline-block; width: 14px; height: 17px; }
.collage-content .paragraph-numbering { position: absolute; left: 10px; }

#playlist { padding: 50px; }
#playlist .details { padding-bottom: 10px; }
#playlist ul { list-style-type: none; }
#playlist .playlists .playlists { display: block; }
#playlist .playlist .data { padding-right: 300px; }
#playlist .listitem { padding-bottom: 10px; }
#playlist .playlist .number { border: 1px solid #E0E1E1; }
