#playlist { display:block; padding:11px 7px; position:relative; z-index:1; height:100%; }
#playlist .description { border:1px solid #ff8b11; background: #ffa63f url(/images/ui/orange_bg.png) 0px 0px repeat-x; line-height:30px; display:block; }
#playlist .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#playlist .description { padding-left:73px; }
#playlist .description h2 { float:left; display:inline; font-size:15px; line-height:20px; color:#fff; width: 600px; padding: 5px 0px; }
#playlist .description .toolbar { float:right; display:inline; visibility: hidden; }
#playlist .description .toolbar ul { list-style:none; }
#playlist .description .toolbar ul li { float:left; display:inline; padding:0 8px; border-left:1px solid #f1c47e; }
#playlist .description .toolbar ul li .print-popup ul li { padding-bottom: 3px; border: none; }
#playlist .description .toolbar ul li img { display:block; }

#playlist .details { background:#f8eddc; display:block; position:relative; padding:7px 300px 7px 80px; }
#playlist .details .tags { position:absolute; top:1px; right:1px; text-align: right; }
#playlist .details .tags a { display:inline-block; padding: 5px 11px; color:#e27020; background:#f2d09c; font-size: 10px; }
#playlist .details .influence { padding-bottom:9px; }
#playlist .details .influence label { float:left; display:inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding-right:8px; }
#playlist .details h5 { font-size:10px; line-height:1.8em; font-weight:normal; padding-bottom:2px; }
#playlist .details p { font-size:12px; line-height:1.5em;}
#playlist .details p .link-more, 
#playlist .details p .edit-action,
#playlist .details p .link-less,
#playlist .details .public-notes,
#playlist .details .private-notes { font-size:9px; text-transform:uppercase; font-weight:bold; }
#playlist .details p .link-less { background: url(/images/ui/pagination-divider.png) right 0px no-repeat; padding-right: 4px; }
#playlist .details .public-notes,
#playlist .details .private-notes { background: url(/images/ui/pagination-divider.png) left 0px no-repeat; padding-left: 5px; }

#playlist .description .buttons { float:right; display:inline; visibility: hidden; }
#playlist .description .buttons ul { list-style:none; }
#playlist .description .buttons ul .btn-li { float:left; display:inline; font-size:9px; line-height:20px; font-weight:bold; padding:4px 10px 0 0; position:relative; height:20px; }
#playlist .description .buttons ul .btn-a { float:left; display:inline; background: #F8EDDC; 
  color:#c45027; text-decoration:none; padding:0 9px; position:relative; z-index:2; 
  border:1px solid #c45027; border-radius:4px; -moz-border-radius:4px;
  -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; font-weight: bold; }

#playlist #description_less, #playlist #description_more{
  color: #000;
}
#playlist > .playlists { padding-top:1px; display:block; }
#playlist .playlists ul { list-style:none; }
.playlists .playlist { border-top:1px solid #e0e1e1; padding:1px 0 10px; position:relative; z-index:1; width:100%; }
.playlists .playlists .data {
  padding-right: 0px;
  width: 820px;
}
.playlists .playlist .data .tags { width: 350px; }
.playlists .playlists .playlists .data {
  padding-right: 0px;
  width: 743px;
}
.playlists .playlists .playlists .playlists .data {
  padding-right: 0px;
  width: 677px;
}

#playlist .description .buttons ul .btn-a-active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; }
#playlist .description .buttons ul .btn-a-active { -moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;  }
#playlist .description .buttons ul .btn-a-active { -moz-border-radius-bottomright: 0px; border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px;  }

/* Font Dropdown */
#playlist .description .buttons ul #fonts { z-index: 101; }
.font-size-popup { position:absolute; left:0; z-index:100; background:#fff; 
padding: 10px;  display:none; top: 0px; left: 0px; background: #FFF;
width: 113px; border: 1px solid #6D87A2; top: 25px; } 

.popup .jsb { position:relative; height:20px; background:#ffd5a4; border:1px solid #ed9635;
float: left; display: inline;
border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  -o-border-radius:4px; width:103px !important; }
.popup .jsb .jsb-currentItem { display:block; font-size:9px; line-height:20px; color:#930; font-weight:bold; padding:0 8px; background:url(/images/ui/app_icons.png) -142px -1px no-repeat; }
.popup .jsb .jsb-moreButton { position:absolute; top:0; left:0; width:103px; height:20px; cursor:pointer; background:url(/images/ui/transparent.gif); }
.popup .jsb .jsb-list { position:absolute; top:20px; left:-1px; width:103px !important;
background:#ffd5a4; border:1px solid #ed9635; overflow:auto;
border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;-o-border-radius:4px;
display:none; z-index: 10; }
.popup .jsb .jsb-list .jsb-item { display:block; font-size:9px; line-height:20px; color:#930; font-weight:bold; padding:0 8px; cursor:default; }

/* Stats */
#playlist-stats { padding: 5px 10px; border-radius:4px; -moz-border-radius:4px;
-webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px;
display: inline-block; margin-left: 3px; }
#playlist-stats.active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; 
-moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px; 
-moz-border-radius-bottomright: 0px; border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; 
position: relative; z-index: 101; }
#playlist-stats.active strong { background: #FFF url(/images/ui/collage-hgroup-btn-active.png) right no-repeat; 
padding-right: 10px; }
#playlist-stats-popup { position:absolute; left:0; z-index:100;
  background:#fff; padding: 18px 40px; left: 0px; 
  background: #FFF; width: 650px; top: 31px; display: none;
  overflow-x: hidden; overflow-y: scroll; font-size: 10px; 
  box-shadow:#777 4px 10px 20px; -moz-box-shadow:#777 4px 10px 20px; -webkit-box-shadow:#777 0px 10px 20px;
  -o-box-shadow:#777 4px 10px 20px; -ms-box-shadow:#777 4px 10px 20px; }
#playlist #playlist-stats-popup #original_name { font-weight: bold; }
#playlist #playlist-stats-popup #word_count { margin-bottom: 15px; }
#playlist #playlist-stats-popup h5 { font-size: 9px; text-transform: uppercase; 
font-weight: bold; margin-bottom: 0px; }
#playlist #playlist-stats-popup #original_name { font-size: 15px; }
#playlist #playlist-stats-popup .lineage { margin: 0px 0px 0px 27px; padding: 0px; font-size: 10px; }
#playlist #playlist-stats-popup .lineage li { margin-top: 10px; }
#playlist #playlist-stats-popup .lineage .current > a { color: #679d2e; }
#playlist #playlist-stats-popup .lineage #current_marker { color: #679d2e; text-transform: uppercase;
font-size: 9px; font-weight: bold; }
#playlist #playlist-stats-popup .date { background: url(/images/ui/grey-list-style.jpg) no-repeat 0px 2px; margin-left: -10px; padding-left: 10px; }
#playlist .contain_playlists,
#playlist .collage_count { margin-top: 30px; }

#url_review { -moz-border-radius: 4px; border: 1px solid #8B9EB3;
  background: url(/images/ui/repeat_bg.png) repeat scroll 0px -21px;
  padding: 5px 10px; color: #FFF; font-weight: bold; text-decoration:none; 
  display: inline-block; margin-top: 10px; font-size: 11px; -webkit-border-radius: 4px; }
#url_review:hover { color: #797979; background-color: #FFF; }
#url_review.inactive {
  opacity: 0.5;
}

/* Hiding while page is loading */
#playlist .description .toolbar ul li.requires_logged_in { opacity: 0.0; }
.requires_logged_in { opacity: 0.0; }
.requires_edit,
.requires_remove { opacity: 0.0; }
.afterload { opacity: 0.0; }

/* Tipsy */
.tipsy { margin-top: 3px; }
.tipsy-inner { background-color: #FFD5A4; color: #000; max-width: 200px; padding: 10px; text-align: center; font-weight: bold; }
.tipsy-arrow-n { border-bottom-color: #FFD5A4; }

button.inactive { opacity: 0.5; }
