#playlist { display:block; padding:11px 7px; position:relative; z-index:1; height:100%; }
#playlist .description { border:1px solid #ff8b11; background:url(/images/ui/playlist-description.png); height:30px; line-height:30px; display:block; }
#playlist .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#playlist .description { padding-left:73px; }
#playlist .description h2 { float:left; display:inline; font-size:15px; line-height:30px; color:#fff; }
#playlist .description .toolbar { float:right; display:inline;  }
#playlist .description .toolbar ul { list-style:none; }
#playlist .description .toolbar ul li { float:left; display:inline; padding:0 8px; border-left:1px solid #f1c47e; }
#playlist .description .toolbar ul li img { display:block; }

#playlist .toolbar a { background: url(/images/ui/show_icons.png);
  display: block; width: 23px; height: 30px; text-indent: -4000px; }
#playlist .toolbar .link-share { background-position: -82px 0px; width: 19px; }
#playlist .toolbar .link-remix { background-position: -101px 0px; width: 20px; }
#playlist .toolbar .link-bookmark { background-position: -120px 0px; width: 18px; }
#playlist .toolbar .link-print { background-position: -140px 0px; width: 22px; }

#playlist details { background:#f8eddc; display:block; position:relative; padding:7px 300px 7px 80px; }
#playlist details .tags { position:absolute; top:1px; right:1px; }
#playlist details .tags ul { list-style:none; font-size:10px; line-height:24px; }
#playlist details .tags ul li { float:left; display:inline;  padding-left:1px; }
#playlist details .tags ul li a { float:left; display:inline;  padding:0 5px; color:#e27020; background:#f2d09c; }
#playlist details .influence { padding-bottom:9px; }
#playlist details .influence label { float:left; display:inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding-right:8px; }
#playlist details .influence div.star-rating { background:none !important;}
#playlist details .influence div.star-rating a {background-image:url(/images/ui/playlist-star.gif) !important; }
#playlist details h5 { font-size:10px; line-height:18px; font-weight:normal; padding-bottom:2px; }
#playlist details p { font-size:12px; line-height:18px; color:#999; }
#playlist details p .link-more, 
#playlist details p .edit-action,
#playlist details p .link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#playlist details p .link-less { background: url(/images/ui/pagination-divider.png) right 0px no-repeat; padding-right: 4px; }

#playlist .description .buttons { float:right; display:inline;  }
#playlist .description .buttons ul { list-style:none; }
#playlist .description .buttons ul .btn-li { float:left; display:inline; font-size:9px; line-height:20px; font-weight:bold; padding:4px 10px 0 0; position:relative; height:20px; }
#playlist .description .buttons ul .btn-a { float:left; display:inline; background: #F8EDDC; 
  color:#c45027; text-decoration:none; padding:0 9px; position:relative; z-index:2; 
  border:1px solid #c45027; border-radius:4px; -moz-border-radius:4px;
  -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; font-weight: bold; }

#playlist .playlists { padding-top:1px; display:block; }
#playlist .playlists ul { list-style:none; }
#playlist .playlists .playlist { border-top:1px solid #e0e1e1; padding:1px 0 10px; position:relative; z-index:1; width:100%; }
#playlist .listitem .controls ul li.link-add a { background:url(/images/ui/playlist-controls.png);
  float: left; display: inline; width:24px; height:23px; font-size: 0; line-height: 0; text-indent: -4000px; }
#playlist .playlist .number { float:left; display:inline;  width:24px; font-size:10px;
  line-height:20px; color:#666; font-weight:bold; text-align:center;
  border-bottom: 1px solid #e0e1e1; border-left: 1px solid #e0e1e1;
  padding-top: 2px; }
#playlist .playlist .data { float: right; display: inline; width:550px; position:relative; 904px;  padding-right:345px; } 
#playlist .playlist .data .dd-open { position:absolute; top:5px; left:-17px; width:17px; height:12px; background:url(/images/ui/playlist-arrow.png) center no-repeat; font-size:0; line-height:0; text-indent: -4000px;  }

#playlist .playlist .data .tags { position:absolute; top:0; right:0; }
#playlist .playlist .data .tags ul { list-style:none; float:right; display:inline; }
#playlist .playlist .data .tags ul li { float: left; display: inline; font-size:10px; line-height:23px; padding-left:1px; }
#playlist .playlist .data .tags ul li a { float: left; display: inline; background:#dbe2e9; padding:0 11px; }
#playlist .playlist .data .tags .link-more { font-size:8px; font-weight:bold; float:right; display:inline; padding:3px 8px; clear:both; }
#playlist .playlist .data h3 { font-size:14px; line-height:18px; font-weight:normal; display:inline; float:left; }
#playlist .playlist .data .icon-type { float:left; display:inline;
  margin-left:5px; width:18px; height:18px; background-image: url(/images/ui/small_icons.png); }
#playlist .playlist .data .icon-type-itemcollage { background-position: 0px 0px; }
#playlist .playlist .data .icon-type-itemquestion { background-position: -36px 0px; }
#playlist .playlist .data .icon-type-itemplaylist { background-position: -18px 0px; }
#playlist .playlist .data .icon-type-itemcase { background-position: -100px 0px; }
#playlist .playlist .data p { float: left; display: inline; font-size:10px; line-height:16px; clear:both; }

#playlist .playlists .playlists { display:none; padding-left:74px; padding-top:10px; position:relative; width:894px; }
#playlist .playlists .playlists .data { padding-right:271px; }
#playlist .playlists .playlists .playlists { width:823px;}
#playlist .playlists .playlists .playlists .data { padding-right:197px; }
#playlist .playlists .playlists .playlists .playlists { width:749px; }
#playlist .playlists .playlists .playlists .playlists .data { padding-right:119px; }
#playlist .playlists .full-list-link { position:absolute; top:13px; right:0; width:78px; height:24px; background:#d8dada; color:#333; text-align:center; font-size:10px; line-height:24px; font-weight:bold; }

#playlist .listitem .action { font-size: 10px; font-weight: normal; line-height: 20px; }
#playlist .listitem .delete-action { padding-left: 10px; background:
  transparent url(/images/ui/pagination-divider.png) no-repeat scroll right 1px; padding-right: 5px; }

/* #playlist .playlist .controls { float: left; display: inline; padding-right: 10px; position: relative; } */
