body, tt, input{
  font-family: 'Times New Roman',times, serif;
  font-size: 11px;
}

#h2o_header,#hide, #layer-button, #h2o_footer{
  display: none;
}

#layer_tools{
  font-size: 10px;
}


h1{
    font-size: 18px;
}

h2{
    font-size: 16px;
}

h3{
    font-size: 14px;
}

.annotation-control{
  font-size: 11px;
  font-weight: bold;
  margin: 10px;
}

.lineage{
  display: none;
}

.annotation-start, .annotation-end{
  padding: 3px;
  border: 2px black;
  border-style: solid none none solid;
  margin: 3px;
}

.annotation-end{
  border-style: none solid solid none;
}

.print-block{
  display: block;
}

.print-inline{
  display: inline;
}

tt{
  
}

.annotation .annotation{
  padding: 5px;
  margin: 1em;
  border: 1px solid black;
  font-size: 11px;
}
.meta{
  font-size: 11px;
}

.tag-container{
    margin: 1px;
    display: inline;
}