#questions #featured{
  width: 66%;
  float: left;
}

.question .votes{
  padding: .25em;
  float: left;
  width: 3.75em;
  height: 3.75em;
  font-size: larger;
  text-align: center;
  background-color: #e4e4e4;
}
.question p{
  padding: .25em;
}
.question .meta{
  text-align: right;
  font-size: smaller;
}
