#h2o_header{
  float: left;
  width: 300px;
}

div.question-instance-description{
  float: right;
  width: 600px;
}

div.controls{
  float: right;
}

.questions{
  background: #e4e4e4;
  float: left;
  width: 100%;
}

.questions h2{
  margin-top: 0em;
}

.questions .question{
  margin: .5%;
  float: left;
  width: 32%;
  padding-bottom: 5px;
  padding-top: 5px;
  min-height: 6em;
}

.question p{
  margin-top: 0px;
  padding-top: 0px;
}

.questions .other .question{
  border-bottom: 1px solid #cccccc;
}

.questions .featured{
  background: #ffffff;
  width: 64%;
  float: left;
  border: 3px solid #cccccc;
  padding: .5%;
  margin: 0px .5% .5% 0px;
}

.questions .featured .question{
  width: 100%;
}

.question .votes{
  padding: .25em;
  float: left;
  width: 2.25em;
  min-height: 3.75em;
  font-size: larger;
  text-align: center;
  margin-right: .25em;
}

.question .votes .up{
  height: 9px;
  background: url('/images/elements/arrow-up.gif') top center no-repeat;
}

.question .votes .already-voted .up{
  cursor: default;
  background: url('/images/elements/arrow-up-cccccc.gif') top center no-repeat;
}

.question .votes .down{
  height: 9px;
  background: url('/images/elements/arrow-down.gif') top center no-repeat;
}

.question .votes .already-voted .down{
  cursor: default;
  background: url('/images/elements/arrow-down-cccccc.gif') top center no-repeat;
}

.sticky .votes{
  background: url('/images/icons/tick.png') top left no-repeat #e4e4e4;
}

.question .meta{
  text-align: right;
  font-size: smaller;
}

.ajax-error, #spinner_block{
  float: right;
}

#timer-controls{
  float: right;
  font-size: 9px;
}

#timer-controls .selected{
  font-size: larger;
  font-weight: bold;
  background: blue;
  color: white;
  text-decoration: none;
}
