#text_block { display:block; padding:11px 7px; position:relative; z-index:1; }
#text_block .description { display:block; border:1px solid #FF1A05; background: #ff4833 url(/images/ui/red_bg.png) 0px 0px repeat-x; line-height:30px; position:relative; z-index:2; }
#text_block .description { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#text_block .description { padding-left:73px; }
#text_block .description h2 { float:left; display:inline; font-size:15px; line-height:20px; color:#2f312e; width: 700px; padding: 5px 0px; }
#text_block .description .toolbar { float:right; display:inline; }
#text_block .description .toolbar ul { list-style:none; }
#text_block .description .toolbar ul li { float:left; display:inline; padding:0 8px; border-left:1px solid #FF1A05; }
#text_block .description .toolbar ul li img { display:block; }

#text_block .description .buttons { float:right; display:inline; visibility: hidden; }
#text_block .description .buttons ul { list-style:none; }
#text_block .description .buttons ul .btn-li { float:left; display:inline; font-size:9px; line-height:20px; font-weight:bold; padding:4px 10px 0 0; position:relative; height:20px; }
#text_block .description .buttons ul .btn-a { float:left; display:inline; background:url(/images/ui/repeat_bg.png) 0px -73px; color:#fff; text-decoration:none; padding:0 9px; position:relative; z-index:2; }
#text_block .description .buttons ul .btn-a { border:1px solid #6d87a2; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; }
#text_block .description .buttons ul .btn-a-active { background:#fff; color:#333; border-bottom:0; padding-bottom:1px; }
#text_block .description .buttons ul .btn-a-active { -moz-border-radius-bottomleft: 0px; border-bottom-left-radius: 0px; -webkit-border-bottom-left-radius: 0px;  }
#text_block .description .buttons ul .btn-a-active { -moz-border-radius-bottomright: 0px; border-bottom-right-radius: 0px; -webkit-border-bottom-right-radius: 0px;  }
#text_block .description .buttons ul .btn-a span { float:left; display:inline; padding-right:14px; background:url(/images/ui/collage-hgroup-btn-arrow.png) right no-repeat; }
#text_block .description .buttons ul .btn-a-active span { background-image:url(/images/ui/collage-hgroup-btn-active.png); }

#text_block .details { background:#ffd8d4; display:block; position:relative; padding:7px 300px 11px 74px; height:100%; z-index:1; }
#text_block .details .tags { position:absolute; top:1px; right:1px; }
#text_block .details .tags ul { list-style:none; font-size:10px; line-height:24px; }
#text_block .details .tags ul li { float:left; display:inline;  padding-left:1px; }
#text_block .details .tags ul li a { float:left; display:inline;  padding:0 5px; color:#000; background:#ff9a8f; }
#text_block .details .influence { padding-bottom:9px; }
#text_block .details .influence label { float:left; display:inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding-right:8px; }
#text_block .details h5 { font-size:10px; line-height:18px; font-weight:normal; padding-bottom:2px; }
#text_block .details p { font-size:12px; line-height:18px; color:#333; }
#text_block .details p .link-more, 
#text_block .details .edit-action,
#text_block .details p .link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#text_block .details p .link-less { background: url(/images/ui/pagination-divider.png) right 3px no-repeat; }
#text_block .details .edit-action { padding-left: 5px; display: none; }

#text_block article { font-size:11px; line-height:16px;
  color:#000; padding:13px 9px 0 35px; height:100%; font-family: Verdana, Arial, Helvetica, sans-serif; }
#text_block article tt { font-family: Verdana, Arial, Helvetica, sans-serif; display: inline; }
#text_block article .chorus { text-align:center; padding-bottom:16px; }
#text_block article p { padding-bottom:16px; }
#text_block article p em { color:#669933; }
#text_block article p a { color:#336699; }
#text_block article p a.hint { color:#669900; }
#text_block article p strong { font-weight:normal; color:#999; }
