body { width: 990px; margin: 0px auto; font-family: Verdana, sans-serif; }

.right { float: right; width: 49%; }
.left { float: left: width: 49%; }
a { outline: none; }
img { border: none; }
.clear { clear: both; }

.second_nav { background: url(/images/ui/home_bg.jpg) repeat-x 0px -39px; }
#logo { float: left; margin: 25px 0px 71px 30px; }
#logo_text { float: left; margin: 35px 0px 0px 5px; text-decoration: none; font-size: 29pt; color: #3e505d; }
#footer { padding: 50px 0px; width: 100%; clear: both; background: url(/images/ui/home_bg.jpg) repeat-x 0px -205px; }

#home_nav { clear: both; background: #FFFFFF; border-bottom: 1px solid #d9d9d9; margin-top: 3px; }
#home_nav .panel { float: left; width: 200px; border-right: 1px solid #d9d9d9;
  padding: 7px 23px; text-align: center; height: 242px; overflow: hidden; }
#home_nav .last { width: 200px; border-right: none; padding-right: 0px; }
#home_nav a { display: block; text-decoration: none; font-size: 21pt; }
#home_nav .icon_nav { background: url(/images/ui/icons.png); display: inline-block;
  width: 38px; height: 38px; }
  #home_nav #questions a { color: #2d97d3; }
    #home_nav #questions .icon_nav { background-position: -35px 0px; }
  #home_nav #rotisserie a { color: #349b6c; }
    #home_nav #rotisserie .icon_nav { background-position: -72px 0px; width: 35px; }
  #home_nav #collage a { color: #95cf2b; }
    #home_nav #collage .icon_nav { background-position: 0px 0px; width: 36px; }
  #home_nav #playlist a { color: #ff9504; }
    #home_nav #playlist .icon_nav { background-position: -110px 0px; }
#home_nav p { text-align: left; font-size: 10pt; color: #999999; }
#home_nav .button { font-size: 10pt; font-weight: bold; }

#empty_panel { background: #f4f3d4; float: right; width: 493px; height: 158px;
  margin-top: 3px; }  
#activity_panel { background: #f4f4e8; padding: 13px 0px 20px 0px; float: left;
 width: 490px; height: 125px; margin: 3px 3px 0px 0px; }
  #activity_panel h3 { color: #3e505d; font-weight: normal; font-size: 21pt;
    margin: 0px 0px 20px 0px; text-align: center; }
  #activity_panel ul { margin-left: 40px; }
  #activity_panel li { float: left; width: 49%; font-size: 10pt; color: #666; }
  #activity_panel a { text-decoration: none; font-weight: bold; color: #666; }
#activity_border { width: 1px; border-left: 1px solid #d9d9d9; height: 161px; float: left; }
#activity_bottom { clear: both; margin: 3px 0px 2px 0px; border-top: 1px solid #d9d9d9;
  height: 1px; width: 100%; }

