* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    color: #333;
    background: #c9c9c9;
}

a { color: #369; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

section,aside,hgroup { display:block; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
.center { text-align: center; }

#shell { width:982px; padding:0 2px; background:#fff; margin:0 auto; position:relative; display:block; }

nav { display:block;  font-size:10px; line-height:34px; height:34px; padding:3px 27px 0;  font-weight:bold; text-transform:uppercase; border-bottom:2px solid #fff; }
nav { background:#324552; background:-moz-linear-gradient(top, #324552, #7d909d);  }
nav { background: -o-linear-gradient(#324552,#7d909d); background:-webkit-gradient(linear, left top, left bottom, from(#324552), to(#7d909d));  }
nav a { color:#fff; }
nav ul { list-style:none; float: left; display: inline; }
nav ul.right { float: right; }
nav ul li { float: left; display: inline; padding-right:11px; margin-right:9px; background:url(/images/ui/navigation-li.png) right 12px no-repeat; }
nav ul li.last { background:none; }
nav ul li a:hover,
nav ul li a.active { color:#b0bdc7; text-decoration:none; }
nav p { float: right; display: inline; }

header { display:block; height:71px; background:url(/images/ui/home_bg.png) 0px -39px; padding:26px 0 31px 27px; position:relative; z-index:2; }
footer { display:block; background:#455864; margin-top:58px; height:auto !important; height:330px; min-height:330px;  }
footer { background:-moz-linear-gradient(top, #334552, #526572); background:-webkit-gradient(linear, left top, left bottom, from(#334552), to(#526572)); background: -o-linear-gradient(#334552,#526572); }


#logo { float: left; display: inline; padding-right:9px; }
#logo a { float: left; display: inline; width:71px; height:71px; background:url(/images/ui/logo.png); font-size: 0; line-height: 0; text-indent: -4000px;; }
#playlists-logo { float: left; display: inline; }
#playlists-logo a { float: left; display: inline; width:157px; height:26px; background:url(/images/ui/app_icons.png) 0px -151px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
.singleitem-logo { float: left; display: inline; }
.singleitem-logo a { float: left; display: inline; width:143px; height:32px; background:url(/images/ui/app_icons.png) 0px -210px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
#collage-logo { float: left; display: inline; }
#collage-logo a { float: left; display: inline; width:143px; height:32px; background:url(/images/ui/app_icons.png) 0px -210px; font-size: 0; line-height: 0; text-indent: -4000px; margin-top: 20px; }
#cases-logo { float: left; display: inline; }
#cases-logo a { float: left; display: inline; width:112px; height:30px; background:url(/images/ui/app_icons.png) 0px -177px; font-size: 0; line-height: 0; text-indent: -4000px;; margin-top: 17px; }

#search { float: right; display: inline; padding:18px 14px 0 0; position:relative; }
#search ul { list-style:none; position:relative; z-index:2; }
#search ul li { float: left; display: inline; }
#search ul li.btn { padding-left:9px; position:relative; }
#search ul li.btn .btn-a { float: left; display: inline; font-size:11px; line-height:28px; color:#fff; font-weight:bold; background:url(/images/ui/repeat_bg.png) 0px -21px; position:relative; z-index:2; }
#search ul li.btn .btn-a { padding:0 11px; text-decoration:none; }
#search ul li.btn .btn-a { border:1px solid #8b9eb3; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px;  }
#search ul li.btn .btn-a span { display:inline-block; padding-right:10px; background:url(/images/ui/search-btn-arrow.png) right -1px no-repeat; }
#search ul li.btn .active { color:#336699; background:#fff; border:1px solid #aaafb4; border-bottom:0;  }
#search ul li.btn .active { border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; -ms-border-radius:0; -o-border-radius:0; }
#search ul li.btn .active span {  }

#search ul li.submit { padding-left:5px; }
#search ul li.submit a { line-height:28px; padding:0 12px; font-weight:bold; color:#fff; font-size:11px; background:#647e90;
border:0; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; 
display: inline-block; border: 1px solid #647e90; }
#search ul li.submit a:hover { text-decoration: none; }

#search ul li.sorter { background:#fff; margin-left:15px; padding:3px; height:24px; line-height:24px; }
#search ul li.sorter .link-show { float: left; display: inline; width:24px; height:24px; background:url(/images/ui/sorter-show.png); font-size: 0; line-height: 0; text-indent: -4000px; }
#search ul li.sorter .link-clear { float: left; display: inline; width:17px; background:url(/images/ui/sorter-clear.png) left center no-repeat; font-size: 0; line-height: 0; text-indent: -4000px; height:24px; }
#search ul li.sorter p { float: left; display: inline; font-size:11px; color:#666; font-weight:bold; width:175px; padding-left:20px; background:url(/images/ui/sorter-p.png) no-repeat; }
#search ul li.field {  background:#fff url(/images/ui/app_icons.png) -110px -70px no-repeat; margin-left:15px; }
#search ul li.field input { width:198px; height:16px; background:transparent; border:0; line-height:16px; padding:7px 10px 7px 35px; }
#search form { padding-right: 30px; }
#search #radios { clear: both; padding: 10px 35px 0px 20px; float: right; }
#search #radios p { color: #666; float: left; width: 140px; margin: 0px; font-size: 9pt; }
#search #radios p input { margin: 0px 7px 7px 0px; }

#search .browse-tags-popup { display:none; position:absolute; background:#fff; border:1px solid #aaafb4; width:343px; padding:5px 4px 4px 5px; z-index:1; top:28px; left:9px; }
#search .browse-tags-popup ul { list-style:none; text-align:justify; }
#search .browse-tags-popup ul li { display:inline; font-size:11px; line-height:23px; }
#search .browse-tags-popup ul li a { display:inline-block; margin:0 1px 1px 0; background:#e0e5ec; padding:0 10px; white-space:nowrap; }
#search .browse-tags-popup ul li a.even strong { font-weight: normal; }
#search #cases_browse { width:750px; left: -300px; }
#search #cases_browse ul { height: 115px; overflow-y: scroll; }
#search #cases_browse ul li span { display:inline-block; margin:0 1px 1px 0; padding:0 5px; white-space:nowrap; }
#search #cases_browse .button { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
-ms-border-radius: 4px; -o-border-radius: 4px; border: 1px solid #8B9EB3; color: #FFF;
background: url(/images/ui/repeat_bg.png) 0px -21px; font-weight: bold; text-transform: uppercase;
padding: 5px 10px; font-size: 11px; margin-right: 15px; }
#search #cases_browse a { color: #999; text-transform: uppercase;
font-weight: bold; font-size: 11px; }
#search #cases_browse .center { margin: 5px 0px 10px 0px; }
#search #cases_browse li input { position: relative; top: 2px; }

.breadcrumbs { display:block; padding:14px 12px 7px 32px; }
.breadcrumbs .filter { float: left; display: inline; }
.breadcrumbs .filter p { font-size:12px; line-height:24px; color:#333; }
.breadcrumbs .filter p a { font-size:9px; text-transform:uppercase; font-weight:bold; color:#69c; }

.playlistable-list table { clear: both; width: 100%; }
.playlistable-list table td { padding-bottom: 4px; }
.playlistable-list .pagination { padding: 10px 0px; }

/* Important: .pagination applies to embedded pagers as well as list index pages */
.breadcrumbs .pagination { float: right; display: inline; padding:0px 6px 0 0; }
.pagination span { float: left; display: inline; font-size:10px; line-height:13px; padding-right:7px; margin-right:7px; background:url(/images/ui/pagination-divider.png) right 3px no-repeat; font-weight:bold; }
.pagination a { float: left; display: inline; font-size:10px; line-height:13px; padding-right:7px; margin-right:7px; background:url(/images/ui/pagination-divider.png) right 3px no-repeat; font-weight:bold; text-decoration:underline; }
.pagination a:hover,
.paginatio a.active { color: #999; }
.pagination .next_page { background:none; margin-right:0;
  background:url(/images/ui/app_icons.png) 0px -110px; text-indent: -4000px; width: 7px;
  height: 9px; padding: 0px; margin-top: 2px; }
.pagination .prev_page { background:url(/images/ui/app_icons.png) -7px -110px; text-indent: -4000px; 
  width: 7px; height: 9px; padding: 0px; margin-top: 2px; }

#results { display:block; padding:0 12px 0 8px; position:relative; z-index:1; height:100%; }
#results > hgroup { border:1px solid #ff8b11; background:url(/images/ui/orange_bg.png) 0px 0px;
height:30px; line-height:30px; display:block; position:relative; z-index:2;
border-radius:4px; -moz-border-radius:4px;
-webkit-border-radius:4px; -o-border-radius:4px; -ms-border-radius:4px; margin-bottom: 10px; }
#results .tabs { list-style:none; float: left; display: inline; padding:4px 0 0 11px; }
#results .tabs li { float: left; display: inline; font-weight:bold; font-size:10px; line-height:24px; padding-right:3px; }
#results .tabs li a { float: left; display: inline; background:url(/images/ui/tabs-nav.png); color:#630; padding:0 15px 2px; position:relative; }
#results .tabs li a { -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; }
#results .tabs li a { -moz-border-radius-topright: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; }
#results .tabs li a:hover,
#results .tabs li a.active { text-decoration:none; background:#fff; padding-bottom:3px; margin-bottom:-3px; }
#results .sort { float: right; display: inline; padding:5px 2px 0 0; }
#results .sort label { float: left; display: inline; font-size:9px; line-height:22px; color:#630; font-weight:bold; padding-right:8px; }
#results .sort .jsb { position:relative; height:20px; z-index:1; background:#ffd5a4; border:1px solid #ed9635; float: left; display: inline; }
#results .sort .jsb { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;  -o-border-radius:4px;  }
#results .sort .jsb { width:103px !important; }
#results .sort .jsb .jsb-currentItem { display:block; font-size:9px; line-height:20px; color:#630;
font-weight:bold; padding:0 8px; background:url(/images/ui/app_icons.png) -142px -1px no-repeat; }
#results .sort .jsb .jsb-moreButton { position:absolute; top:0; left:0; width:103px; height:20px; cursor:pointer; background:url(/images/ui/transparent.gif); }
#results .sort .jsb .jsb-list { position:absolute; top:20px; left:-1px; width:103px !important;
background:#ffd5a4; border:1px solid #ed9635; overflow:auto; }
#results .sort .jsb .jsb-list { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; display:none; }
#results .sort .jsb .jsb-list .jsb-item { display:block; font-size:9px; line-height:20px; color:#630; font-weight:bold; padding:0 8px; cursor:default; }

#results .songs { padding: 0px; position:relative; z-index:1; }
#results .songs ul { list-style:none; }
#results .listitem  { border-top:1px solid #e0e1e1; padding:1px 0 13px; position:relative; z-index:1; width:100%; }
#results .song-active  { z-index:2; }

#results .listitem .controls { float: left; display: inline; padding-right:10px; position:relative; }
#results .listitem .controls ul { list-style:none; }
#results .listitem .controls ul li { float: left; display: inline; padding-right:1px; }
#results .listitem .controls ul li a { float: left; display: inline; width:24px; height:23px; font-size: 0; line-height: 0; text-indent: -4000px; }
#results .listitem .controls ul li.link-play a { background:url(/images/ui/app_icons.png) -48px -69px; }
#results .listitem .controls ul li.link-add a { background:url(/images/ui/app_icons.png) 0px -69px; }
#results .listitem .controls ul li.link-copy a { background:url(/images/ui/app_icons.png) -24px -69px; }
#results .listitem .controls ul li.link-collage a { background:url(/images/ui/app_icons.png) -72px -69px; }

#results .listitem .details { float: right; display: inline; width:902px; }
#results .listitem .details .tags { float: right; display: inline; }
#results .listitem .details .tags ul { list-style:none; }
#results .listitem .details .tags ul li { float: left; display: inline; font-size:10px; line-height:23px; padding-left:1px; }
#results .listitem .details .tags ul li a { float: left; display: inline; background:#dbe2e9; padding:0 11px; }
#results .listitem .details h4 { font-size:14px; line-height:18px; padding-bottom:4px; color: #336699; }
.listitem .action { font-size: 10px; font-weight: normal; }
.listitem .delete-action { padding-left: 5px; }
.listitem .delete-playlist-item { padding-left: 5px; background:
  transparent url(/images/ui/pagination-divider.png) no-repeat scroll right 1px; padding-right: 5px; }
#results .listitem .details p { float: left; display: inline; font-size:10px; line-height:16px; }
#results .listitem .details p a { font-weight:bold; }
#results .listitem .details .influence { float: left; display: inline;  }
#results .listitem .details .influence label { float: left; display: inline; font-size:9px; line-height:16px; color:#666; font-weight:bold; padding:0 7px; }
#results .listitem .details .extra { display: block; clear: both; padding-top: 8px; }

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel { display:none !important; }
div.rating-cancel,div.star-rating{float:left;width:8px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden; padding-right:2px;}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(/images/ui/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */

/* Home Page */
#bbase header { height: 106px; padding-top: 30px; }
#homepage-logo { float: left; display: inline; margin-top: 20px; }
#homepage-logo a { float: left; display: inline; width:249px; height:29px; background:url(/images/ui/app_icons.png) 0px -124px; font-size: 0; line-height: 0; text-indent: -4000px; }

#home_nav { clear: both; background: #FFFFFF; border-bottom: 1px solid #d9d9d9; margin-top: 3px; }
#home_nav .panel { float: left; width: 200px; border-right: 1px solid #d9d9d9;
  padding: 7px 23px; text-align: center; height: 242px; overflow: hidden; }
#home_nav .last { width: 200px; border-right: none; padding-right: 0px; }
#home_nav a { display: block; text-decoration: none; font-size: 21pt; }
#home_nav .icon_nav { background: url(/images/ui/app_icons.png); display: inline-block;
  width: 38px; height: 38px; }
  #home_nav #questions a { color: #2d97d3; }
    #home_nav #questions .icon_nav { background-position: -35px 0px; }
  #home_nav #rotisserie a { color: #349b6c; }
    #home_nav #rotisserie .icon_nav { background-position: -72px 0px; width: 35px; }
  #home_nav #collage a { color: #95cf2b; }
    #home_nav #collage .icon_nav { background-position: 0px 0px; width: 36px; }
  #home_nav #playlist a { color: #ff9504; }
    #home_nav #playlist .icon_nav { background-position: -107px 0px; }

#home_nav p { text-align: left; font-size: 10px; color: #999999; line-height: 16px; }
#home_nav .button { font-weight: bold; border:1px solid #dbdbdb;
  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
  -ms-border-radius:4px; -o-border-radius:4px; display: inline-block; 
  font-size:11px; line-height:24px; color:#fff;
  background:url(/images/ui/repeat_bg.png) 0px -49px; 
  z-index:2; padding:0 11px; text-decoration:none; margin-top: 10px; }

#empty_panel { background: #f4f3d4; float: right; width: 485px; height: 158px;
  margin-top: 3px; }  
#activity_panel { background: #f4f4e8; padding: 13px 0px 20px 0px; float: left;
 width: 490px; height: 125px; margin: 3px 3px 0px 0px; }
  #activity_panel h3 { color: #3e505d; font-weight: normal; font-size: 21pt;
    margin: 0px 0px 20px 0px; text-align: center; }
  #activity_panel ul { margin-left: 40px; }
  #activity_panel li { float: left; width: 49%; font-size: 10pt; color: #666; }
  #activity_panel a { text-decoration: none; font-weight: bold; color: #666; }
#activity_border { width: 1px; border-left: 1px solid #d9d9d9; height: 161px; float: left; }
#activity_bottom { clear: both; margin: 3px 0px 2px 0px; border-top: 1px solid #d9d9d9;
  height: 1px; width: 100%; }

#description,
#description_more,
#description_less { font-size:12px; line-height:1.5em; color:#616e5c; }
.link-more, 
.link-less { font-size:9px; text-transform:uppercase; font-weight:bold; }
#description_more { display: none; }
.singleitem .details .edit-action { padding-left: 5px; font-size:9px;
text-transform:uppercase; font-weight:bold;
background: url(/images/ui/pagination-divider.png) left 0px no-repeat; }

/* Default */
#results #default_hgroup { background: #96A3B3; border: 1px solid #84919A; }
#results #default_hgroup .tabs li a { color: #000; }
#busers #results .sort label,
  #bbase #results .sort label { color: #000; }
#busers #results .sort .jsb,
  #bbase #results .sort .jsb { background: #c5cdd5; border: 1px solid #84919A; }
#busers #results .sort .jsb .jsb-list,
  #bbase #results .sort .jsb .jsb-list { background: #c5ccd5; border: 1px solid #84919A; }
#busers #results .sort .jsb .jsb-list .jsb-item,
  #bbase #results .sort .jsb .jsb-list .jsb-item { color: #000; }
#busers #results .sort .jsb .jsb-currentItem,
  #bbase #results .sort .jsb .jsb-currentItem { background-position: -142px -17px; color: #000; }

/* Cases Index */
#bcases #results .sort label { color: #a51514; }
#results #cases_hgroup { border:1px solid #ff1a05; background:url(/images/ui/red_bg.png) 0px 0px; }
#results #cases_hgroup .tabs li a { color: #a51514; }
#my_cases { display: none; }
#bcases #results .sort label { color: #a51514; }
#bcases #results .sort .jsb { background: #ff9e92; border: 1px solid #ff1a05; }
#bcases #results .sort .jsb .jsb-list { background: #ff9e92; border: 1px solid #ff1a05; }
#bcases #results .sort .jsb .jsb-list .jsb-item { color: #a51514; }
#bcases #results .sort .jsb .jsb-currentItem { background-position: -142px -99px; color: #a51514; }

#results .cases_details { font-size: 10px; }
#results .case_collages { color: #669500; text-transform: uppercase; }
#results .cases_details .active { color: #999; }
#results .collages { display: none; padding-top: 5px; clear: both; }
#results .collages ul { list-style: disc outside url(/images/ui/grey-list-style.jpg); margin-left: 10px; }
#results .collages ul li ul { margin-left: 45px; list-style: disc outside url(/images/ui/grey-list-style.jpg); }
#results .collages li { margin-top: 5px; color: #999; }
#results .collages a { color: #669500; font-weight: bold; }
#results .collages .hide_collages { color: #369; font-size: 10px; font-weight: normal; margin-top: 10px; display: inline-block; }


/* Collage index */
#results #collage_hgroup { border:1px solid #a6db31; background:url(/images/ui/green_bg.png) 0px 0px; }
#results #collage_hgroup .tabs li a { color: #003100; }
#my_collages { display: none; }
#bcollages #results .sort label { color: #003100; }
#bcollages #results .sort .jsb .jsb-currentItem { color: #003100; background-position: -142px -17px; }
#bcollages #results .sort .jsb { background: #e0f5bd; border: 1px solid #8eb356; }
#bcollages #results .sort .jsb .jsb-list { background: #e0f5bd; border: 1px solid #8eb356; }
#bcollages #results .sort .jsb .jsb-list .jsb-item { color: #003100; }

#busers header, #buser_sessions header { height: 106px; padding-top: 30px; }

/* Popup */
.add-popup { position:absolute; z-index:1; background:#fff; border: 2px solid #666; 
  padding: 4px 9px 10px;  display:none;
  top: 0px; left: 0px; background: #FFF; box-shadow:#777 4px 4px 6px;
  -moz-box-shadow:#777 4px 4px 6px; -webkit-box-shadow:#777 4px 4px 6px;
  -o-box-shadow:#777 4px 4px 6px; -ms-box-shadow:#777 4px 4px 6px; }
.popup h4 { font-size:11px; line-height:18px; text-transform:uppercase; padding-bottom:11px; }
.popup ul { list-style:none; font-size:9px; line-height:17px; padding: 12px 0px 4px; }
.popup ul li { display:block; float:none; }
.popup ul li strong { float:left; display:inline; font-weight:normal; padding-right:5px; }
.popup ul li a { color:#fff; padding: 0px; text-decoration:none;
  float:left; display:inline; font-weight:normal; font-size:10px;
  line-height:18px; color:#359; float:none; width:auto; height:auto; }
.popup ul li a strong { padding:0; font-weight:bold; }
.popup select { width:230px; }
.popup .btn { float: right; display: inline; background:url(/images/ui/repeat_bg.png);
  border:1px solid #8a9eb5; padding:0 9px; font-size:9px; line-height:21px;
  color:#fff; border-radius:3px; -moz-border-radius:3px; 
  -webkit-border-radius:3px; -o-border-radius:3px; 
  -ms-border-radius:3px; text-decoration:none; }

#search ul li#spinner { display: none; height: 30px; overflow: hidden; }

#my_playlists { display: none; }

/* Bookmark */
#my_bookmarks, #bookmarks { display: none; }
#bookmarks .playlist .data .dd-open { left: -15px; }

.playlist .data .icon-type { display: inline-block;
  margin: 1px 0px 0px 2px; width:18px;
  height:18px; background-image: url(/images/ui/app_icons.png); top: 0px; }
.playlist .data .icon-type-itemdefault { background-position: -72px -92px; }
.playlist .data .icon-type-itemcollage { background-position: 0px -92px; }
.playlist .data .icon-type-itemquestion { background-position: -36px -92px; }
.playlist .data .icon-type-itemplaylist { background-position: -18px -92px; }
.playlist .data .icon-type-itemcase { background-position: -54px -92px; }
.playlist .data .icon-type-itemannotation { background-position: -72px -92px; }
#my_bookmarks .playlist .data p { float: left; display: inline; font-size:10px; line-height:16px; clear:both; }

#my_bookmarks .playlists .playlists { display:none; padding-left:74px; padding-top:10px; position:relative; width:894px; }
#my_bookmarks .playlists .playlists .data { padding-right:271px; }
#my_bookmarks .playlists .playlists .playlists { width:823px;}
#my_bookmarks .playlists .playlists .playlists .data { padding-right:197px; }
#my_bookmarks .playlists .playlists .playlists .playlists { width:749px; }
#my_bookmarks .playlists .playlists .playlists .playlists .data { padding-right:119px; }
#my_bookmarks .playlists .full-list-link { position:absolute; top:13px; right:0; width:78px; height:24px; background:#d8dada; color:#333; text-align:center; font-size:10px; line-height:24px; font-weight:bold; }

#header_login { float: right; padding: 0px 15px; }
#header_login.active { background: #FFF; color: #000; }

.standard-form { padding: 20px; }
#login-popup { display: none; position: absolute; top: 38px; right: 0px;
background: #FFF; z-index: 1000; width: 642px; box-shadow:#777 -4px 10px 20px;
-moz-box-shadow:#777 -4px 10px 20px; -webkit-box-shadow:#777 -4px 10px 20px;
-o-box-shadow:#777 -4px 10px 20px; -ms-box-shadow:#777 -4px 10px 20px; padding: 0px; }
.standard-form h3,
.standard-form h2 { color: #4e9ed1; font-size: 16pt; font-weight: normal; padding-bottom: 20px; }
.standard-form .errorExplanation { color: #4e9ed1; margin-bottom: 20px; }
.standard-form .errorExplanation ul { margin-left: 20px; }
.standard-form .left { float: left; width: 321px; padding: 25px 0px; text-align: center; }
.standard-form .left h3 { text-align: center; width: 90%; padding: 0px 10px 20px 10px; }
.standard-form .right { float: right; width: 230px; padding: 25px 46px 15px 40px; border-left: 1px solid #d9d9d9; }
.standard-form .border { border-top: 1px solid #d9d9d9; width: 100%; display: block; height: 1px; margin: 20px 0px; }
.standard-form .button { background: url(/images/ui/repeat_bg.png) 0px -49px repeat; border-radius: 4px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #dbdbdb; 
color: #4e9ed1; padding: 4px 11px; }
.standard-form label { text-transform: uppercase; font-size: 9px; font-weight: bold; display: block; }
.standard-form input.text { margin-bottom: 15px; background: #FFF; border: 1px solid #999; padding: 2px; }
.standard-form #forgot { display: inline-block; margin: 10px 0px 20px 0px; text-align: center; }
.standard-form .remember { margin-bottom: 15px; }
.standard-form .remember input { position: relative; top: 2px; margin-right: 3px; }
.standard-form .remember label { font-weight: normal; display: inline-block; }

/* Playlist list items -- needed here because used on users page */
.playlist .controls ul li.link-add a { background:url(/images/ui/app_icons.png) 0px -69px;
  float: left; display: inline; width:24px; height:23px; font-size: 0; line-height: 0; text-indent: -4000px; }
.playlist .number { float:left; display:inline;  width:24px; font-size:10px;
  line-height:20px; color:#666; font-weight:bold; text-align:center;
  border-bottom: 1px solid #e0e1e1; border-left: 1px solid #e0e1e1;
  padding-top: 2px; }
.playlist .data { float: right; display: inline; width:550px; position:relative; 904px;  padding-right:345px; } 
.playlist .data .dd { position:absolute; top:7px; left:-17px; width:12px; height:12px; background:url(/images/ui/app_icons.png) -14px -115px no-repeat; font-size:0; line-height:0; text-indent: -4000px;  }
#bookmarks .playlist .data .dd { left: -15px; }
.playlist .data .dd-closed { width: 9px; background-position: 0px -110px; }

.playlist .data .tags { position:absolute; top:0; right:0; }
.playlist .data .tags ul { list-style:none; float:right; display:inline; }
.playlist .data .tags ul li { float: left; display: inline; font-size:10px; line-height:23px; padding-left:1px; }
.playlist .data .tags ul li a { float: left; display: inline; background:#dbe2e9; padding:0 11px; }
.playlist .data .tags .link-more { font-size:8px; font-weight:bold; float:right; display:inline; padding:3px 8px; clear:both; }
.playlist .data h3 { font-size:14px; line-height:1.3em; font-weight:normal; display:inline; float:left; }
.playlist .data h3 a { position: relative; top: -2px; }
.playlist .data > div { float: left; display: inline; font-size:10px; line-height:1.6em; clear:both; }
.playlist .data div.item_description { display: none; }

.playlists .playlists { display:none; padding-left:74px; padding-top:10px; position:relative; width:894px; }
.playlists .playlists .data { padding-right:271px; }
.playlists .playlists .playlists { width:823px;}
.playlists .playlists .playlists .data { padding-right:197px; }
.playlists .playlists .playlists .playlists { width:749px; }
.playlists .playlists .playlists .playlists .data { padding-right:119px; }
.playlists .listitem .icon-type,
.playlists .listitem .delete-action,
.playlists .listitem .edit-action { line-height: 18px; }

.bookmarked { color: #A6DB31; padding-left: 10px; font-size: 10px; }
.bookmarked a { padding-left: 5px; }
h2 .bookmarked { color: #FFF; }

.singleitem .toolbar a { background: url(/images/ui/app_icons.png);
  display: block; width: 23px; height: 30px; text-indent: -4000px; }
.singleitem .toolbar .link-share { width: 25px; background-position: 0px -39px; }
.singleitem .toolbar .collage-this { background-position: -120px -39px; width: 14px; }
.singleitem .toolbar .link-remix { background-position: -81px -39px; width: 20px; }
.singleitem .toolbar .link-copy { background-position: -25px -39px; width: 16px; }
.singleitem .toolbar .link-bookmark { background-position: -41px -39px; width: 18px; }
.singleitem .toolbar .link-print { background-position: -60px -39px; width: 22px; }

/* Print Container */
.singleitem .description .toolbar ul li#print-container { position: relative; padding: 0px; }
.singleitem .description .toolbar ul li#print-container > a { padding: 0px 8px; background-position: -167px -39px; }
.singleitem .description .toolbar ul li .print-popup { position:absolute; left:0; z-index:2;
  background:#fff; border: 2px solid #666; 
  padding: 4px 9px 10px;  display:none;
  left: -186px; background: #FFF;
  width: 200px; border: 1px solid #6D87A2; top: 25px; }
.singleitem .description .toolbar ul li .print-popup ul { padding-top: 0px; line-height: 17px; list-style: none; }
.singleitem .description .toolbar ul li .print-popup ul li { padding-bottom: 3px; text-transform: uppercase; border: none; }
.singleitem .description .toolbar ul li .print-popup ul li { padding-bottom: 3px; text-transform: uppercase; border: none; }
.singleitem .description .toolbar ul li .print-popup ul li strong input { position: relative; top: 2px; }
.singleitem .toolbar .print-popup ul li a { border-radius:3px; -moz-border-radius:3px;
-webkit-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; 
text-decoration: none; float: left; display: inline; margin-left: 3px; 
font-weight: normal; padding: 0px 7px; font-size: 9px; background: #69c;
color: #FFF; background: url("/images/ui/repeat_bg.png") repeat scroll 0 -73px transparent;
text-indent: 0px; width: auto; height: auto; border: 1px solid #6D87A2; }
.singleitem .description .toolbar ul li#print-container > .btn-a-active {
background: url(/images/ui/app_icons.png) -134px -38px; border-bottom:0;
z-index: 100; padding: 0px 8px 1px 8px; position: relative; }

