#results .panel {
  width: 300px;
  float: left;
  margin-top: 25px;
  background: #FFF;
}
#results .special_panel {
  width: 100%;
  float: none;
}
#results #bookshelf_panel {
  width: 780px;
  margin-right: 10px;
}
#results #bookshelf_panel li.listitem h3 .icon-delete {
  visibility: visible;
  position: relative;
  top: 3px;
}
#results #settings_panel,
#results #collections_panel {
  margin-top: 5px;
}
#results .panel .header {
  background: #d5d5d5;
  padding: 20px 10px 2px 10px;
  position: relative;
}
#results .panel .header h3 {
  font-weight: normal;
  padding: 0px;
  display: inline-block;
  font-size: 21pt;
}
#results .panel .header span {
  margin-left: 3px;
}
#results #profile_panel .header a,
#results #settings_panel .header a {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#results .clear {
  clear: both;
}

.fixed_link {
  width: 40px;
  height: 40px;
  padding: 3px;
  background: #d5d5d5;
  text-align: center;
  text-indent: 0px;
}
#activities_toggle {
}
#bookshelf_toggle {
  top: 240px;
}
#bookshelf_toggle span {
  position: relative;
  top: 2px;
}
#profile_toggle {
  top: 288px;
}
#profile_toggle span {
  position: relative;
  top: 3px;
}
#settings_toggle {
  top: 336px;
}
#settings_toggle span {
  position: relative;
  top: 2px;
}

ul.user_list li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
ul.user_list li a.item {
  text-decoration: none;
  font-weight: bold;
}

#results li.listitem .details {
  width: 360px;
}
#results .special_panel li.listitem .details {
  width: 85%;
}
#results #bookmarks_panel li.listitem .details {
  width: 400px;
}
#results #bookmarks_panel .bookmark-action {
  display: none;
}
table#user_search {
  width: 100%;
  margin: 10px 0px;
}
#results .sort {
  margin: 0px;
}
#results .special_sort {
  margin: 0px 0px 10px 0px;
}
#user_keywords {
  width: 75px;
}
#results #user_search_filter .jsb {
  width: 86px !important;
}
#results #user_search_filter .jsb .jsb-moreButton {
  width: 86px;
}
table#user_search td#user_search_input,
table#user_search td#user_search_filter {
  background: #FFF;
}
table#user_search td#user_search_filter {
  width: 100px;
}
#search_user_content {
  font-family: 'futura-pt', Verdana, Arial, Helvetica, sans-serif; 
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  background: #036290;
  text-decoration: none;
  display: inline-block;
  padding: 3px 7px 4px;
  border: none;
  font-size: 14px;
}
#results .pagination {
  position: static;
  float: right;
  margin-bottom: 10px;
  clear: right;
}
