<h1>Editing item_default</h1>

<% form_for(@item_default) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_default %> |
<%= link_to 'Back', item_defaults_path %>