<h1>Listing item_defaults</h1>

<table>
  <tr>
  </tr>

<% @item_defaults.each do |item_default| %>
  <tr>
    <td><%= link_to 'Show', item_default %></td>
    <td><%= link_to 'Edit', edit_item_default_path(item_default) %></td>
    <td><%= link_to 'Destroy', item_default, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_default', new_item_default_path %>