<div id="case-list">
  <%= will_paginate @cases.hits %>
  <div class="clear"></div>
  <table class="core_table tablesorter">
    <thead>
      <tr class="table_heading">
        <th>Case</th>
        <th>Date</th>
        <th>Tags</th>
        <th>Collages</th>
        <% if current_user %>
          <th colspan="2">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => 'shared/objects/case_obj', :collection => @cases.results %>
    </tbody>
  </table>
  <%= will_paginate @cases.hits %>
</div>
