<div id="text_block" class="singleitem" data-itemid="<%= @case.id %>">
  <div class="Item-title scale1-5 vh1" ><%= raw @case.display_name %></div>
	<div class="details">
		<div class="clear"></div>
	</div>
	<div class="article">
  		<%= raw @case.content %>
	</div>
</div>
