<div id="text_block" class="singleitem" data-itemid="<%= @case.id %>">
  <h1 class="scale1-5"><%= @case.display_name %></h1>
	<div class="details">
		<div class="clear"></div>
	</div>
	<div class="article">
  		<%= raw @case.content %>
	</div>
</div>
