<div id="text_block" class="singleitem" data-itemid="<%= @case.id %>">
  <h1><%= @case.display_name %></h1>
	<div class="details">
		<div class="clear"></div>
	</div>
	<article>
  		<%= raw @case.content %>
	</article>
</div>
