<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'cases-logo',
  :url => cases_path,
  :right_search => 'cases/nav_search' } %>

<div class="standard-form">
<%= render :partial => 'shared/forms/case_form' %>
</div>
