<h1><%=h @case.display_name %></h1>
<div class="meta">

  <p>
  <b>Decision date:</b>
  <%=h @case.decision_date %>
  </p>

  <p>
  <b>Author:</b>
  <%=h @case.author %>
  </p>

  <p id="content">
  <b>Content:</b>
  <%= @case.content %>
  </p>

</div>

