  <div class="standard-form">
    <div id="case-error" style="display:none;" class="error"></div>
    <h3 id="generic_title">Upload a Case</h3>

    <% form_tag(upload_cases_path, :multipart => true) do %>
      <%= label_tag('Upload Case XML file:') %><br/>
      <%= file_field_tag "file" %><br/><br/>
      <%= submit_tag 'Upload' %>
    <% end -%>
  </div>
