<h1>Listing question_instances</h1>

<table>
  <tr>
  </tr>

<% @question_instances.each do |question_instance| %>
  <tr>
    <td><%= link_to 'Show', question_instance %></td>
    <td><%= link_to 'Edit', edit_question_instance_path(question_instance) %></td>
    <td><%= link_to 'Destroy', question_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question_instance', new_question_instance_path %>