<div id="question-instance-list">
  <% unless @question_instances.blank? %>
    <h2>Please choose an existing question tool.</h2>
    <div class="clear"></div>
      <% if params[:updated] %>
        <div class="ui-state-highlight ui-corner-all">Updated!</div>
      <% end %>
      <table id="question-instance-chooser" class="tablesorter">
        <thead>
          <tr>
            <th>Name</th>
            <th>Questions</th>
            <th>Created</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'shared/objects/question_instance', :collection => @question_instances %>
        </tbody>
      </table>
      <h2>OR</h2>
  <% else %>
    <h2>No question tools are currently active.</h2>
  <% end %>

  <div class="clear"></div>
  <h2><%= link_to 'Create a new question tool', new_question_instance_path, :class => 'question-instance-control' %></h2>
  <div id="question-instance-form-container" style="display:none;"></div>
</div>
