{% load current_query_string short_page_range %}

{% if results.has_other_pages %}
<nav aria-label="Search Results">
  <ul class="pagination">
    {% if results.has_previous %}
      <li>
        <a rel="prev" href="{{ path }}?{% current_query_string page=results.previous_page_number %}" aria-label="Previous">
          <span aria-hidden="true">←</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <span>
          <span aria-hidden="true">←</span>
        </span>
      </li>
    {% endif %}

    {% for i in results|short_page_range %}
      {% if i == '...' %}
        <li class="disabled">
          <span>
            <span>…</span>
          </span>
        </li>
      {% else %}
        {% ifequal i results.number %}
          <li class="active">
            {# TODO: add style to css #}
            <span style="background-color: #3e72d8;"><span class="sr-only">Page</span>{{ results.number }} <span class="sr-only">(current page)</span></span>
          </li>
        {% else %}
          <li><a href="{{ path }}?{% current_query_string page=i %}"><span class="sr-only">Page</span> {{ i }}</a></li>
        {% endifequal %}
      {% endif %}
    {% endfor %}

    {% if results.has_next %}
      <li>
        <a rel="next" href="{{ path }}?{% current_query_string page=results.next_page_number %}" aria-label="Next">
          <span aria-hidden="true">→</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <span>
          <span aria-hidden="true">→</span>
        </span>
      </li>
    {% endif %}
  </ul>
</nav>

{% endif %}
