<% if false -%>
<h3>User Collections</h3>
<div id="user_collections">
  <a href="<%= new_user_collection_path %>" class="new-action">Create a New User Collection</a>
  <ul>
	  <%= render :partial => "shared/objects/user_collection", :collection => @user.collections %>
	</ul>
</div>
<% end -%>
