<div class="standard-form">
  <h1>Edit My Account</h1>
<% form_for @user, :url => user_path(@user), :html => { :class => "formtastic" } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <div style="text-align:center;width:100%;">
  <%= f.submit "Update" %>
  </div>
<% end %>
</div>
