<div id="#manage_users" class="standard-form">
  <h3 id="generic_title">Edit My Account</h3>
  <%= form_for @user, :url => user_path(@user), :html => { :class => "formtastic" } do |f| %>
  <% if @user.errors.any? %>
  <ul class="error">
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= render :partial => "form", :object => f %>
<% end %>
</div>
