<div class="standard-form">
	<h1>Register</h1>
	<% form_for @user, :url => users_path, :html => { :class => "formtastic" } do |f| %>
		<%= f.error_messages %>
 	  <%= render :partial => "form", :object => f %>
    <div style="text-align:center;width:100%;">
	  <%= f.submit "Register", :class => 'button' %>
    </div>
	<% end %>
</div>
