<%= render :partial => 'shared/second_nav', :locals => { :nav_id => 'homepage-logo',
  :url => '/',
  :right_search => 'shared/search_all' } %>

<div class="standard-form">
	<h3>Register</h3>
	<% form_for @user, :url => account_path do |f| %>
		<%= f.error_messages %>
  		<%= render :partial => "form", :object => f %>
  		<%= f.submit "Register", :class => 'button' %>
	<% end %>
</div>
