<div class="search-options">
  {% if category == 'casebook' %}
    <div class="form-group select required search_sort">
      <select class="form-control select required" name="sort" aria-label="Sort Results" id="search_sort">
        <option {% if request.GET.sort == 'display_name'%}selected {% endif %}value="display_name">Sort by Title</option>
        <option {% if request.GET.sort == 'created_at'%}selected {% endif %}value="created_at">Sort by Date</option>
        <option {% if request.GET.sort == 'score'%}selected {% endif %}value="score">Sort by Relevance</option>
      </select>
      {# Retain for now for spacing #}&nbsp;
    </div>
    <div class="form-group select required search_author">
      <select class="form-control select required" name="author" aria-label="Filter by Author" id="search_author">
        <option {% if not request.GET.author %}selected {% endif %}value="">All Authors</option>
        {% for author in facets.attribution %}
          <option {% if request.GET.author == author %}selected {% endif %}value="{{ author }}">{{ author }}</option>
          {% endfor %}
      </select>
      {# Retain for now for spacing #}&nbsp;
    </div>
    <div class="form-group select required search_school">
      <select class="form-control select required" name="school" aria-label="Filter by School" id="search_school">
        <option {% if not request.GET.school %}selected {% endif %}value="">All Schools</option>
        {% for school in facets.affiliation %}
          <option {% if request.GET.school and request.GET.school == school %}selected {% endif %}value="{{ school }}">{{school}}</option>
        {% endfor %}
      </select>
    </div>
  {% elif category == 'case' %}
    <div class="form-group select required search_sort">
      <select class="form-control select required" name="sort" aria-label="Sort Results" id="search_sort">
        <option {% if request.GET.sort == 'display_name'%}selected {% endif %}value="display_name">Sort by Title</option>
        <option {% if request.GET.sort == 'decision_date'%}selected {% endif %}value="decision_date">Sort by Date</option>
        <option {% if request.GET.sort == 'score'%}selected {% endif %}value="score">Sort by Revelance</option>
      </select>
    </div>
  {% elif category == 'user' %}
    <div class="form-group select required search_school">
      <select class="form-control select required" name="school" aria-label="Filter by School" id="search_school">
        <option {% if not request.GET.school %}selected {% endif %}value="">All Schools</option>
        {% for school in facets.affiliation %}
          <option {% if request.GET.school == school %}selected {% endif %}value="{{ school }}">{{ school }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
</div>
