<h1>Editing item_youtube</h1>

<% form_for(@item_youtube) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_youtube %> |
<%= link_to 'Back', item_youtubes_path %>