<h1>Listing item_youtubes</h1>

<table>
  <tr>
  </tr>

<% @item_youtubes.each do |item_youtube| %>
  <tr>
    <td><%= link_to 'Show', item_youtube %></td>
    <td><%= link_to 'Edit', edit_item_youtube_path(item_youtube) %></td>
    <td><%= link_to 'Destroy', item_youtube, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_youtube', new_item_youtube_path %>