{% load call_method %}
{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ casebook.title }} | H2O </title>
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="utf-8">
    <meta name="description" 
      content="{{ casebook.description|default_if_none:'The text from a free and open casebook from H2O Open Casebooks' }}">
    <meta name="author" content="{% for author in casebook.primary_authors %}{{ author.attribution|safe }}{% if not forloop.last %}, {% endif %}{% endfor %}">


    {% if as_pdf %}
      <link href="{% static 'fonts/LibreCaslonText-Regular.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'fonts/LibreCaslonText-Bold.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'fonts/LibreCaslonText-Italic.woff2' %}" crossorigin rel="preload" as="font">

      <script>
        var css = "{% static 'as_printable_html/print.css' %}";
      </script>

      <style>
        #pdf-output {
          visibility: hidden;
        }
      </style>
      
      <script defer src="{% static 'as_printable_html/pagedjs.js' %}" type="module"></script>
      <script defer src="{% static 'as_printable_html/print.js' %}" type="module"></script>

    {% else %}
      <link href="{% static 'fonts/AtlasGrotesk-Regular.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'fonts/ChronicleTextG3-Regular.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'fonts/ChronicleTextG3-Bold.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'fonts/ChronicleTextG3-Italic.woff2' %}" crossorigin rel="preload" as="font">
      <link href="{% static 'as_printable_html/screen.css' %}" type="text/css" rel="stylesheet">
      <script defer src="{% static 'as_printable_html/as_printable_html.js' %}" type="module"></script>     
    {% endif %}

    {% include "includes/sentry.html" %}
  </head>

<body>
  <header class="screen-only">
    <img src="{% static 'images/logo-color-full-lockup.svg' %}" alt="H2O" height="50" width="50">
  <p>This free and open legal casebook from <a href="{% url 'index' %}">H2O</a>
    is licensed under a Creative Commons license. <a href="{% url 'terms-of-service' %}">Learn more</a>.
    </p>
  </header>

  <main>
    <header class="casebook-metadata" data-paginator-page="{{ page.number }}">
      <div>
        <h1 class="casebook title">{{ casebook.title }}</h1>
        {% if casebook.subtitle %}<h2 class="casebook subtitle">{{ casebook.subtitle}}</h2>{% endif %}
        <section class="casebook headnote">{{ casebook.headnote|safe}}</section>
      </div>
      <div class="author-list">
        <ul>
        {% for user in casebook.primary_authors %}
            <li class="user {% if user.verified_professor %} verified{% endif %}">
                {{ user.display_name }}
                {% if user.affiliation %}
                  ({{ user.affiliation }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>

      <div id="toc">
        {% include "export/as_printable_html/toc.html" with toc=toc toc_is_open=toc_is_open %}
      </div>
      <span class="truncated-title hidden">{{ casebook.title }}</span>

    </header>

    <article>
      {% for child in children %}
        {% include "export/as_printable_html/node.html" with index=forloop.counter node=child %}
      {% endfor %}
    </article>
  </main>

  <div id="pdf-output"></div>


  <footer class="screen-only">
    <nav>
      {% if whole_book or as_pdf %}

        <button onclick="location.href='{% url 'casebook' casebook %}'">Exit preview</button>

      {% else %}
        <a class="controls" href="#toc">↑ Table of contents</a>

        {% if page.has_previous %}
          <span><a href="{% url 'as_printable_html' casebook page.previous_page_number %}{% if as_pdf %}?print-preview=true{% endif %}">◀ Previous</a></span>
        {% else %}
          <span class="unlinked">Previous</span>
        {% endif %}

        <select id="page-selector">
        {% for p in paginator %}
          <option
            value="{% url 'as_printable_html' casebook p.number %}"
          {% if p.number == page.number %}selected{% endif %}>
          {{ p.number }} of {{ paginator.num_pages }} section{{ paginator.num_pages|pluralize}} </span>
          </option>
        {% endfor %}
        </select>

      {% if page.has_next %}
        <span><a href="{% url 'as_printable_html' casebook page.next_page_number %}{% if as_pdf %}?print-preview=true{% endif %}">Next ▶</a></span>
      {% else %}
          <span class="unlinked">Next</span>
      {% endif %}

      <button class="controls" onclick="location.href='{% url 'casebook' casebook %}'">← Exit reading mode</button>

    {% endif %}
    </nav>
  </footer>
  {% include "includes/analytics.html" %}
</body>
</html>