{% load call_method %}
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
  <head>
    <title>{{ casebook.title }} | H2O </title>
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>

    {% render_bundle 'as_printable_html_styles' %}
    {% render_bundle 'as_printable_html' attrs="defer" %}
    {% render_bundle 'chunk-common' attrs="defer" %}

    {% if not use_pagedjs %}
      <link href="{% static 'as_printable_html/book.css' %}" type="text/css" rel="stylesheet">
      <link href="{% static 'as_printable_html/reader-view.css' %}" type="text/css" rel="stylesheet">
    {% endif %}
    <style>
      @media print {
        .screen-only {
            display: none;
        }
     }
    </style>
    {% include "includes/sentry.html" %}
  </head>

<body>
  <header class="screen-only">
    <img src="{% static 'images/logo-color-full-lockup.svg' %}" alt="H2O" height="50">
    <p>This free and open legal casebook from <a href="{% url 'index' %}">H2O</a>
    is licensed under a Creative Commons license. <a href="{% url 'terms-of-service' %}">Learn more</a>.
    </p>
  </header>
  <footer class="screen-only">
    <nav>
      {% if whole_book %}

        <span><a href="{% url 'casebook' casebook %}">Exit preview</a></span>

      {% else %}
        {% if page.has_previous %}
          <span><a href="{% url 'as_printable_html' casebook page.previous_page_number %}{% if use_pagedjs %}?print-preview=true{% endif %}">Previous</a></span>
        {% else %}
          <span>Previous</span>
        {% endif %}

        {% if use_pagedjs %}
          <button class="print-preview" onclick="window.location.href='{% url "as_printable_html" casebook page.number %}'">Exit print preview</button>
        {% else %}
          <button class="print-preview" onclick="window.location.href='{% url "as_printable_html" casebook page.number %}?print-preview=true'">Print preview</button>
        {% endif %}
        <span>{{ page.number }} of {{ paginator.num_pages }} section{{ paginator.num_pages|pluralize}} </span>

        <button onclick="window.location.href='{% url 'casebook' casebook %}'">Exit reader mode</button>
      {% if page.has_next %}
        <span><a href="{% url 'as_printable_html' casebook page.next_page_number %}{% if use_pagedjs %}?print-preview=true{% endif %}">Next</a></span>
      {% else %}
          <span>Next</span>
      {% endif %}
    {% endif %}
    </nav>
  </footer>

  <template id="casebook-content"
    data-stylesheet="{% static 'as_printable_html/book.css' %}"
    data-use-pagedjs="{{ use_pagedjs|yesno:'true,false' }}">
    <div class="casebook-metadata" data-paginator-page="{{ page.number }}">
      <h1 class="casebook title">{{ casebook.title }}</h1>
      <h2 class="casebook subtitle">{{ casebook.subtitle|default_if_none:""}}</h2>
      <span class="truncated-title hidden">{{ casebook.title }}</span>
      <div class="author-list">
        <ul>
        {% for user in casebook.primary_authors %}
            <li class="user {% if user.verified_professor %} verified{% endif %}">
                {{ user.display_name }}
                {% if user.affiliation %}
                  ({{ user.affiliation }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>
      <section class="casebook headnote">{{ casebook.headnote|safe}}</section>
      <div id="toc">
        {% include "export/as_printable_html/toc.html" with toc=toc toc_is_open=toc_is_open %}
      </div>

    </div>

    {% for child in children %}
      {% include "export/as_printable_html/node.html" with index=forloop.counter node=child %}
    {% endfor %}

  </template>

  <main id="as-printable-html"></main>

  {% include "includes/analytics.html" %}
</body>
</html>