{% load call_method string_strip %}


<section class="{{ node.type }} {{ node.resource_type|default:'' | lower }} depth-{{ node.ordinals | length }}">

  {% if node.resource_type == 'Link' %}
    <div class="link-container">
      <div class="link-icon"></div>

      <h4 class="resource ordinal {{ node.resource_type|lower }}" data-toc-idx="{{ index }}">{{ node.ordinal_string }}.
        Hyperlink to a web resource
      </h4>

      <p><a href="{{ node.resource.url }}" target="_blank">{{ node.resource.url }}</a></p>
    </div>
  {% endif %}

  <div class="node-container">

    <h1 class="{{ node.type }} title">
      <span class="{{ node.type }} ordinal" data-toc-idx="{{ index }}">{{ node.ordinal_string }}</span>
      {{ node.title }}
    </h1>

    {% if node.subtitle %}
      <h2 class="subtitle">{{ node.subtitle }}</h2>
    {% endif %}

    {% if node.headnote %}
      {% call_method node 'headnote_for_export' export_options=export_options as headnote %}
      <section class="headnote">{{ headnote }}</section>
    {% endif %}


    {% if node.is_resource %}
      <section class="resource">

        {% if node.resource.content %}
          {% call_method node 'annotated_content_for_export' export_options=export_options as contents %}
        {% endif %}

        {# Strip out any manual whitespace, and mark the output as safe because this operation should not result in broken HTML #}
        {{ contents|string_strip:"&nbsp;"|safe }}

      </section>
    {% endif %}
  </div>
  </section>

<span class="truncated-title">{{ node.ordinal_string }} {{ node.title|truncatechars:50 }}</span>
