
<nav class="toc">
    <h2>Table of contents</h2>
    <ol>
    {% for top_level_node in toc %}
        <li>
            <span class="ordinals">{{ top_level_node.ordinal_string }}</span>
            <h3><a href="{% url 'as_printable_html' casebook forloop.counter %}">{{ top_level_node.title }}</a></h3>

            <ol>
            {% for child in top_level_node.children %}
                <li><span class="ordinals">{{ child.ordinal_string }}</span> {{ child.title }}</li>
            {% endfor %}
            </ol>
        </li>
    {% endfor %}
    </ol>
</nav>