{% extends 'base.html' %}

{% block page_title %}{{ case.get_name }} | Cases{% endblock %}

{% block mainContent %}
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        {% include 'includes/case_header.html' %}
        <section class="resource">
          <the-resource :editable="false" :resource="{{ body_json }}"></the-resource>
        </section>
      </div>
    </div>
  </section>
{% endblock %}
