{% extends 'base.html' %}

{% block page_title %}{{ casebook.title }}{% endblock %}

{% block banner %}
{% include 'includes/preview_banner.html' %}
{% endblock %}

{% block mainContent %}
  <header class="casebook-public casebook" data-casebook-id="{{ casebook.id }}">
    <div class="content">
      <div class="casebook-inner">
          <div class="tabs">
              {% if edit_mode %}
              <a class="tab" href="{{ casebook.get_edit_url }}">Casebook</a>
              {% else %}
              <a class="tab" href="{{ casebook.get_absolute_url }}">Casebook</a>
              {% endif %}
            <span class="tab active disabled">Credits</span>
          </div>
      </div>
    </div>
  </header>
  <section id="credits" class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        {% include 'includes/credits.html' %}
      </div>
    </div>
  </section>
{% endblock %}
