<header class="casebook-header">
    {% if case.case_court.name %} <div class="court"> {{ case.case_court.name }}</div> {% endif %}
    <h1 class="title">{{ case.get_name }}</h1>
    {% if case.prefer_meta_header %}
    {% if case.citations %}<div class="citation"> {{case.cite_string}} </div> {% endif %}
    {% if case.docket_number %}<div class="docketnumber">{{ case.docket_number }}</div>{% endif %}
    {% if case.decision_date %}<div class="decisiondate">{{ case.decision_date }}</div>{% endif %}
    {% endif %}
</header>
