{% extends 'base.html' %}

{% if edit_mode or clone_section_targets %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}
{% endif %}

{% block page_title %} {% if mode %}{{mode}} | {% endif %} {{casebook.title}} {% if section %}: {{ section.title }} {% endif %} {% endblock %}

{% if editing %}
{% block extra_foot %}{% render_bundle 'rich_text_editor' %}{% endblock %}
{% endif %}

{% block banner %}
    {% include 'includes/preview_banner.html' %}
{% endblock %}

{% block mainContent %}


{% include 'includes/casebook_page_tabs.html' %}

<section class="casebook {{casebook_color_class}}">
    <div class="content">
        <div class="casebook-inner">
            <div class="top-strip"></div>
            <header class="casebook-header">
                <h1 class="title">
                    {{ casebook.title }}
                </h1>
            </header>
            {% if section %}
            <header class="content">
                {% include 'includes/breadcrumbs.html' with content=section %}
                <h1 class="title">{{ section.title }}</h1>
            </header>
            {% endif %}
            <header class="content">
            <globals
                :casebook="{{casebook.id}}"
                {% if section %}:section="{{section.id}}"  {% endif %}
                ></globals>
                {% if editing %}
                    {% if section and section.is_temporary %}
                        <resource-type-picker></resource-type-picker>
                        {% else %}
                        <dirty-form
                            css-class="edit_content_{% if section and section.has_body %}resource{% elif section%}section{% else %}casebook{% endif %}"
                            form-method="{{ form.helper.form_method }}">
                            {% crispy form %}
                            {% if embedded_resource_form %}
                            {% crispy embedded_resource_form %}
                            {% endif %}
                        </dirty-form>
                    {% endif %}
                {% else %}
                    {% if section and section.subtitle %}
                    <h2 class="subtitle">
                        {{ section.subtitle }}
                    </h2>
                    {% elif casebook.subtitle %}
                    <h2 class="subtitle">
                        {{ casebook.subtitle }}
                    </h2>
                    {% endif %}
                    <div class="authorship">
                        <div class="collaborators">
                            {% include 'includes/collaborators.html' with content=casebook %}
                        </div>
                    </div>
                    {% endif %}
            </header>
            {% include 'includes/action_buttons.html' %}
            {% if section %}
                {% if not editing %}
                    {% include 'includes/headnote.html' with content=section %}
                    {% include section.body_template %}
                {% endif %}
            {% else %}
                {% if not editing %}
                    {% include 'includes/headnote.html' with content=casebook %}
                {% endif %}
            {% endif %}
            {% if not section.has_body and not section.is_temporary %}
                {% include 'includes/table-of-contents.html'%}
                {% if editing %}
                    <quick-add casebook="{{casebook.id}}" section="{{section.id}}" />
                {% endif %}
                {% else %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
