{% extends 'base.html' %}
{% load static %}

{% block mainContent %}
<section class="hero">
  <div class="content">
      <h1><em>Build a better casebook.</em></h1>
      <h2>H2O helps law faculty create high quality, open-licensed digital textbooks for free.</h2>
      <a class="call-to-action" href="{% url 'casebook' 25965 %}">View a book</a>
  </div>
</section>
<section class="preview">
  <div class="content">
    <div class="layout">
      <div class="features">
          <section>
            <h2>Fast, Simple and Free</h2>
            <p>Collect materials, hide and annotate text, and distribute casebooks to your students quickly and reliably. H2O is easy to add to your class.</p>
          </section>
          <section>
            <h2>Open Access</h2>
            <p>All materials in H2O are licensed CC BY-NC-SA and free to copy, reuse and remix.</p>
          </section>
          <section>
            <h2>Library-Powered</h2>
            <p>H2O is made by the Harvard Law School Library and designed carefully to serve faculty and student needs.</p>
          </section>
            <section>
              <div class="link"><a class="call-to-action" href="{{ GUIDE_URL }}">Help Guide</a></div>
            </section>
      </div>
      <div class="screenshot">
        <div class="image-wrapper"><img src="{% static "images/landing-demo.png" %}" alt="a screenshot of an example case" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="endorsements">
  <div class="content">
    <h1>Featured Faculty Authors</h1>
    <div class="layout">
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/zittrain.png" %}"/></div>
          <div class="name">Professor Jonathan Zittrain</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="{% url 'casebook' 30206 %}">Torts</a>
          </div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/suk-gersen.png" %}"/></div>
          <div class="name">Professor Jeannie Suk Gersen</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="{% url 'casebook' 28024 %}">Criminal Law</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/quinn.png" %}"/></div>
          <div class="name">Professor Brian Quinn</div>
          <div class="institution">Boston College Law School</div>
          <div class="link"><a href="{% url 'casebook' 553 %}">An Introduction to the Law of Corporations</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/fried2.png" %}"/></div>
          <div class="name">Professor Charles Fried</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="{% url 'casebook' 75344 %}">Contracts Law</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/cohen.png" %}"/></div>
          <div class="name">Professor I. Glenn Cohen</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="{% url 'casebook' 29269 %}">Civil Procedure</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="{% static "images/endorsers/modirzadeh.png" %}"/></div>
          <div class="name">Professor Naz Modirzadeh</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="{% url 'casebook' 45698 %}">International Humanitarian Law / Laws of War</a></div>
        </div>
    </div>
    <div class="testimonial">
      <div class="quote">H2O's open source platform has transformed the way I teach corporate law.</div>
      <div class="source">Professor Brian Quinn, Boston College Law School</div>
    </div>
  </div>
</section>
<section class="stinger">
    <img src="{% static "images/logo.svg" %}" title="H2O"/>
    <h1>"Build coursebooks better, faster and smarter — today."</h1>
    <a class="call-to-action" href="{% url "sign_up" %}">Get started</a>
</section>
{% endblock %}
