{% extends 'base.html' %}

{% block page_title %}Resource {{ resource.ordinal_string }} | {{ resource.casebook.title }}{% endblock %}

{% block banner %}
{% if resource.is_or_belongs_to_draft or resource.is_private %}
  <div class="casebook-preview banner">
    {# TBD: Draft wording is proposed. #}
    <div class="banner-inner">
      You are viewing a preview of {{ resource.is_or_belongs_to_draft|yesno:"your changes,a private casebook"}}.
    </div>
  </div>
{% endif %}
{% endblock %}

{% block mainContent %}
  {% include 'includes/resource_tabs.html' with read_tab=True %}
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="casebook-header">
          <div class="casebook-title">
            {{ resource.casebook.title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=resource %}
          <h1 class="title">{{ resource.title }}</h1>
        </header>
        {% include 'includes/action_buttons.html' with content=resource %}
        {% include 'includes/headnote.html' with content=resource %}
        <section class="resource">
            {% if resource.resource_type == 'Case' %}
            {% include 'includes/case_header.html' with case=resource.resource %}
            <the-resource :editable="false" :resource="{{ resource.json }}"></the-resource>
            {% elif resource.resource_type == 'TextBlock'  %}
            <the-resource :editable="false" :resource="{{ resource.json }}"></the-resource>
          {% elif resource.resource_type == 'Link' %}
            <section class="resource link-resource">
              Click here to view this linked resource off-site:
              <a href="{{ resource.resource.url }}" target="_blank">{{ resource.title }}</a>
            </section>
          {% endif %}
        </section>
      </div>
    </div>
  </section>
{% endblock %}
