{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block page_title %}Resource {{ resource.ordinal_string }} | {{ resource.new_casebook.title }}{% endblock %}
{% block extra_foot %}{% render_bundle 'rich_text_editor' %}{% endblock %}

{% block banner %}
<div class="casebook-draft banner">
  <div class="banner-inner">
    This casebook is a draft and is visible only to collaborators.
  </div>
</div>
{% endblock %}

{% block mainContent %}
{% include 'includes/resource_tabs.html' with details_tab=True %}
  <section class="casebook-draft casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        {# NB: The casebook header is not included in the Rails app, edit page, only the preview page, but I think it should always be present. #}
        <header class="casebook-header">
          <div class="casebook-title">
            {{ resource.new_casebook.title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=resource %}
          <form class="{{ form.helper.form_class }}" method="{{ form.helper.form_method }}">
            {% crispy form %}
            {% if embedded_resource_form %}{% crispy embedded_resource_form %}{% endif %}
          </form>
        </header>
        {% include 'includes/action_buttons.html' with content=resource %}
      </div>
    </div>
  </section>
{% endblock %}
