{% extends 'base.html' %}

{% block page_title %}Section {{ section.ordinal_string }} | {{ section.casebook.title }}{% endblock %}

{% block banner %}
{% if section.is_or_belongs_to_draft or section.is_private %}
  <div class="casebook-preview banner">
     {# TBD: Draft wording is proposed. #}
    <div class="banner-inner">
      You are viewing a preview of {{ section.is_or_belongs_to_draft|yesno:"your changes,a private casebook"}}.
    </div>
  </div>
{% endif %}
{% endblock %}
{% block mainContent %}
  {% include 'includes/section_tabs.html' with read_tab=True %}
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="casebook-header">
          <div class="casebook-title">
            {{ section.casebook.title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=section %}
          <h1 class="title">{{ section.title }}</h1>
        </header>
        {% include 'includes/action_buttons.html' with content=section %}
        {% include 'includes/headnote.html' with content=section %}
        {% include 'includes/table-of-contents.html' with contents=contents  %}
      </div>
    </div>
  </section>
{% endblock %}
