
{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block page_title %}Section {{ section.ordinal_string }} | {{ section.casebook.title }}{% endblock %}
{% block extra_foot %}{% render_bundle 'rich_text_editor' %}{% endblock %}

{% block banner %}
{% if section.is_or_belongs_to_draft or section.is_private %}
<div class="casebook-preview banner">
  <div class="banner-inner">
    This casebook is a preview and is visible only to collaborators.
  </div>
</div>
{% endif %}
{% endblock %}

{% block mainContent %}
{% include 'includes/section_tabs.html' with credits_tab=True %}
  <section id="credits" class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        {% include 'includes/credits.html' %}
      </div>
    </div>
  </section>
{% endblock %}
