{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load crispy_forms_tags %}

{% block page_title %}Section {{ section.ordinal_string }} | {{ section.casebook.title }}{% endblock %}
{% block extra_foot %}{% render_bundle 'rich_text_editor' %}{% endblock %}

{% block banner %}
<div class="casebook-draft banner">
  <div class="banner-inner">
    This casebook is a draft and is visible only to collaborators.
  </div>
</div>
{% endblock %}

{% block mainContent %}
  <header class="casebook-draft casebook"
          data-editable="true"
          data-casebook-id="{{ section.casebook_id }}"
          data-section-id="{{ section.id }}"
          data-section-ordinals="{{ section.ordinal_string }}"
          data-resource-id="">
    <div class="content">
      <div class="casebook-inner">
        <div class="tabs">
          <a class="tab" href="{% url 'edit_casebook' section.casebook %}">Casebook</a>
          <span class="tab disabled active">Edit</span>
        </div>
      </div>
    </div>
  </header>
  <section class="casebook-draft casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        {# NB: The casebook header is not included in the Rails app, edit page, only the preview page, but I think it should always be present. #}
        <header class="casebook-header">
          <div class="casebook-title">
            {{ section.casebook.title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=section %}
          {% crispy form %}
        </header>
        {% include 'includes/action_buttons.html' with content=section %}
        {% include 'includes/table-of-contents.html' with contents=section.contents  %}
      </div>
    </div>
  </section>
{% endblock %}
