#playlists_export, #collages_export, #text_blocks_export, #cases_export, #collages_export_unique {
  .vh1, .vh2 { font-weight: bold; }
  .annotator-adder {
    visibility: hidden !important;
    display: none !important;
  }
  .wrapper {
    margin-top: 155px;
  }
  background: #FFF;
  font-family: sans-serif;
  font-size: 11px;
  color: #000;
  border-bottom: 2px solid #FFF;
  * { 
    line-height: 1.4em;
    font-family: 'ff-dagny-web-pro';
    font-size: 14px;
  }
  .jsb-item {
    line-height: 2em;
  }
  #shell { background: #fff; }
  a { 
    color: #036290;
    text-decoration: none;
  }
  .singleitem {
    padding-top: 15px;
    float: none;
    width: 100%;
    div.article {
      padding-left: 0px;
      margin-top: 20px;
    }
    .details {
      background: none;
      padding: 0px;
      margin: 0px;
    }
    .scale0-8 {
      font-size: 11px;
    }
    .scale1-5 {
      font-size: 21px;
    }
    .scale1-3 {
      font-size: 18px;
    }
    .new-h1 {
      font-weight: bold;
      font-size: 21px;
    }
    .new-h2 {
      font-weight: bold;
      padding: 0 0 6px 0;
    }
  }
  
  /* Header */
  .collage-content > h1 { margin-top: 0px; padding: 0px 0px 4px 0px; }
  .no_visible_children { display: none; }
  
  /* Timestamp & Author */
  .collage-content .info { padding: 0px; font-weight: bold; }
  
  /* Description */
  #playlist .details { padding-bottom: 10px; }
  #playlist .item_description,
  .collage-content .item_description {
    font-style: normal;
    color: #000;
    background: none;
    padding: 0px;
  }
  
  /* Collage Content */
  .collage-content { padding-left: 50px; clear: both; }
  .collage-content p { margin-bottom: 20px; }
  .collage-content .annotation-content {
      color: #6B933D;
      font-style: italic;
      border: 1px solid #d4d4d4;
      padding: 2px 5px 2px 18px;
      margin: 3px;
      background: url('~assets/images/asterisk.jpg') 2px 1px no-repeat;
      text-indent: 10px;
      width: 500px;
      display: none;
  }
  .collage-content .annotation-ellipsis { padding-left: 5px; }
  .collage-content p,
  .collage-content center,
  .collage-content h2 { position: relative; }
  .collage-content .paragraph-numbering {
    position: absolute; 
    left: -50px;
    text-decoration: none;
    font-weight: normal;
  }
  .collage-content blockquote { padding-left: 30px; margin-left: 30px; }
  .collage-content blockquote .paragraph-numbering { left: -50px; }
  
  .playlists .collage-content div.article { position: relative; }
  
  #playlist .playlists .playlists { display: block; }
  #playlist .listitem { padding-bottom: 10px; }
  #playlist .listitem .notes { padding-bottom: 10px; }
  .playlist h3 { margin-bottom: 10px; }
  .playlist p { margin-bottom: 10px; }
  
  /* Text Block */
  #text_block { clear: both; }
  #text_block .details { font-style: italic; margin-bottom: 20px; }
  #text_block div.article p { margin-bottom: 20px; }
  
  /* Print */
  #toc {
    page-break-after: always;
  }
  /* Untested: page break before every top level playlist (maybe other objects too?)
  except for the first one
  */

  #toc-container {
    display: none;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
    #toc {
      a {color: #000;}
      li {
          text-decoration: none;
          border-bottom: thin dotted #AAAAAA;
      }
    }
  }
  #print-options {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    min-width: 950px;
    background: transparent url('~assets/images/quickbar.png') bottom repeat-x;
    height: 162px;
    * {
      font-size: 12px;
    }
    select {
        height: 24px;
        margin-bottom: 6px;
    }
    #print-options-new2 {
        width: 1000px;
        float: left;
    }
    #print-options-left, #print-options-middle, #print-options-right {
        padding-top: 5px;
    }
    #print-options-left {
        float: left;
        vertical-align: top;
        padding-left: 20px;
        padding-right: 10px;
        #theme-select {
            width: 80px;
        }
    }
    #print-options-middle {
        float: left;
        padding-left: 30px;
        padding-right: 10px;
        padding-bottom: 5px;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }
    #print-options-right {
        float: left;
        padding-left: 30px;
        text-align: center;
        #export_format {
            width: 80px;
        }
        #export-form-submit-button {
            width: 80px;
            height: 51px;
        }
    }
    .print-options-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .print-options-container {
        float: left;
        .print-options-subtitle {
            font-size: 14px;
            margin-bottom: 5px;
        }
        .print-options-list {
            float: left;
            margin-right: 20px;
            &#print-options-list-0 {
                select { width: 80px; }
            }
            &#print-options-list-1 {
                select { width: 80px; }
                .print-options-label {
                    width: 30px;
                }
            }
            &#print-options-list-2 {
                select { width: 55px; }
                .print-options-label {
                    width: 60px;
                }
            }
            &#print-options-list-3 {
                select { width: 55px; }
                .print-options-label {
                    width: 30px;
                }
            }
            &#print-options-list-4 {
                select { width: 55px; }
                .print-options-label {
                    width: 40px;
                }
            }
            &#print-options-list-5 {
                select { width: 80px; }
            }
        }
        .print-options-label {
            display: inline-block;
            width: 60px;
        }
        .margin-select {
            width: 55px;
        }
    }
    .print-options-margin {
        width: 40px;
    }
    .print-options-label-annotations {
        display: inline-block;
        width: 100px;
    }
  }

  #playlist-items-limit-notice {
      border: 2px dashed #036290;
      margin-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
  }

  .print_border { display: block; position: absolute; width: 100%; height: 100%; top:0px; left: 0px; }
  .print_border span { width: 100%; display: block; position: absolute; bottom: 0px; opacity: 0.0; }

  .annotator-outer { display: none; }
  .layered-ellipsis { display: none; margin: 0px 2px; cursor: default; }

  div.article {
    .annotator-wrapper {
      position: relative;
    }
  }
  h3.missing_item {
    .number {
      margin-right: 20px;
    }
    .missing_item {
      opacity: 0.6;
      font-weight: normal;
    }
  }
}

#text_blocks_export div.article ul {
  list-style-type: none;
  margin: 0px 0px 10px 15px;
}

.annotator-wrapper .annotation-bar-indicator,
.annotator-wrapper .annotation-indicator {
  display: none;
}
.annotator-hl {
  font-size: inherit !important
}

/* Start: Required for correct indentation in Doc export and MUST be at top SASS level */
ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
ol {
  list-style-type: none;
}
li.original_content {
    margin-left: .5in;
    list-style-type: disc;
    list-style-position: outside;
}
/* End: Required for correct indentation in Doc export and MUST be at top SASS level */

.sidebar-box {
  position: relative;
  overflow: hidden;
}
.text-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  height: 50px;
  background-image: -moz-linear-gradient(top, transparent, white);
  background-image: linear-gradient(180deg, transparent, white);
}
