#bcases .defaultSkin .mceSeparator {
  background: none; 
}
#bcases .defaultSkin td.mceToolbar {
  background: #E9E9E9;
}
#bcases span.mce_moretag {
  background: url('../../images/tinymce_icons.png');
  background-position: -201px 0px;
}
#bcases span.mce_kitchen_sink {
  background: url('../../images/tinymce_icons.png');
  background-position: -260px 0px;
}
#bcases .defaultSkin table.mceLayout tr.mceFirst td {
}
#case_content_input {
  clear: both;
}
#bulk_upload_report td{padding: 10px};
