{% extends 'base.html' %}
{% block page_title %}About{% endblock %}

{% block mainContent %}
 <div class="pages-content">

 <h1>About H2O Open Casebook</h1>

  <h2>What is H2O?</h2>
  <p>H2O is a free platform for making, sharing, and remixing open-licensed casebooks and other course materials. It is developed and maintained by the <a href="https://lil.law.harvard.edu">Library Innovation Lab</a> at the <a href="https://library.law.harvard.edu">Harvard Law School Library</a>. With H2O, educators can drastically reduce textbook costs for their students, gain control over their course materials, and collaborate toward new approaches to law school curriculum.</p>

  <h2>Why does H2O exist?</h2>
  <p>The H2O platform exists to expand the bounds of open legal education. We believe legal educational materials should be free to access and build upon. Most legal coursework is taught from commercial casebooks - inflexible and proprietary books that cost hundreds of dollars even as they are comprised largely of caselaw that is already in the public domain. Emerging digital licensing models for these casebooks often increase costs and erode the feasibility of secondary book markets. By leveraging free digital content in an easy to use digital tool, H2O offers a different way of doing things.</p>

  <h2>How does H2O work?</h2>
  <p>H2O allows professors to develop, remix, and collaborate on digital course materials under a Creative Commons Attribution-Noncommercial-Share Alike 3.0 License (per the Terms of Service). This open licensing means that everything in H2O is free to share and re-use for non-commercial purposes as long as proper attribution is applied (which we take care of in the platform).</p>
  <p>Powered by a database of 6.5M+ court opinions and an integration with Federal U.S. Code, H2O allows authors to seamlessly integrate these primary legal documents alongside other digital content. Materials faculty can create with H2O include casebooks, syllabi, reading lists, and modules. Final casebooks are available freely online to be easily accessed by students and colleagues, and can be printed from anywhere.</p>

  <h2>Who can use H2O?</h2>
  <p>While our focus right now is supporting law school faculty and students, H2O is a free and open platform. Anybody associated with an educational organization or government entity can sign up and create their own resource or adapt an existing one. An account is not required to read H2O casebooks, which are available to anybody with an internet connection</p>
  <p>Over 100 faculty authors have published H2O casebooks to use in their courses. About a third of them are from Harvard Law School - the remaining authors are from institutions across the country and around the world.</p>

  <hr>

  <p><i>H2O is built on top of the <a href="https://case.law">Caselaw Access Project</a> - a database of 6.5M+ court opinions freely available online and hosted by the Harvard Law School Library. If you’re including links in your casebook, consider creating a <a href="https://perma.cc">perma.cc</a> link to protect your materials from linkrot.</i></p>

</div>

{% endblock %}
