<% if @collection.is_a?(WillPaginate::Collection) -%>
<% @collection.each do |bookmark| -%>
  <% item = bookmark.actual_object %>
  <% if item.present? -%> 
  <%= render :partial => "shared/objects/#{item.klass_partial}", :locals => { item.klass_sym => item, :hit => item } %>
  <% end -%>
<% end -%>
<div id="new_pagination" style="display:none;">
<%= will_paginate @collection, :container => false, :previous_label => 'Previous', :next_label => 'Next' %>
<div>
<% else -%>
<p id="no_items">No items match your search.</p>
<% end -%>
