<% if breakdown_data.keys.any? -%>
<div class="barcode_breakdown">
  <% model::RATINGS_DISPLAY.each do |k, v| -%>
  <% if breakdown_data.has_key?(k) -%>
  <div class="<%= k %>">
    <span class="icon icon-<%= k %>"></span>
    <span class="detail">
      <b><%= v %></b> <%= pluralize breakdown_data[k], (k == :add ? 'playlist' : 'time') %>
    </span>
  </div>
  <% end -%>
  <% end -%>
</div>
<% end -%>
