<% if single_resource.new_record? && (single_resource.is_a?(User) || !current_user.preverified?) %>
<li id="captcha" class="<%= 'error' if single_resource.errors.has_key?(:base) && !single_resource.errors[:base][0].match(/^You must verify your account/) %>">
  <label class="label">Captcha</label>
  <%= recaptcha_tags(:ajax => request.xhr?, :noscript => false) %>
</li>
<% end -%>
