<% cache("collage-meta-#{collage_meta.id}") do %>
  <div class="meta layers">
    <ul>
      <li>Annotations: <%= (collage_meta.annotations.blank?) ? 0 : collage_meta.annotations.length %></li>
      <%=  
        output = ''
        arep = collage_meta.layer_report
        arep.keys.each do |l|
          output += %Q|<li><span class="c#{l % 10}">| + arep[l][:name] + %Q|</span> <strong>#{arep[l][:count]}</strong> words, #{arep[l][:annotation_count]} total</li>|
        end
        raw(output)
      %>
      <li><strong><%= collage_meta.word_count %></strong> words total</li>
    </ul>
  </div>
<% end %>
