<% if @single_resource && [Playlist, Collage, TextBlock, Case].include?(@single_resource.class) -%>
<div id="font-popup">
  <div id="fontface">
    <a href="#" data-value="leitura" data-family="serif">Leitura</a>
    <a href="#" data-value="garamond" data-family="serif">Garamond</a>
    <a href="#" data-value="futura" data-family="sans-serif">Futura</a>
    <a href="#" data-value="verdana" data-family="sans-serif">Verdana</a>
    <a href="#" data-value="proxima" data-family="sans-serif">Proxima Nova</a>
    <a href="#" class="active" data-value="dagny" data-family="sans-serif">Dagny Web</a>
  </div>
  <div id="fontsize">
    <a href="#" class="active" data-value="small">small</a>
    <a href="#" data-value="medium">medium</a>
    <a href="#" data-value="large">large</a>
    <a href="#" data-value="xlarge">extra-large</a>
  </div>
</div>
<% end -%>
