<footer>
<a href="/p/about">About H2O</a>
<a href="/p/faq">FAQs</a>
<a href="/p/terms">Terms of Service</a>
<a href="/p/privacy">Privacy Policy</a>
<a href="/p/team">H2O Team</a>
<a class="last" href="/p/contact_us">Contact Us</a>
</footer>
