<div id="responses" class="requires_logged_in">
  <h3>Type response below:</h3>
  <textarea></textarea>
  <a href="#" id="submit_response" class="button">Submit</a>
  <div class="clear"></div>
</div>
