<div id="accordion">
  <% if false %>
    <%= render :partial => 'shared/playlistable_item', :collection => PlaylistItem.playlistable_classes %>
  <% end %>
  <% [Case,Collage].each do |objects| %>
    <h3><%= link_to(objects.playlisting_name, '#') %></h3>
    <%= render :partial => 'shared/playlistable_item', :object => objects %>
  <% end %>
</div>
<%= javascript_tag(%q|
  jQuery(document).ready(function(){
    jQuery('#accordion').accordion();
  });
|) %>
