<% if current_user -%>
<div class="popup add-popup" data-type="<%= type %>">
	<h4>Add item to...</h4>
  <a href="#" class="close-popup"></a>
  <div class="select-wrapper">
	<%= collection_select(:playlist, :id, current_user.playlists, :id, :name) %>
  </div>
  <div class="btn-wrapper">
	<a href="#" class="btn new-playlist-item">SAVE</a>
  </div>
</div>
<% end -%>
