<section id="search">
<% form_tag(url_for, :method => :get, :class => "search") do -%>
	<ul>
	<li id="spinner">
		<img src="/images/ui/ajax-loader.gif" alt="" />
	</li>
  <%= render :partial => 'shared/search_all_fields' %>
<% end -%>
</section>
