<li class="field">
  <%= text_field_tag "keywords", params[:keywords], :size => 50 %>
</li>
<li class="submit">
  <a href="#">SEARCH</a>
</li>
</ul>
<div id="radios">
  <p><input type="radio" name="searchtype" value="all_materials" id="search_all_radio" />All</p>
  <p><input type="radio" name="searchtype" value="playlists" />Playlists</p>
  <div class="cl"></div>
  <p><input type="radio" name="searchtype" value="collages" />Collages</p>
  <p><input type="radio" name="searchtype" value="cases" />Cases</p>
  <div class="cl"></div>
  <p><input type="radio" name="searchtype" value="text_blocks" />Text Blocks</p>
  <% if false -%>
  <p><input type="radio" name="searchtype" value="medias" />Media Items</p>
  <% end -%>
  <div class="cl"></div>
</div>
