<header>
	<h1 id="logo"><%= link_to "H2O", "/" %></h1>
	<h1 id="<%= nav_id %>"><%= link_to '', url %></h1>
	<% if defined?(right_search) -%>
	<%= render :partial => right_search %>
	<% end -%>
</header>
