<% if current_user && !current_user.try(:verified?) %>
<div class="error">
Your account must be verified by an admin before contributing to H2O. You will be notified via email when your account is verified.
</div>
<% end -%>
