<h1>Editing influence</h1>

<% form_for(@influence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @influence %> |
<%= link_to 'Back', influences_path %>