<div id="journal_article" class="singleitem" data-itemid="<%= @journal_article.id %>">
  <h1><%= @journal_article.name %></h1>
	<article>
  		<%= raw @journal_article.description %>
	</article>
</div>

