pip-tools

awslambdaric    # AWS Lambda Runtime Interface Client
boto3           # S3 file transfers
lxml            # Word editing
python-docx
watchdog        # Restart dev server on file changes
pyyaml          # Required by watchdog
