<div id="page">
  <h1>Contact Us</h1>
  <p>We welcome your feedback and input.</p>
  <p>To contact H2O (including for press questions and for feedback relating to the platform), e-mail us at h2o at cyber dot law dot harvard dot edu</p>
  <p>H2O is based at the Berkman Center and the Harvard Law School Library. Please direct postal inquiries to:<br />
  The Berkman Center for Internet and Society<br />
  c/o H2O<br />
  Harvard University<br />
  23 Everett Street<br />
  Cambridge, MA 02138</p>
  <p>For contact information regarding DMCA takedown requests, see the <a href="/p/terms">Terms of Service.</p>
</div>

