<%= render :partial => "shared/second_nav", :locals => { :nav_id => "homepage-logo",
  :url => "/",
  :right_search => "shared/search_all" } %>

<div id="page">
  <hgroup class="description">
    <h2>CONTACT US</h2>
  </hgroup>
  <section class="content">
    <p>We welcome your feedback and input.</p><br/>
    <p>To contact H2O (including for press questions and for feedback relating to the platform), e-mail us at h2o at cyber dot law dot harvard dot edu</p><br/>
    <p>H2O is based at the Berkman Center and the Harvard Law School Library. Please direct postal inquiries to:</p><br/>
    <p>The Berkman Center for Internet and Society</p>
    <p>c/o H2O</p>
    <p>Harvard University</p>
    <p>23 Everett Street</p>
    <p>Cambridge, MA 02138</p><br/></br/>
    <p>For contact information regarding DMCA takedown requests, see the <a href="/p/terms">Terms of Service.</p>
  </section>
</div>

