<%= render :partial => "shared/second_nav", :locals => { :nav_id => "homepage-logo",
  :url => "/",
  :right_search => "shared/search_all" } %>

<div id="page">
  <hgroup class="description">
    <h2>H2O FAQs</h2>
  </hgroup>
  <section class="content">
    <p>Coming soon.</p>
  </section>
</div>
