<%= render :partial => "shared/second_nav", :locals => { :nav_id => "homepage-logo",
  :url => "/",
  :right_search => "shared/search_all" } %>

<div id="page">
  <hgroup class="description">
    <h2>H2O FAQs</h2>
  </hgroup>
<section class="content">
    <h3>Have Harvard professors used H2O? </h3><br/>
    <p>Professor Jonathan Zittrain’s Fall 2011 Harvard Law School Torts class beta-tested H2O, and he will use the platform again to teach Torts in Spring 2013. The students in Professor Zittrain’s 2011 Torts class overwhelmingly preferred H2O to a traditional casebook, in no small part due to the flexibility and portability of the platform. Christopher Bavitz used H2O to teach <a href="http://h2odev.law.harvard.edu/playlists/385">Music & Digital Media in Spring 2012</a>. And Professor Jack Goldsmith developed modules of a <a href="http://h2odev.law.harvard.edu/playlists/633">Cybersecurity Curriculum</a> on H2O in Fall 2012. 
    Two Harvard Law School Professors are slated to use H2O in Spring 2013: Professor Jeannie Suk will use it to teach a newly developed casebook in her Criminal Law course, and Professor Terry Fisher will use it to teach a section of his Copyright course. Professor Holger Spamann is scheduled to use H2O to develop a new casebook to teach Corporate Law at Harvard Law School in Fall 2013.</p><br/>
    <h3>I want to use H2O to teach my class. Can you help get me going? </h3><br/>
    <p>We are very excited to hear from professors interested in using H2O, whether to develop a new casebook from scratch or to adapt existing casebooks or syllabi. Send us an inquiry at h2o at dot cyber dot law dot harvard dot edu.</p><br/>
    <h3>What is a playlist?</h3><br/>
    <p>A playlist is re-mixable, user-created collection of online content that is easily shared and remixed, and is ideal for use as an online course syllabus. Professors can build a playlist from scratch or can copy another professor’s playlist and modify it according to their objectives. Professors decide what items to include on their playlist and in what order. A playlist can consist of any combination of collages, text blocks, cases, media items, and/or other playlists. Professors can add a description for their playlist, as well as additional notes (which they might decide to wait to display until partway through the semester). </p><br/>
    <h3>What is a collage, and how do I create one?</h3><br/>
    <p>A collage is simply an edited version of a case or other text block. H2O allows users to make two types of edits to a collage. The first is layering, and the second is annotating. 
    The layering tool allows professors to add a layer to (and to highlight, if they want) any word or group of words in the collage. Professors select the words and name the layer, and then repeat as many times as necessary. For instance, if a professor wanted to make only certain portions of a case required reading — say, the case caption, the facts, and the holding — the professor could identify only those portions with a “Required” layer, and then “hide” the non-layered portions of the case. After adding a layer to the collage, the professor can set the collage so that other viewers automatically see just that layer, a collection of layers, the un-layered portions, or the entire text. Professors can also highlight the various layered sections of their collage with different colors. 
    The annotation tool allows professors to add text in line in the collage. With the annotation tool, professors can insert their own summaries, descriptions, and commentaries directly into the relevant part of the collage. This might come in handy if, for example, there’s a legal maxim in Latin that the professor wants to translate, or if the professor wants to provide some additional context to a specific part of a decision.</p><br/>
    <h3>How can I create a playlist?</h3><br/>
    <p>Professors can create a playlist by first creating an account. To do so, click “Sign in” in the upper-right corner, and then “Sign-up now.” (Note: if using H2O anonymously, once the session ends the user will not be able to retrieve any items created while participating anonymously.) Once logged-in, click on “Playlists” in the upper-left corner, and then click on the “Create Playlist” button. Fill-in the fields and click “Submit.” The new playlist should appear. To add items to a playlist, click the “Add items” button, search for the item to add, and then click “Add” to incorporate the item into the playlist. (The browser may need to be refreshed to see the new item in the playlist.) </p><br/>
    <h3>How can I create and edit a collage? </h3><br/>
    <p>Since collages are simply edited versions of cases and text blocks, professors first have to pick which case or text block they want to make a collage of. Once the case or text block to be edited has been identified, click the collage button at the top of the file. A pop-up box will emerge allowing the professor to name and add details to the collage. Once the case or text block has been submitted as a new collage item, the newly created collage should appear. 
    To add layers and annotations to a collage, click on the “Edit” button at the top of the document. Select which tool (layer or annotate) to use, and begin curating the document. H2O automatically saves changes made while editing.</p><br/>
    <h3>How can I get a case that is not in the database yet?</h3><br/>
    <p>Click on “Cases” at the top of the screen, and then click the “Request Case” button. Fill-in the various fields describing the case, and submit the request. We will try to make the case available on H2O as soon as possible. </p><br/>
    <h3>How can I print a playlist or a playlist item? </h3><br/>
    <p>To print an entire playlist (including all of its items) or a single item (such as a collage, case, or text block), click the print icon in the far-right corner of the header. Before printing, make sure that all of the layers and annotations that should be printed are displayed, since H2O prints only that part of the item that is shown. </p><br/>
    <h3>How can I set aside items that I want to read later?  </h3><br/>
    <p>H2O has a bookmark tool that allows users to collect items that they want to peruse later. Just click the bookmark icon in the item’s header. </p><br/>
    <h3>How can I report a textual error? </h3><br/>
    <p>To report a potential error in the text of an H2O item, please submit a report through the “Report Error” mechanism on the left side of the screen.  </p><br/>
    <h3>What are you working on now? </h3><br/>
    <p>We’re trying to develop a heat-map feature that will hopefully allow users to see how many professors and students have layered a specific word in a case over time. We think it might be interesting to know, for instance, what sections of foundational opinions have been layered and how many times. We also continue to work closely with professors at Harvard Law School and elsewhere to help them use H2O in their classes. </p><br/>
    <h3>Who has supported H2O? </h3><br/>
    <p>H2O has received generous support from the Harvard Library Lab and the Harvard Initiative for Learning and Teaching, as well as Fastcase. </p><br/>
  </section>

</div>
