<div id="page">
  <h1>The H2O Team</h1>
  <p><a href="http://cyber.law.harvard.edu/people/jzittrain">Prof. Jonathan Zittrain</a>, Principal Investigator<br />
  <a href="http://cyber.law.harvard.edu/people/dlewis">Dustin A. Lewis</a>, Project Manager<br />
  <a href="http://cyber.law.harvard.edu/people/kalbert">Kendra Albert</a>, Research Associate and Fellow, Berkman Center for Internet & Society<br />
  <a href="http://librarylab.law.harvard.edu/about.html">Kim Dulin</a>, Co-Director, Harvard Library Innovation Lab<br />
  <a href="http://www.law.harvard.edu/library/faculty/administration.html">Suzanne Wones</a>, Acting Executive Director, Harvard Law School Library<br />
  <a href="http://cyber.law.harvard.edu/people/jcasey">June Casey</a>, Librarian for Open Access and Scholarly Communications, HLSL<br />
  Sebastian Diaz, Director of Technology, Berkman Center for Internet & Society<br />
  <a href="http://www.endpoint.com/team/steph_skardal">Steph Skardal</a>, Developer, End Point</p>
  <h3>Additional Key Contributors</h3>
  <p><a href="http://www.emtype.com/Choose/WhoWeAre.aspx">Mia Moran</a>, Designer (emtype)</p>
  <h3>Past H2O Team Members</h3>
  <p><a href="http://cyber.law.harvard.edu/people/lmiyakawa">Laura Miyakawa</a><br />
  <a href="http://cyber.law.harvard.edu/people/dcollispuro">Daniel Collis-Puro</a></p>
</div>
