<%= render :partial => "shared/second_nav", :locals => { :nav_id => "homepage-logo",
  :url => "/",
  :right_search => "shared/search_all" } %>

<div id="page">
  <hgroup class="description">
    <h2>THE H2O TEAM</h2>
  </hgroup>
  <section class="content">
  <h3>Core Team</h3>
<br/>

    <p>Prof. Jonathan Zittrain, Principal Investigator</p> 
    <p>Dustin A. Lewis, Project Manager</p> 
    <p>Kendra Albert, Research Associate and Fellow, Berkman Center for Internet & Society</p> 
    <p>Kim Dulin, Co-Director, Harvard Library Innovation Lab</p>  
    <p>Suzanne Wones, Acting Executive Director, Harvard Law School Library</p> 
    <p>June Casey, Librarian for Open Access and Scholarly Communications, HLSL</p> 
    <p>Sebastian Diaz, Director of Technology, Berkman Center for Internet & Society</p> 
    <p>Steph Skardal, Developer, End Point</p><br/>

    <h3>Additional Key Contributors</h3> 
    <p>Mia Moran, Designer (emtype)</p><br/>

    <h3>Past H2O Team Members</h3> 
    <p>Laura Miyakawa</p><br/>
    <p>Daniel Collis-Puro</p>

    
  </section>
</div>




