<%= render :partial => "shared/second_nav", :locals => { :nav_id => "homepage-logo",
  :url => "/",
  :right_search => "shared/search_all" } %>

<div id="page">
  <hgroup class="description">
    <h2>H2O Terms of Service</h2>
  </hgroup>
  <section class="content">
    <p>Use of H2O is subject to H2O's Terms of Service, which will be available at this page shortly.</p>
  </section>
</div>
