<section>
    <div data-custom-style="About Page Title">Export Customization Tips</div>
    <div data-custom-style="About Page Instructions"> We designed this opencasebook.org export using MS Word Styles to
      simplify customization. The "Styles Pane" in Word's "Home" tab shows a list of styles in the document, and the
      active style of your current element or selection.
    </div>
    <div data-custom-style="About Page Instructions">
      For example, you can quickly change the case text font for the whole document by modifying the "Case Body" style.
      The style modification screen also shows which style your style is "Based On." If you modify the style listed
      there, all styles based on it will also change. Some older documents might use different styles than newer ones—
      click into an element and check the Styles Pane to confirm its style.
    </div>
    <div data-custom-style="About Page Instructions">
      Check out Microsoft's <a data-custom-style="About Page Link" href="https://support.microsoft.com/en-us/topic/the-styles-advantage-in-word-b4a6372f-188c-93cb-831b-c4dd0cb3a881">extensive styles documentation</a>
      for the finer points and caveats.
    </div>
    <div data-custom-style="About Page Instructions">
      <b>Remember:</b> style modifications can yield sweeping results that aren't always apparent on the page you're
      viewing. Make a backup copy of your document before experimenting.
    </div>

</section>
