<section>
    <div data-custom-style="AboutPageTitle">About this document</div>
    <div data-custom-style="AboutPageSubtitle">
        This document was exported from https://opencasebook.org/. It comes prepared with a few <a href="https://support.microsoft.com/en-us/office/customize-or-create-new-styles-d38d6e47-f6fc-48eb-a607-1eb120dec563">custom styles</a> to make editing easier. Using these custom styles you can quickly highlight types of content you would like to edit, hide types of text you do not want to see, or make other styling changes that affect parts of the text throughout your whole casebook.
    </div>
    <ul>
        <li data-custom-style="AboutPageInstructionsTitle">
            For cases imported from CAP
            <ul>
                <li data-custom-style="AboutPageInstructionsbullets">Case Footnote Reference</li>
                <li data-custom-style="AboutPageInstructionsbullets">Case Footnote Text</li>
                <li data-custom-style="AboutPageInstructionsbullets">Case Header</li>
                <li data-custom-style="AboutPageInstructionsbullets">Case Body</li>
            </ul>
        </li>
        <li data-custom-style="AboutPageInstructionsTitle">
            For author annotations
            <ul>
                <li data-custom-style="AboutPageInstructionsbullets">Ellision</li>
                <li data-custom-style="AboutPageInstructionsbullets">Highlighted Text</li>
                <li data-custom-style="AboutPageInstructionsbullets">Replacement Text</li>
                <li data-custom-style="AboutPageInstructionsbullets">Footnote Reference</li>
                <li data-custom-style="AboutPageInstructionsbullets">Footnote Text</li>
            </ul>
        </li>
        <li data-custom-style="AboutPageInstructionsTitle">
            Casebook Structure and headings
            <ul>
                <li data-custom-style="AboutPageInstructionsbullets">Section Title</li>
                <li data-custom-style="AboutPageInstructionsbullets">Section Number</li>
                <li data-custom-style="AboutPageInstructionsbullets">Resource Number</li>
                <li data-custom-style="AboutPageInstructionsbullets">Resource Title</li>
                <li data-custom-style="AboutPageInstructionsbullets">Credit Title</li>
                <li data-custom-style="AboutPageInstructionsbullets">Credit Authors</li>
            </ul>
        </li>
    </ul>
    <hr/>
</section>
