<section data-custom-style="Credits">
    <hr/>
    <h1>
        Acknowledgments
    </h1>
    <p>
        Some materials included in this export came from the following casebooks.
    </p>
    <ul>
        {% for source in cloned_from %}
        <li>
            <a href="https://opencasebook.org{{source.get_absolute_url}}" <span data-custom-style="Credit Title"> {{source.title}} </span></a>
            by
            <span data-custom-style="Credit Authors">
                {% for author in source.primary_authors %}
                {% if not forloop.first %}, {% endif %}
                {{ author.display_name }}
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>

</section>
