<h1>Editing item_text</h1>

<% form_for(@item_text) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_text %> |
<%= link_to 'Back', item_texts_path %>