<h1>Listing item_texts</h1>

<table>
  <tr>
  </tr>

<% @item_texts.each do |item_text| %>
  <tr>
    <td><%= link_to 'Show', item_text %></td>
    <td><%= link_to 'Edit', edit_item_text_path(item_text) %></td>
    <td><%= link_to 'Destroy', item_text, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_text', new_item_text_path %>