{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    {% block prepend_to_head %}{% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>
    <title>{% block page_title %}{{ page_title|default:"Open Casebooks" }}{% endblock %} | H2O</title>
    <link rel="icon" href="#" type="image/png"/>
    {% include 'includes/favicon.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "packs/css/main-c9f3f2a5.css" %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora|Sorts+Mill+Goudy"/>
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"/>

    <!--Need correct logic for vue conditional-->

    <!--{% if include_vuejs %}-->
      <!--<%= javascript_pack_tag "vue_app" %>-->
      <!--<%= stylesheet_pack_tag "vue_app", media: "all" %>-->
      <!--{% endif %}-->
  </head>
  <body class="view-base-landing"> <!--need parameter here for class based on view? -->
    {% if include_vuejs %}<div id="app">{% endif %}
    <div id="non-modal">
      <a href="#main" class="skip-link">Skip to main content</a>
      <a href="#footer" class="skip-link">Skip to footer</a>
      <div class="overlay"></div>
      {% if banner %}
        {{ banner }}
      {% endif %}
      <header id="main-header">
        {% include 'header.html' %}
      </header>
      <main>
        {% block custom_skip_target %}<p id="main" tabindex="-1" class="sr-only">Main Content</p>{% endblock %}
        <!--figure out error messages -->
        {% if nested_layout %}
          {% block nestedLayout %}{% endblock %}
        {% else %}
          {% block mainContent %}{% endblock %}
        {% endif %}
      </main>
      <footer id="main-footer">
        <p id="footer" tabindex="-1" class="sr-only">Footer</p>
        {% include 'footer.html' %}
      </footer>
    </div>
    {% if include_vuejs %}</div>{% endif %}
    <script src="{% static "packs/js/application-9a84a3f0732a1d7044d5.js"%} "></script>
    {% include 'analytics.html' %}
  </body>
</html>
