{% extends 'base.html' %}

{% block page_title %}{{ casebook.get_title }}{% endblock %}

{% block banner %}
{% if casebook.draft_mode_of_published_casebook or not casebook.public %}
  <div class="casebook-preview banner">
    <div class="banner-inner">
      You are viewing a preview of a private casebook.
    </div>
  </div>
{% endif %}
{% endblock %}

{% block mainContent %}
  <header class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
          <div class="tabs">
            <span class="tab active disabled">Casebook</span>
          </div>
      </div>
    </div>
  </header>
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="content">
          <h1 class="title">{{ casebook.get_title }}</h1>
          {% if casebook.subtitle %}<h2 class="subtitle">{{ casebook.subtitle }}</h2>{% endif %}
          <div class="authorship">
            <div class="collaborators">
              {% include 'includes/collaborators.html' with content=casebook%}
            </div>
            <div class="root-attribution">
              {% if casebook.root_owner %}Original author: <a href="{% url 'dashboard' casebook.root_owner.id %}">{{ casebook.root_owner.display_name }}</a>{% endif %}
            </div>
          </div>
      </header>
      {% include 'includes/headnote.html' with content=casebook %}
      {% include 'includes/table-of-contents.html' with contents=contents %}
      </div>
    </div>
  </section>
{% endblock %}
