
<div class="content">
  <div class="brand">H2O</div>
  <div class="layout">
    <div class="link-group">
        <div class="link"><a href="#">Home</a></div>
        <div class="link"><a href="#">Blog</a></div>
        <div class="link"><a href="#">Terms of Service</a></div>
        <div class="link"><a href="#">Privacy Policy</a></div>
        <div class="link"><a href="#">Help Guide</a></div>
        <div class="link"><a href="mailto: info@opencasebook.org">Contact</a></div>
        <div class="copyright">H2O was built at Harvard Law School by the Library Innovation Lab.</div>
    </div>
  </div>
</div>
