
{% extends 'base.html' %}

{% block mainContent %}

<section class="hero">
  <div class="content">
      <h1><em>Build a better casebook.</em></h1>
      <h2>H2O helps law faculty create high quality, open-licensed digital textbooks for free.</h2>
      <a class="call-to-action" href="#">View a book</a>
  </div>
</section>
<section class="preview">
  <div class="content">
    <div class="layout">
      <div class="features">
          <section>
            <h2>Fast, Simple and Free</h2>
            <p>Collect materials, hide and annotate text, and distribute casebooks to your students quickly and reliably. H2O is easy to add to your class.</p>
          </section>
          <section>
            <h2>Open Access</h2>
            <p>All materials in H2O are licensed CC BY-NC-SA and free to copy, reuse and remix.</p>
          </section>
          <section>
            <h2>Library-Powered</h2>
            <p>H2O is made by the Harvard Law School Library and designed carefully to serve faculty and student needs.</p>
          </section>
            <section>
              <div class="link"><a class="call-to-action" href="#">Help Guide</a></div>
            </section>
      </div>
      <div class="screenshot">
        <div class="image-wrapper"><img src="https://opencasebook.org/assets/landing-demo-c22f7e28941801e90d1dc723c4b62a4966a5d2a8eeb9ef3249677260507dac21.png" alt="a screenshot of an example case" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="endorsements">
  <div class="content">
    <h1>Featured Faculty Authors</h1>
    <div class="layout">
        <div class="endorser">
          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/zittrain-4e984b33941de93426cec3b02a1263a8a2ef1e236dbfbeaa48617740b6b239e4.png"/></div>
          <div class="name">Professor Jonathan Zittrain</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="#">Torts</a>
          </div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/suk-gersen-25cbdf85588310f5642114c9d154c7e53cd4fbfe3be1a83fbfafec6a448f4fcd.png"/></div>
          <div class="name">Professor Jeannie Suk Gersen</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="#">Criminal Law</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/quinn-e38d3553887e09d4751922eae24cb518b5cff8cb86098cdcd0540dfb3f0a36ef.png"/></div>
          <div class="name">Professor Brian Quinn</div>
          <div class="institution">Boston College Law School</div>
          <div class="link"><a href="#">An Introduction to the Law of Corporations</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/fried2-d47a87101318e8315e3973332e127d54f265c5e8e1d282aae987c582dbede9b6.png"/></div>
          <div class="name">Professor Charles Fried</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="#">Contracts Law</a></div>
        </div>
        <div class="endorser">
          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/cohen-820d0cee1f7a2dc767551308bf615fe44176d08c46c3c33a80bff87f19cbefcd.png"/></div>

          <div class="name">Professor I. Glenn Cohen</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="#">Civil Procedure</a></div>
        </div>
        <div class="endorser">

          <div class="photo"><img src="https://opencasebook.org/assets/endorsers/modirzadeh-435e6287bc3a33426746a23f68a2d92f920e0dcabaefa1e8e3217e5eaf510c3f.png"/></div>

          <div class="name">Professor Naz Modirzadeh</div>
          <div class="institution">Harvard Law School</div>
          <div class="link"><a href="#">International Humanitarian Law / Laws of War</a></div>
        </div>
    </div>
    <div class="testimonial">
      <div class="quote">H2O's open source platform has transformed the way I teach corporate law.</div>
      <div class="source">Professor Brian Quinn, Boston College Law School</div>
    </div>
  </div>
</section>
<section class="stinger">
    <img src="https://opencasebook.org/assets/logo-6e5a88c4a3d25423d33f5d90a0d6d01926133494ac957c0fb2694f88184ba4b5.png" title="H2O"/>
    <h1>"Build coursebooks better, faster and smarter — today."</h1>
    <a class="call-to-action" href="#">Get started</a>
</section>

{% endblock %}
