{% extends 'base.html' %}

{% block page_title %}Resource {{ resource.ordinal_string }} | {{ resource.casebook.get_title }}{% endblock %}

{% block mainContent %}
  <header class="casebook-public casebook" data-editable="" data-casebook-id="{{ resource.casebook.id }}" data-resource-id="{{ resource.id }}">
    <div class="content">
      <div class="casebook-inner">
        <div class="tabs">
          <a class="tab" href="{{ resource.casebook.get_absolute_url }}">Casebook</a>
          <a class="tab disabled active">Read</a>
        </div>
      </div>
    </div>
  </header>
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="casebook-header">
          <div class="casebook-title">
            {{ resource.casebook.get_title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=resource %}
          <h1 class="title">{{ resource.get_title }}</h1>
        </header>
      {% include 'includes/headnote.html' with content=resource %}
      <section class="resource">
        {% if resource.resource_type == 'Case' or resource.resource_type == 'TextBlock'  %}
          <the-resource-body :editable="false" :resource="{{ resource.json }}"></the-resource-body>
        {% elif resource.resource_type == 'Default' %}
          <section class="resource link-resource">
            Click here to view this linked resource off-site:
            <a href="{{ resource.resource.url }}" target="_blank">{{ resource.get_title }}</a>
          </section>
        {% endif %}
      </section>
      </div>
    </div>
  </section>
{% endblock %}
