{% extends 'base.html' %}

{% block page_title %}Resource {{ resource.ordinal_string }} | {{ resource.casebook.title }}{% endblock %}

{% block mainContent %}
  <header class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="tabs">
          <a class="tab" href="{{ resource.casebook.get_absolute_url }}">Casebook</a>
          <a class="tab disabled active">Read</a>
        </div>
      </div>
    </div>
  </header>
  <section class="casebook-public casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="casebook-header">
          <div class="casebook-title">
            {{ resource.casebook.title }}
          </div>
        </header>
        <header class="content">
          <!-- TODO: Breadcrumbs -->
          <h1 class="title">{{ resource.title }}</h1>
        </header>
      {% include 'includes/headnote.html' with content=resource %}
      </div>
    </div>
    <section class="resource">
      {% if resource.resource_type == 'Case' or resource.resource_type == 'TextBlock'  %}
        <the-resource-body>Case or Text Resource</the-resource-body>
      {% elif resource.resource_type == 'Default' %}
        <section class="resource link-resource">
          Link Resource
        </section>
      {% endif %}
    </section>
  </section>
{% endblock %}
