{% extends 'base.html' %}

{% block page_title %}Section {{ section.ordinal_string }} | {{ section.casebook.get_title }}{% endblock %}

{% block banner %}
<div class="casebook-draft banner">
  <div class="banner-inner">
    This casebook is a draft and is visible only to collaborators.
  </div>
</div>
{% endblock %}

{% block mainContent %}
  <header class="casebook-draft casebook" data-section-id="{{ section.id }}">
    <div class="content">
      <div class="casebook-inner">
        <div class="tabs">
          <a class="tab" href="{% url 'edit_casebook' section.casebook %}">Casebook</a>
          <span class="tab disabled active">Edit</span>
        </div>
      </div>
    </div>
  </header>
  <section class="casebook-draft casebook">
    <div class="content">
      <div class="casebook-inner">
        <div class="top-strip"></div>
        <header class="casebook-header">
          <div class="casebook-title">
            {{ section.casebook.get_title }}
          </div>
        </header>
        <header class="content">
          {% include 'includes/breadcrumbs.html' with content=section %}
          <h1 class="title">{{ section.get_title }}</h1>
        </header>
        {% include 'includes/action_buttons.html' with content=section %}
        {% include 'includes/headnote.html' with content=section %}
        {% include 'includes/table-of-contents.html' with contents=section.contents  %}
      </div>
    </div>
  </section>
{% endblock %}
