.manage-collaborators-container {
  margin-bottom: 50px;
}

.collaborator-search {
  margin: 5px;

  .form-group {
    display: inline;
  }

  .search-form {
    margin-top: 15px;
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding: 5px 0 0 5px;
  }

  .search-field {
    padding-left: 35px;
    max-width: 500px;
  }
}

.no-results {
  margin: 20px 0 0 9px;
  font-size: 17px;
}

.change-collaborators {
  margin-top: 20px;
}

.divider {
  margin: 30px 0;
}

.collaborators {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .collaborator-block {
    border: solid black 1px;
    box-shadow: 1px 1px #888888;
    padding-top: 20px;
    margin: 12px;
    width: 329px;
    height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    .lightly-bolded {
      font-weight: 500px;
    }

    ul {
      margin: 0 0 3px -21px;
      width: 100%;
    }

    .attributes {
      width: 272px;
      min-height: 283px;
    }

    .add-collaborator-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .role {
        display: block;
        position: static;
        box-shadow: none;
      }

      .dropdown-menu {
        margin-top: 10px;
        width: 249px;
        margin-left: 13px
      }
    }

    #has_attribution {
      margin-right: 5px;
    }



    .delete-collaborator {
      padding: 8px 0 15px 0;
    }

    .btn {
      position: absolute;
      width: 249px;
      bottom: 20px;
      margin-left: 13px;
    }

    .edit-attribution-button {
      bottom: 64px;
    }
  }
}

.associated-resources {
  margin-bottom: 40px;
}

.delete-object-form {
  margin: 20px;
}

.grant-admin-container {
  margin-top: 33px;

  .btn-grant-admin {
    font-size: 16px;
  }
}
