.collaborators {
  display: flex;
  align-items: center;
}

.collaborator-block {
  border: solid black 2px;
  padding: 20px 20px 0 0;
  margin: 5px;
  flex-grow: 1;
}

.collaborator-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 15px 0;
  margin: 0 40px;
}

.collaborator-button {
  @extend .btn-default;
}

.change-collaborators {
  margin-top: 20px;
}
