<h1>Listing rotisserie_discussions</h1>

<table>
  <tr>
  </tr>

<% @rotisserie_discussions.each do |rotisserie_discussion| %>
  <tr>
    <td><%= link_to 'Show', rotisserie_discussion %></td>
    <td><%= link_to 'Edit', edit_rotisserie_discussion_path(rotisserie_discussion) %></td>
    <td><%= link_to 'Destroy', rotisserie_discussion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rotisserie_discussion', new_rotisserie_discussion_path %>