<h1>New rotisserie_discussion</h1>

<% form_for(@rotisserie_discussion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rotisserie_discussions_path %>