<div class="info_block">
 <div class="yellow_title_med">Discussion is
          <% if @rotisserie_discussion.closed? %>
            closed
          <% elsif @rotisserie_discussion.pending? %>
            pending
          <% else %>
            in round <%= @rotisserie_discussion.current_round %>
          <% end %>
</div>
Current discussion is shown below.  Posts will only be revealed when the current round has ended.  If you are assigned a post
then that post will be highlighted in red.  Use the green arrow button to reply to your assignment.
</div>

<div id="spinner_block"></div>

<% if @rotisserie_discussion.user? || @rotisserie_discussion.owner? || @rotisserie_discussion.closed? %>
  <div id="list_block" class="ui-widget">
    <%= render :partial => 'rotisserie_posts/rotisserie_posts_block', :locals => {:rotisserie_discussion => @rotisserie_discussion} %>
  </div>

<% else %>
  <p>You are not currently a member of this discussion, would you like to become one?</p>
  <% link_to(add_member_rotisserie_discussion_path(@rotisserie_discussion), :style => "width: 200px; text-decoration: none;") do %>
    <div class="ui-button ui-state-default ui-corner-all" style="width: 200px; text-decoration: none;">
      Become a member
    </div>
  <% end %>


<% end %>



<br />

<div id="container_id" style="display: none;"><%= @rotisserie_discussion.id %></div>

<div id="dialog-post-reply" title="Reply to post"></div>
<div id="dialog-post-new" title="New post"></div>
<div id="dialog-post-edit" title="Edit post"></div>
<div id="dialog-post-delete" title="Delete post"></div>

