<p>
  <b>Case:</b>
  <%= @case_docket_number.case_id %>
</p>

<p>
  <b>Docket number:</b>
  <%= @case_docket_number.docket_number %>
</p>


<%= link_to 'Edit', edit_case_docket_number_path(@case_docket_number) %> |
<%= link_to 'Back', case_docket_numbers_path %>
