<h1>Login Notifier</h1>

Fill out the form below and your logins will be emailed to you:<br />
<br />

<% form_tag login_notifiers_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email_address" %><br />
  <br />
  <%= submit_tag "Email my logins" %>
<% end %>
<small><%= link_to "Go back to password reset", new_password_reset_path %></small>