<div class="standard-form">	
  <h1>Login Notifier</h1>
	
	<%= form_tag login_notifiers_path, :class => "formtastic" do %>
	  Fill out the form below and your logins will be emailed to you:<br /><br />
	  <label>Email:</label>
	  <%= text_field_tag "email_address" %><br />
	  <br />
	  <%= submit_tag "Email my logins", :class => "button" %>
	  <br/><small><%= link_to "Go back to password reset", new_password_reset_path %></small>
	<% end %>
</div>
