<h1>Editing rotisserie_assignment</h1>

<% form_for(@rotisserie_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotisserie_assignment %> |
<%= link_to 'Back', rotisserie_assignments_path %>