<h1>Listing rotisserie_assignments</h1>

<table>
  <tr>
  </tr>

<% @rotisserie_assignments.each do |rotisserie_assignment| %>
  <tr>
    <td><%= link_to 'Show', rotisserie_assignment %></td>
    <td><%= link_to 'Edit', edit_rotisserie_assignment_path(rotisserie_assignment) %></td>
    <td><%= link_to 'Destroy', rotisserie_assignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rotisserie_assignment', new_rotisserie_assignment_path %>