pip-tools
fabric3

django
django-extensions
djangorestframework
django-crispy-forms # tidier custom model forms
whitenoise          # static file serving

# database
psycopg2            # postgres connector

bleach              # html sanitization
rubymarshal         # read ruby session cookies
cryptography        # read ruby session cookies
diff-match-patch    # update annotations when underlying text changes

# Testing
pytest
pytest-django
pytest-cov
factory-boy         # create django model fixtures on demand
flake8
requests-mock       # mock the requests library
pytest-mock

# CAP API requests
requests
pyquery
