pip-tools

django
django-extensions
djangorestframework
psycopg2            # postgres connector

bleach              # html sanitization
rubymarshal         # read ruby session cookies
cryptography        # read ruby session cookies

# Testing
pytest
pytest-django
pytest-cov

