pip-tools

django
django-extensions
djangorestframework
django-crispy-forms # tidier custom model forms
whitenoise          # static file serving

# database
psycopg2            # postgres connector

bleach              # html sanitization
rubymarshal         # read ruby session cookies
cryptography        # read ruby session cookies

# Testing
pytest
pytest-django
pytest-cov
factory-boy         # create django model fixtures on demand
flake8
requests-mock       # mock the requests library

# CAP API requests
requests
pyquery
