{% block page_title %}About{% endblock %}

<div class="content">
  <div class="pages-content">

  <h2>Why Does H2O Exist?</h2>
  <p>Casebooks - the textbooks used to teach law - are expensive, inflexible, proprietary and mostly unavailable in digital form. This is bad for law faculty and their students. Given the capabilities of the web and the public domain nature of most of the materials in casebooks, faculty and students should have a way to create, adapt, view and print on-demand digital casebooks in their browsers.</p>

  <h2>What Is H2O?</h2>
  <p>H2O offers a platform for making and sharing open-licensed casebooks and other course materials online. It was created originally by the <a href="https://cyber.harvard.edu">Berkman Klein Center for Internet and Society</a>. It's developed and maintained today by the <a href="https://lil.law.harvard.edu">Library Innovation Lab</a> at the <a href="https://library.law.harvard.edu">Harvard Law School Library.</a>

  <h2>How Does H2O work?</h2>
  <p>H2O allows professors to freely develop, remix, and share online textbooks under a Creative Commons Attribution-Noncommercial-Share Alike 3.0 License (per the Terms of Service). H2O is based on the open-source model: instead of locking down materials in formalized textbooks, we believe that course books can be free (as in “free speech”) for everyone to access and, just as important, build upon. Currently, H2O is geared primarily toward law professors, though the platform can be used across intellectual domains.</p>

  </div>
</div>