body > .overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 3000px;
  background-position: center 0;
  background-size: initial;
  opacity: 0.3;
  z-index: 10;
  pointer-events: none;
}
body.view-base-index > .overlay {
  // background-image: url('~assets/images/mockups/landing.png');
  display: none;
}

body.view-playlists-edit > .overlay {
  // background-image: url('~assets/images/mockups/new-casebook.png');
}
