<h1>New item_question_instance</h1>

<% form_for(@item_question_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', item_question_instances_path %>