<% Metadatum::DISPLAY_FIELDS.each do |col| %>
  <% if (col_value = metadatum.send(col)).present? %>
    <p>
      <label><%= col.to_s.titleize %>:</label>
      <span><%= col_value %></span>
    </p>
  <% end %>
<% end %>
