<section>
    <h1 id="AboutPageTitle">An Opencasebook.org Export</h1>
    <p class="about-page-insructions">We, the members of Harvard Law School's Library Innovation Lab,
      proudly present <span style='font-weight: bold; : "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace'>
      [[ %CASEBOOK_NAME% ]/]</span>— our latest bespoke legal text expertly crafted with love using the finest
      hand-formed automation and brought to fruition in the finest locally-chosen cloud environment. We hope you and
      every other esteemed legal scholar, be they professors, practitioners, students, or enthusiasts, can benefit from
      our expertise, craft, and data.
    </p>
</section>
