{% load call_method %}

{% if node.type == 'section' and '.' not in node.ordinal_string %}
  <section class="chapter node" id="Node-{{ node.ordinal_string }}" data-toc-idx="{{ index }}">
{% else %}
  <section class="{{ node.type }} node" id="Node-{{ node.ordinal_string }}" data-toc-idx="{{ index }}">
{% endif %}
    <header>
      <h2 class="titleText">{{ node.title }}</h2>
      <h2 class="ordinal">{{ node.ordinal_string }}</h2>
        <span class=""></span> <span class=""></span>
      </h2>
      {% if node.subtitle %}
        <h3 class="subtitle">{{ node.subtitle }}</h3>
      {% endif %}
    </header>

  {% if node.is_resource and node.resource_type == 'Link' %}
    <article class="link">
      <a href="{{ node.resource.url }}" target="_blank">{{ node.resource.url }}</a>
    </article>
  {% endif %}

<article class="headnote">
  {% if node.headnote %}
      {% call_method node 'headnote_for_export' export_options=export_options as headnote %}
        <p>{{ headnote }}</p>
  {% endif %}
</article>

  {% if node.is_resource and node.resource_type != 'Link' %}  {# case or textblock #}
    <article class="body">
      {% if include_annotations %}
        {% call_method node 'annotated_content_for_export' export_options=export_options as contents %}
        {{ contents }}
        {% call_method node 'footnote_annotations' export_options=export_options as footnote_contents %}
        <footer class="footnotes">{{ footnote_contents }}</footer>
      {% else %}
      {% call_method node 'content_for_export' export_options=export_options as contents %}
        {{ contents }}
      {% endif %}
    </article>
  {% endif %}
  </section>