<header class="advanced-search">
  <%= render partial: 'filters', locals: {query: @query, attributions: @attributions, affiliations: @affiliations, params: params, type: @type} %> 
</header>
<section class="search-results">
  <div class="content">
    <% if @results %>
      <%= render partial: 'tabs', locals: {type: @type, params: params, results: @results, query: @query} %>
      <% if @paginated_group.present? %>
        <%= render partial: 'results', locals: {paginated_group: @paginated_group} %>
      <% else %>
        <div class="no-results">
          <h3><%= t 'search.results.no-results', type: @type.capitalize, query: @query %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
