%h4
  = t("admin.form.are_you_sure_you_want_to_delete_the_object", model_name: @abstract_model.pretty_name.downcase)
  &ldquo;
  %strong>= @model_config.with(object: @object).object_label
  \&rdquo;
  %span>
  = "? This will delete the playlist, and its nested content that isn't referenced elsewhere."

- if false
  %ul= render partial: "delete_notice", object: @object
