<div id="manage_playlists">
  <div id="error_block" style="display:none;" class="error"></div>
  <% semantic_form_for(@user_collection, :html => { :id => "manage-playlists-collection" }) do |form| -%>
    <h4 id="generic_title">Playlists Tied to This Collection</h4>
    <ul id="current_list">
      <input type="hidden" name="manage_playlists" value="1" />
      <% @user_collection.playlists.each do |playlist| -%>
      <li class="item<%= playlist.id %>" >
        <span><%= playlist.name %></span>
        <input type="hidden" name="user_collection[playlist_ids][]" value="<%= playlist.id %>" />
        <a href="#" class="remove_item">REMOVE</a>
      </li>
      <% end -%>
    </ul>
    <h4>My Playlists</h4>
    <input type="hidden" id="lookup" />
    <ul id="lookup_results"></ul>
    <a href="<%= playlist_lookup_playlists_path %>" data-type="playlist" id="lookup_submit">REFRESH LIST</a>
  <% end -%>
</div>
<div class="clear"></div>
