{% if USE_ANALYTICS %}
{# Ensure that MATOMO_SITE_ID and MATOMO_SITE_URL are both set for this environment #}
    <script>
      var _gaq = [];
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      _paq.push(['trackVisibleContentImpressions']);
      (function() {
      var u="{{ MATOMO_SITE_URL }}";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '{{ MATOMO_SITE_ID }}']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
{% endif %}
