{% load call_method %}
{% load humanize_minutes %}
{% if content.ordinals %}
  <div class="breadcrumbs">
    {{ content.type | title }}
    {% call_method content 'ordinals_with_urls' editing=editing as ordinals %}
    {% for ordinal in ordinals %}
      {% if forloop.last %}
        <span class="breadcrumb active">{{ ordinal.ordinal }}</span>
      {% else %}
        <a class="breadcrumb" href="{{ ordinal.url }}">{{ ordinal.ordinal }}</a>
        <span class="separator">.</span>
      {% endif %}
    {% endfor %}
    {% if content.reading_time %}
      <div class="reading-time">
        {{ content.reading_time | humanize_minutes }}
        {% if content.num_links %}
          + {{ content.num_links }} links
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
