{% load call_method %}
<div class="content-browser">
  {% for node in content %}{% with node as casebook %}
    {% call_method casebook "editable_by" request.user as user_can_edit %}
    <a class="wrapper" href="{% if casebook.is_public %}{% url "casebook" casebook %}{% elif casebook.is_archived %}{% url "casebook_settings" casebook %}{% else %}{% url "edit_casebook" casebook %}{% endif %}">
      <div class="content-page {% if casebook.is_archived %}archived{% elif casebook.is_public %}public{% else %}draft{% endif %}">
        <div class="casebook-info">
          <div class="state">{% if casebook.is_public %}Published{% if casebook.has_draft%} with draft{% endif %}{% elif casebook.is_archived %}Archived{% else %}Draft{% endif %}</div>
          <div class="title">{{ casebook.title }}</div>
          <div class="subtitle">{{ casebook.subtitle|default:"" }}</div>
        </div>
        {% if casebook.has_draft and user_can_edit %}
          <a class="wrapper" href="{% url "edit_casebook" casebook.draft %}">
            <div class="unpublished-changes">
             <span class="exclamation">!</span>
              <span class="description">This casebook has unpublished changes.</span>
            </div>
          </a>
        {% endif %}
        <div class="author-info">
          <div class="owner">
           <ul>
               {% for author in casebook.primary_authors %}
            <li>{{ author.attribution }}
            {% if author.verified_professor %}
              <span class="verified"></span>
            {% endif %}
            </li>
           {% endfor %}
           </ul>
          </div>
          <div class="affiliation">
            {{ casebook.owner.affiliation|default:"" }}
          </div>
        </div>
      </div>
    </a>
  {% endwith %}{% endfor %}
</div>
