<nav aria-label="Previous Next Page">
{% load call_method %}
  {% if section.prev_node_url %}
     <div class="prev_button_container">
      <a class="prev_url" href="{{ section.prev_node_url }}" aria-label="Previous Page Button">
        <span class="prev_page" ></span>
      </a>
    </div>
  {% endif %}

  {% if section.next_node_url %}
    <div class="next_button_container">
      <a class="next_url" href="{{ section.next_node_url }}" aria-label="Next Page Button">
        <span class="next_page"></span>
      </a>
    </div>
{% endif %}
</nav>

