
{% load call_method %}
<div class="page_buttons">
  {% if section.prev_node_url %}
     <div class="prev_button_container">
      <a class="prev_url" href="{{ section.prev_node_url }}">
        <span class="prev_page"></span>
      </a>
    </div>
  {% else %}
  {% endif %}

  {% if section.next_node_url %}
      <div class="next_button_container">
        <a class="next_url" href="{{ section.next_node_url }}">
          <span class="next_page"></span>
        </a>
      </div>
  {% else %}
{% endif %}
</div>

