<section class="credits">
    <div class="related-section">
        {% if related_casebooks %}
        <h3>
            The following casebooks share at least one case in common with this {% if section %}section{% else %}casebook{% endif%}.
        </h3>
        <ul class="related-content-list">
            {% for related_casebook in related_casebooks %}
            <li><a href="{{related_casebook.get_absolute_url}}">{{related_casebook.title}} ({{related_casebook.updated_at | date:"Y-M-d" }})</a>
                <ul class="author-list">
                    {% for author in related_casebook.primary_authors %}
                    <li> {{author.display_name}} {% endfor %}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="related-section">
        <h3>
            Legal Documents present in similar casebooks, but not in this one.
        </h3>
        <ul class="related-content-list">
            {% for novel, count in novel_docs %}
            <li><a href="{% url 'display_legal_doc' novel.id %}">{{novel.short_name}} ({{count}})</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="related-section">
        {% if related_content %}
        <h3>Below is a list of derivative and related content for this {{type}}:</h3>
        <ul class="related-content-list">
            {% for row in related_content %}
            <li>
                <span class="section-title">{{ row.local.ordinal_string }}: {{ row.local.title }} </span>
                <ul>
                    {% for related in row.related %}
                    <li>
                        <a class="og-node-link" href="{{ related.get_absolute_url }}">{{related.casebook.title}} ({{related.updated_at | date:"Y-M-d" }})</a>
                        <ul class="author-list">
                            {% for author in related.primary_authors %}
                            <li> {{author.attribution}} </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>Unable to find related content</h3>
        {% endif %}
    </div>
</section>
