<header class="casebook {% if editing %}casebook-draft{% else %}casebook-public{% endif %}"
        data-editable="true"
        data-casebook-id="{{ resource.new_casebook.id }}"
        data-resource-id="{{ resource.id }}">
    <div class="content">
        <div class="casebook-inner">
            <div class="tabs">
                {% if not edit_mode %}
                <a class="tab" href="{{ resource.new_casebook.get_absolute_url }}">Casebook</a>
                {% else %}
                <a class="tab" href="{% url 'edit_casebook' resource.new_casebook %}">Casebook</a>
                {% endif %}
                {% if read_tab %}
                <span class="tab disabled active">Read</span>
                {% else %}
                <a class="tab" href="{{ resource.get_absolute_url }}">Read</a>
                {% endif %}
                {% if edit_mode %}
                {% if resource.annotatable %}
                {% if annotate_tab %}
                <span class="tab disabled active">Annotate</span>
                {% else %}
                <a class="tab" href="{% url 'annotate_resource' resource.new_casebook resource %}">Annotate</a>
                {% endif %}
                {% endif %}
                {% if details_tab %}
                <span class="tab disabled active">Resource Details</span>
                {% else %}
                <a class="tab" href="{% url 'edit_resource' resource.new_casebook resource %}">Resource Details</a>
                {% endif %}
                {% endif %}
                {% if credits_tab %}
                <span class="tab disabled active">Credits</span>
                {% else %}
                <a class="tab" href="{% url 'show_resource_credits' resource.new_casebook resource %}">Credits</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
