<header class="casebook {% if editing %}casebook-draft{% else %}casebook-public{% endif %}"
        {% if edit_mode %}data-editable="true"{% endif %}
        data-casebook-id="{{ section.casebook_id }}"
        data-section-id="{{ section.id }}"
        data-section-ordinals="{{ section.ordinal_string }}"
        data-resource-id="">
    <div class="content">
        <div class="casebook-inner">
            <div class="tabs">
                {% if not edit_mode %}
                    <a class="tab" href="{{ section.casebook.get_absolute_url }}">Casebook</a>
                {% else %}
                    <a class="tab" href="{% url 'edit_casebook' section.casebook %}">Casebook</a>
                {% endif %}
                {% if read_tab %}
                    <span class="tab disabled active">Read</span>
                {% else %}
                    <a class="tab" href="{{ section.get_absolute_url }}">Read</a>
                {% endif %}
                {% if edit_mode %}
                    {% if edit_tab %}
                        <span class="tab disabled active">Edit</span>
                    {% else %}
                        <a class="tab" href="{{ section.get_edit_url }}">Edit</a>
                    {% endif %}
                {% endif %}
                {% if credits_tab %}
                    <span class="tab disabled active">Credits</span>
                {% else %}
                    <a class="tab" href="{% url 'show_resource_credits' casebook.id section %}">Credits</a>
                {% endif %}
            </div>
      </div>
    </div>
  </header>
