<h1>Editing item_playlist</h1>

<% form_for(@item_playlist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @item_playlist %> |
<%= link_to 'Back', item_playlists_path %>