<h1>Listing item_playlists</h1>

<table>
  <tr>
  </tr>

<% @item_playlists.each do |item_playlist| %>
  <tr>
    <td><%= link_to 'Show', item_playlist %></td>
    <td><%= link_to 'Edit', edit_item_playlist_path(item_playlist) %></td>
    <td><%= link_to 'Destroy', item_playlist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_playlist', new_item_playlist_path %>