<% include Rails.application.routes.url_helpers %>

<template>
<div id="vue_annotator" v-if="mode != 'inactive'" :style="'{top: `${offset}`}'">
  <div class="annotator-inner">
    <template v-if="mode == 'create-menu'">
      <a @click="create('highlight')">Highlight</a>
      <a @click="create('elide')">Elide</a>
      <a @click="create('replace')">Replace</a>
      <a @click="add('link')">Add link</a>
      <a @click="add('note')">Add note</a>
    </template>
    <template v-else-if="mode == 'new-form'">
      <form v-if="newAnnotationtype == 'link'" v-on:submit.prevent="submit('link')" class="create-form">
        <input name="content" type="url" placeholder="Paste URL"  />
      </form>
      <form v-if="newAnnotationtype == 'note'" v-on:submit.prevent="submit('note')" class="create-form">
        <textarea name="content" placeholder="Note text..."></textarea>
        <input class="save-note" type="submit" value="Save" />
      </form>
    </template>
    <template v-else-if="mode == 'edit-link'">
      <form v-on:submit.prevent="update_link">
        <input name="content" type="url" placeholder="Url to link to..." value="${(this.getLinkValue())}" />
      </form>
    </template>
    <template v-else-if="mode == 'edit-handle'">
      <a v-if="annotationType == 'highlight'" @click="destroy">Remove highlighting</a>
      <a v-if="annotationType == 'elide'" @click="destroy">Remove elision</a>
      <template v-if="annotationType == 'replace'">
        <a @click="reveal">Reveal original text</a>
        <a @click="destroy">Remove replacement text</a>
      </template>
      <template v-if="annotationType == 'link'">
        <a @click="destroy">Remove link</a>
        <a class="edit-link" @click="edit_link">Edit link</a>
      </template>
      <a v-if="annotationType == 'note'" @click="destroy">Remove Note</a>
    </template>
    <template v-else-if="mode == 'save-changes'">
      <a @click="save_changes">Save</a>
      <a @click="cancel_changes('elide')">Cancel</a>
    </template>
  </div>
</div>
</template>

<script>
export default {
  data: () => ({
    mode: "edit-handle",
    newAnnotationType: "link",
    annotationType: "elide"
  }),
  computed: {
    offset: function() {
      let wrapperRect = document.querySelector('.resource-wrapper').getBoundingClientRect();
      let viewportTop = window.scrollY - (wrapperRect.top + window.scrollY);
      
      let target = this.range || this.handle;
      this.targetRect = target ? target.getBoundingClientRect() : this.targetRect || {top: 0, bottom: 0};
      
      return Math.min(Math.max(this.targetRect.top - wrapperRect.top,
                               viewportTop + 20),
                      this.targetRect.bottom - wrapperRect.top).toString(10) + "px";
    }
  },
  methods: {
    create: type => {
      alert(type)
    },
    add: type => {
      alert(type)
    },
    destroy: () => {
      alert("destroy")
    },
    reveal: () => {
      alert("reveal")
    },
    save_changes: () => {
      alert("save changes");
    },
    cancel_changes: type => {
      alert(type)
    },
    edit_link: () => {
      alert("edit link");
    },
    update_link: () => {
      alert("update link");
    },
    submit: type => {
      alert("submit");
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/vars_and_mixins';

#vue_annotator {
  @include square(0);
  @include transition(top 0.1s linear);
  display: block;
  position: absolute;
  right: 0;
  overflow: visible;
  user-select: none;
}

.hide .annotator-inner {
  max-width: 0px;
  padding: 10px 0;
  border-width: 1px 0;
}

a {
  @include sans-serif($regular, 12px, 14px);
  cursor: pointer;
  white-space: nowrap;
  background-color: $white;
  &:hover {
    background-color: $highlight;
  }
}

.annotator-inner {
  @include transition(max-width 0.1s linear, padding 0.1s linear, border-width 0.1s linear);
  position: absolute;
  left: 40px;
  padding: 10px;
  max-width: 200px;
  overflow: hidden;
  background-color: $white;
  border: 1px solid black;
  z-index: 2;
  margin-left: 20px;
}

.create-form {
  display: flex;
  flex-direction: column;
  
  .save-note {
    margin-top: 20px;
  }
}
</style>
