<section class="playlists">
	<ul>
		<% playlist.playlist_items.limit(playlist_items_limit).each_with_index do |item, index| -%>
		  <%= render :partial => 'shared/objects/playlist_item_print',
		    :locals => {
              :item => item,
			  :parent_index => '',
			  :index => index + @playlist.counter_start,
			  :recursive_level => 0,
            }
          %>
		<% end -%>
	</ul>
</section>
