<div class="playlists dd" data-playlist_id="<%= @playlist.id %>">
	<ol class="dd-list <%= 'dd-empty' if @playlist.playlist_items.empty? %>">
		<% @playlist.playlist_items.each_with_index do |item, index| -%>
		  <%= render :partial => 'shared/objects/playlist_item',
		    :locals => { :item => item,
        :actual_object => item.actual_object,
			  :parent_index => '',
			  :index => index + @playlist.counter_start,
			  :recursive_level => 0,
        :last => (item == @playlist.playlist_items.last) } %>
		<% end -%>
	</ol>
</div>
