<h1>Listing playlist_items</h1>

<table>
  <tr>
  </tr>

<% @playlist_items.each do |playlist_item| %>
  <tr>
    <td><%= link_to 'Show', playlist_item %></td>
    <td><%= link_to 'Edit', edit_playlist_item_path(playlist_item) %></td>
    <td><%= link_to 'Destroy', playlist_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New playlist_item', new_playlist_item_path %>