<%= javascript_tag(%q|jQuery(function() {
  jQuery("#url_review").button();
  });|) %>

<%= text_field_tag 'url_input', nil,
  :size => 50,
  :name => 'url_input',
  :class => "ui-widget-content ui-corner-all"
%>

<p>
  <a id="url_review">Submit URL</a>
</p>

<div id="result_data">
</div>