<%
object_id = params[:id].blank? ? container_id : params[:id]

@rotisserie_discussion = RotisserieDiscussion.find(object_id)
@rotisserie_posts = @rotisserie_discussion.rotisserie_posts.roots
#@rotisserie_posts = @rotisserie_discussion.rotisserie_posts.find(:all, :conditions => ['parent_id is null']) 
%>

<div class="discussion_topic">
  <div class="div_header"><%= @rotisserie_discussion.output %></div>
  <div class="discussion_content"><%= @rotisserie_discussion.description %></div>
</div>

<% @rotisserie_posts.each do |post|  %>
  <%= render :partial => 'rotisserie_posts/rotisserie_post_content', :locals => {:post => post} %>
<% end %>

<% if  (!@rotisserie_discussion.answered_discussion? && @rotisserie_discussion.current_round == 1) || (@rotisserie_discussion.owner? || @rotisserie_discussion.superadmin?)%>
  <button id="button-post-create-<%= @rotisserie_discussion.id %>" name="button-post-create" class="ui-button ui-state-default ui-corner-all">Create post</button>
<% end %>

