<div id="error_block"></div>

This item will be permanently deleted and cannot be recovered. Are you sure?

<%= form_tag RotisseriePost.find(params[:id]), :method => :delete, :id => 'delete_rotisserie_post', :class => 'ui-widget' %>

</form>


