<h1>Editing rotisserie_post</h1>

<% form_for(@rotisserie_post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotisserie_post %> |
<%= link_to 'Back', rotisserie_posts_path %>