<h1>Listing rotisserie_posts</h1>

<table>
  <tr>
  </tr>

<% @rotisserie_posts.each do |rotisserie_post| %>
  <tr>
    <td><%= link_to 'Show', rotisserie_post %></td>
    <td><%= link_to 'Edit', edit_rotisserie_post_path(rotisserie_post) %></td>
    <td><%= link_to 'Destroy', rotisserie_post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rotisserie_post', new_rotisserie_post_path %>