<div id="featured_container">
<div id="featured_title" >
Featured
</div>
<div id="featured_content">
  <div id="f_block1" class="block knockout">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <div id="f_block2">
    <div class="yellow_heading block">Question Tool</div>
    <div class="yellow_content block">
      <%= link_to image_tag("/images/elements/question.png"), question_instances_path %>
    </div>
  </div>
  <div id="f_block3">
    <div class="blue_heading block">Rotisserie</div>
    <div class="blue_content block">
      <%= link_to image_tag("/images/elements/cog.png"), rotisserie_instances_path %>
    </div>
  </div>  
</div>
  <div style="clear: both;"></div>
</div>


