<div class="navigation_block_container">
<div id="featured_title" >
Navigation
</div>
<div class="navigation_block block">
 <div class="title_small">Browse</div>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>

<div id="footer_block">
  <%= link_to image_tag("/images/elements/question_small.png"), question_instances_path %>
  <%= link_to image_tag("/images/elements/cog_small.png"), rotisserie_instances_path %>
  <%= link_to image_tag("/images/elements/playlist_small.png"), playlists_path %>
  <% unless current_user.nil? %>
    <%= link_to("Logout", user_session_path, :method => :delete, :id => 'logged-in') %>
  <% end %>
</div>
