<div class="status" id="spinner_block" style="display: none;"><%= image_tag('/images/elements/ajax-loader.gif') %></div>
<div id="header_logo">
  <%= link_to image_tag("/images/elements/logo_h2o.png"), "/" %>
</div>
<div id="header_title">
  <%=h @logo_title %>
</div>


