      <div class="per-page">
        Per page:
        <select name="per-page" class="per-page-selector">
          <% [10,25,50,100,250,500,1000].each do|i| %>
            <option value="<%= i %>"><%= i %></option>
          <% end %>
        </select>
      </div>
      <div class="clear"></div>
