<% params[:type].present? ? item_type = h(params[:type]) : item_type = selected_type  %>

<%= select_tag(:item_type, options_for_select(PlaylistItem::ITEM_TYPES, :selected => item_type )) %>

<div id="url_selected"><%= url_string %></div>

<div id="playlist_item_form">
  <%=  render :partial => 'shared/forms/' + item_type.tableize.singularize, :locals => {
    :item_type => item_type,
    :url_string => url_string,
    :container_id => container_id,
    :body => body
  } %>
</div>
