<h1>Listing item_rotisserie_discussions</h1>

<table>
  <tr>
  </tr>

<% @item_rotisserie_discussions.each do |item_rotisserie_discussion| %>
  <tr>
    <td><%= link_to 'Show', item_rotisserie_discussion %></td>
    <td><%= link_to 'Edit', edit_item_rotisserie_discussion_path(item_rotisserie_discussion) %></td>
    <td><%= link_to 'Destroy', item_rotisserie_discussion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item_rotisserie_discussion', new_item_rotisserie_discussion_path %>