<h1>New item_rotisserie_discussion</h1>

<% form_for(@item_rotisserie_discussion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', item_rotisserie_discussions_path %>