%div.CasebookTitle{data: {'custom-style': 'Casebook Title'}}= @casebook.title
%div.CasebookSubtitle{data: {'custom-style': 'Casebook Subtitle'}}= @casebook.subtitle
%div.CasebookHeadnote{data: {'custom-style': 'Casebook Headnote'}}= @casebook.headnote

%div.table-of-contents
  - @casebook.contents.each_with_index do |content, idx|
    %div.toc-entry{data: {depth: content.ordinals.length, idx: idx + 1, title: "#{content.ordinal_string} #{content.title}"}}

- @casebook.contents.each_with_index do |content, idx|
  = render :partial => "content/export_node", :locals => {:content_node => content, :idx => idx}
