@import 'content/dragging';
@import 'content/annotations';
@import 'content/modals';

main > .casebook .casebook-inner {
  @include make-md-column(9);
  @include make-md-column-offset(1.75);
}

main > section.casebook {
  background-color: $light-gray;
  padding-bottom: 20px;

  .top-strip {
    margin-top: 1px;
    height: 20px;
  }
  &.casebook-draft .top-strip {
    background-color: $yellow;
  }
  &.casebook-public .top-strip {
    background-color: $light-blue;
  }
  &.casebook-draft .subtitle {
    color: $yellow;
  }
}

main > header.casebook {
  margin-top: 20px;
  padding: 0 40px;

  .tabs {
    display: flex;
    height: 38px;

    @media (max-width: $screen-xs) {
      flex-direction: column;
      flex-grow: 1;
      height: 150px;
    }

    .tab {
      @include btn();
      @include button-variant($black, $white, $light-gray);
      border: 2px solid $light-gray;
      border-bottom-width: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 0;
      flex-basis: 137px;

      @media (max-width: $screen-xs) {
        flex-basis: 50px;
      }
      &.disabled {
        background-color: $light-gray;
      }
    }
    .tab.active {
      color: white;
      background-color: $light-blue;
      border: none;
    }
  }
  &.casebook-draft {
    .tabs .tab.active {
      color: $white;
      background-color: $yellow;
      border-color: $yellow;
    }
  }
}

.casebook-actions {
  @include make-md-column(1.25);
  position: relative;
  top: -40px;

  a.action {
    padding-top: 16px !important;
  }
  input.action, a.action {
    @include sans-serif($bold, 14px, 14px);
    @include transition(background-size 0.05s linear, background-position 0.05s linear);
    display: block;
    height: 60px;
    padding: 3px 0 0 60px;
    position: relative;

    color: $light-blue;
    white-space: normal;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 3px center;

    &:hover {
      background-size: 55px;
      background-position: 0 center;
    }
    &:active {
      background-size: 48px;
      background-position: 4px center;
    }
    &:focus {
      outline: none;
      text-decoration: underline;
    }
    &.one-line {
      padding-top: 6px;
    }
    &.add-resource {
      background-image: asset-url('ui/casebook/add-material.png');
    }
    &.add-section {
      background-image: asset-url('ui/casebook/add-section.png');
    }
    &.publish {
      background-image: asset-url('ui/casebook/publish.png');
    }
    &.clone-casebook {
      background-image: asset-url('ui/casebook/clone.png');
    }
    &.export {
      background-image: asset-url('ui/casebook/export.png');
    }
    &.more, &.edit, &.preview {
      background-image: asset-url('ui/casebook/more.png');
    }
  }
}

form.edit_content_resource, form.edit_content_section, form.edit_content_casebook {
  label {
    display: none;
  }
}

.casebook-inner {
  header.content{
    padding: 15px 10px 15px 10px;

    .form-control{
      font-size: 15px;
    }
  }
  header.casebooks-search {
    margin-bottom: 30px;
  }
  section.headnote, header.inner, section.resource-search {
    padding: 20px 40px;
  }
  section.no-headnote {
    height: 10px;
  }
  header.casebook-header {
    margin-bottom: 2px;
    padding: 20px 40px 20px 40px;
    background-color: $white;

    .casebook-title {
      @include sans-serif($bold, 14px, 18px);
      text-align: center;
    }
  }
  header.content {
    background-color: $white;
    h1.title {
      margin: 0px;
      padding-left: 25px;
      font-size: 32px;
      .case {
        @include serif-headline($regular, 43px, 51px);
        .title-metadata {
          font-weight: bold;
          color: $light-blue;
          margin-bottom: 15px;
          @include sans-serif($regular, 12px, 12px);
        }
        .resource-type {
          border: 0.5px solid $light-blue;
          padding: 4px 20px;
          margin-right: 10px;
        }
        .year {
          @include sans-serif($regular, 22px, 12px);
        }
      }

    }

    .subtitle {
      color: $light-blue;
      font-weight: 200;
      margin: 6px 0px 10px 2px;
      font-size: 24px;
      padding-left: 25px;
    }

    .breadcrumbs {
      font-size: 24px;
      font-weight: bold;
      .breadcrumb {
        @include square(20px);
        display: inline-block;
        padding: 4px;
        color: $light-blue;
        margin-right: 4px;
        &.active {
          color: black;
          font-weight: bold;
          background-color: transparent !important;
        }
        &:hover {
          background-color: $light-gray;
        }
      }
      .separator {
        display: inline-block;
        width: 0;
        padding: 0;
        margin-left: -12px;
        pointer-events: none;
      }
    }
  }
  section.headnote {
    @include sans-serif($regular, 18px, 31px);
    h5 {
      font-size: 14px;
    }
    h3 {
      @include sans-serif($medium, 24px, 27px);
      margin: 10px 0;
      color: $orange;
    }
  }
  section.resource-search {
    .tabs .tab {
      @extend .btn;
      @include button-variant($black, $white, $white);
      &.active {
        border: 1px solid black;
        border-bottom-color: transparent;
      }
    }
  }
  input#playlist_name {
    @include sans-serif($medium, 36px, 36px);
    padding: 32px 20px 25px;
  }
  .collaborators {
    padding-left: 15px;
    .add-collaborator {
      @include square(20px);
      display: inline-block;
      vertical-align: middle;

      color: transparent;
      background-image: asset-url('add-icon.png');
      background-size: auto;
    }
    .user {
      @include sans-serif($medium, 13px, 13px);
      font-weight: bold;
      display: inline-block;
      &.verified::before {
        @include square(13px);
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        content: '';
        background: asset-url('ui/verified.png') no-repeat;
      }
    }
  }

  .resource {
    padding: 40px;
    background-color: white;
    p {
      @include serif-text($regular, 19px, 34px);
    }
    strong {
      @include sans-serif($bold, 18px, 40px);
    }
  }

  .table-of-contents, .search-results {
    .listing-wrapper {
      position: relative;

      .actions {
        position: absolute;
        top: 0;
        right: 0;

        > form > input[type=submit] {
          @include square(50px);
          display: block;
          margin: 4px 0;
          color: transparent;
          background-color: transparent;
          background-position: 0 center;
          background-repeat: no-repeat;
          background-size: auto;
          &.action-delete {
            background-image: asset-url('ui/edit/elide.png');
            height: 51px;
            width: 35px;
          }
          &.action-add-resource {
            @include sans-serif($bold, 14px, 14px);
            position: absolute;
            top: 0;
            left: -35px;
            width: 150px;
            padding-left: 40px;
            padding-top: 6px;

            background-image: asset-url('ui/edit/add.png');
            &:hover {
              color: $light-blue;
            }
          }
        }
      }
    }
    .listing {
      display: block;
      width: 100%;
      padding: 14px 50px 25px 10px;
      margin-top: 8px;
      border: 1px solid black;

      &:hover {
        border-color: $light-blue;
      }
      &.section {
        display: flex;
        align-items: center;
        background-color: black;
        &:active {
          background-color: $dark-gray;
        }
        .section-title {
          font-weight: $medium;
        }
        .section-number, .section-title {
          color: white;
          margin-right: 10px;
        }
      }
      &.resource {
        background-color: white;
        display: flex;
        align-items: center;
        &:active {
          background-color: $light-gray;
        }
        .section-number, .section-title {
          color: black;
          margin-right: 10px;
        }
      }
      &.empty {
        border: 1px dashed $gray;
        text-align: center;
        color: $dark-gray;
        background: transparent;
        padding: 60px;
      }
      .section-number {
        // @include monospace($regular, 11px, 12px);
        // display: inline-block;
        margin-right: 6px;
        vertical-align: middle;
        font-size: 12px;
      }
      .section-title {
        @include sans-serif($bold, 14px, 14px);
        display: inline-block;
      }
      .resource-type, .resource-case, .resource-date {
        @include sans-serif($light, 14px, 14px);
        float: right;
        display: inline-block;
        padding: 0 10px;

        text-align: right;
        color: $black;
      }
      .resource-date {
        width: 40px;
      }
      .resource-type {
        border: 1px solid $light-blue;
        color: $light-blue;
        width: 65px;
        line-height: 14px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        align-self: flex-end;
        margin-left: auto;
        padding-top: 2px;
      }
    }
    .section-contents {
      border-left: 8px solid $light-blue;
      padding-left: 16px;
    }
  }
}

.case-text {
  .p-handle {
    @include size(0px, 10px);

    user-select: none;

    float: left;
    position: relative;
    top: 10px;

    &[data-elided-annotation] {
      display: none;
    }
  }
  .p-number {
    @include sans-serif($regular, 12px, 12px);

    position: absolute;
    right: 45px;

    color: $light-blue;
    text-align: right;
  }
}
