$black: #000;
$white: #FFF;

$dark-gray: #333;
$gray: #9B9B9B;
$light-gray: #F5F4EC;

$light-blue: #3E72D8;

$red: #F00;

$orange: #DB6F4C;
$light-orange: lighten($orange, 20%);

$yellow: #F8BA1C;

$green: #17AC10;
