p.Annotation-text, li.Annotation-text, div.Annotation-text
	{mso-style-name:Annotation-text;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:"Annotation-text Char";
	margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0.5in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:#2E74B5;
	mso-themecolor:accent6;
	mso-themeshade:191;
	font-style:italic;
	mso-bidi-font-style:normal;}
span.Annotation-textChar
	{mso-style-name:"Annotation-text Char";
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:Annotation-text;
	mso-ansi-font-size:14.0pt;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-hansi-font-family:Garamond;
	mso-bidi-font-family:Calibri;
	color:#2E74B5;
	mso-themecolor:accent6;
	mso-themeshade:191;
	font-style:italic;
	mso-bidi-font-style:normal;}
p.Case-header, li.Case-header, div.Case-header, center.Case-header
	{mso-style-name:Case-header;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-internal-header, li.Case-internal-header, div.Case-internal-header
	{mso-style-name:Case-internal-header;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	font-weight:bold;
	mso-themecolor:text1;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-blockquote, li.Case-blockquote, div.Case-blockquote
	{mso-style-name:Case-blockquote;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:12.0pt;
	margin-left:.5in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-lawyers, li.Case-lawyers, div.Case-lawyers
	{mso-style-name:Case-lawyers;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-history, li.Case-history, div.Case-history
	{mso-style-name:Case-history;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-judges, li.Case-judges, div.Case-judges
	{mso-style-name:Case-judges;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-author, li.Case-author, div.Case-author
	{mso-style-name:Case-author;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Item-text, li.Item-text, div.Item-text
	{mso-style-name:Item-text;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Case-internal-citation, li.Case-internal-citation, div.Case-internal-citation
	{mso-style-name:Case-internal-citation;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-ansi-font-size:14.0pt;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-style:italic;
	mso-bidi-font-style:normal;}
p.Footnote, li.Footnote, div.Footnote
	{mso-style-name:Footnote;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:11.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-bidi-font-family:Calibri;
	color:black;}
p.Playlist-title, li.Playlist-title, div.Playlist-title
	{mso-style-name:Playlist-title;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
    mso-style-link:"Playlist-title Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:36.0pt;
	mso-bidi-font-size:26.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:major-fareast;
	mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:major-bidi;
	color:black;
	mso-themecolor:text1;
	letter-spacing:.25pt;
	mso-font-kerning:14.0pt;}
span.Playlist-titleChar
	{mso-style-name:"Playlist-title Char";
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:Playlist-title;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	text-align:center;
	font-size:24.0pt;
	mso-bidi-font-size:18.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:major-fareast;
	mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:major-bidi;
	color:black;
	mso-themecolor:text1;
	mso-font-kerning:14.0pt;}
p.Item-title, li.Item-title, div.Item-title
	{mso-style-name:Item-title;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
    mso-style-link:"Item-title Char";
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	text-align:center;
	mso-pagination:widow-orphan;
	font-size:24.0pt;
	mso-bidi-font-size:26.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:major-fareast;
	mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:major-bidi;
	color:black;
	mso-themecolor:text1;
	letter-spacing:.25pt;
	mso-font-kerning:14.0pt;}
span.Item-titleChar
	{mso-style-name:"Item-title Char";
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-link:Item-title;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	text-align:center;
	font-size:24.0pt;
	mso-bidi-font-size:18.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:major-fareast;
	mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:major-bidi;
	color:black;
	mso-themecolor:text1;
	mso-font-kerning:14.0pt;}
p.Item-description, li.Item-description, div.Item-description
	{mso-style-name:Item-description;
	mso-style-priority:1;
	mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:Playlist-title;
	margin-top:0in;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	mso-add-space:auto;
	mso-pagination:widow-orphan;
	font-size:14.0pt;
	mso-bidi-font-size:26.0pt;
	font-family:Garamond;
	mso-fareast-font-family:Calibri;
	mso-fareast-theme-font:major-fareast;
	mso-bidi-font-family:Calibri;
	mso-bidi-theme-font:major-bidi;
	color:black;
	mso-themecolor:text1;
	letter-spacing:.25pt;
	mso-font-kerning:14.0pt;
	font-weight:bold;
	mso-bidi-font-weight:normal;}
