$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

@mixin load-font($family, $style, $weight, $path)
{
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url($path + '.eot');
    src: url($path + '.eot') format('embedded-opentype'),
         url($path + '.woff') format('woff'),
         url($path + '.ttf') format('ttf'),
         url($path + '.svg') format('svg');
}

@mixin set-font($family, $weight, $size, $height)
{
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@font-face {
  @include load-font($preferred-sans-serif, normal, $bold, '../fonts/AtlasGrotesk-Medium');
}

@font-face {
  @include load-font($preferred-sans-serif, normal, $regular, '../fonts/AtlasGrotesk-Regular');
}

@font-face {
  @include load-font($preferred-sans-serif, normal, $light, '../fonts/AtlasGrotesk-Light');
}


@font-face {
  @include load-font($preferred-serif, normal, $regular, '../fonts/ChronicleTextG3-Roman');
}

@font-face {
  font-family: $preferred-mono;
  font-style: normal;
  font-weight: $regular;
  src: url('../fonts/RobotoMono-Bold.ttf') format('ttf');
}

@mixin sans-serif($weight, $size, $height)
{
  @include set-font($font-family-sans-serif, $weight, $size, $height);
}

@mixin serif-headline($weight, $size, $height)
{
  @include set-font($font-family-headline, $weight, $size, $height);
}

@mixin serif-text($weight, $size, $height)
{
  @include set-font($font-family-serif, $weight, $size, $height);
}

@mixin monospace($weight, $size, $height)
{
  @include set-font($font-family-monospace, $weight, $size, $height);
}
