@import (multiple) "bootstrap/forms";

@input-height-base: 32px;
@input-color: @dark-gray;

label > .necessity {
  .sans-serif(@bold, 11px, 12px);
  color: @gray;
}

form > .form-error-message {
  .alert();
  .alert-danger();
}
