@import "bootstrap/buttons";
@import "bootstrap/navbar";

body {
  #main-header {
    @include make-row(2);
    background-color: white;
  }
  &.view-base-index #main-header > nav {
    margin-top: 35px;
  }
  #main-header > nav {
    @extend .container;
    margin-top: 18px;
    *:focus {
      @include generic-focus-styles;
    }
    > .content {
      @extend .navbar;
      display: flex;
      align-items: center;
      // @extend .navbar-default;
    }
    .brand {
      @extend .navbar-header;
      .logo {
        @extend .navbar-brand;

        width: 85px;
        margin-right: 10px;

        // The text is hidden and is replaced visually by an image
        background-image: asset-url('logo.png');
        background-size: initial;
        color: transparent;

        &:hover {
          @include generic-focus-styles;
        }
      }
    }
    a, button {
      @include btn();
      @include btn-white();
      padding: 9px 10px;
      margin-right: 5px;
      font-size: 16px;
      &.create-casebook {
        @extend .btn-default;
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .pull-left;
    }
    .user {
      margin-left: auto;
      .current-user {
        .verified {
          display: inline-block;
          width: 12px;
          height: 12px;
          line-height: 5px;

          background-image: asset-url('ui/verified.png');
          color: transparent;
        }
        .unverified {
          @extend .label;
          @extend .label-warning;
          display: inline-block;
          padding-top: 5px;
          margin-right: 10px;
          font-size: 100%;
        }
        .dropdown {
          display: inline-block;
          &.open {
            .caret{
              border-top: none;
              border-bottom: 4px solid #000000;
            }
          }
        }
        .user-links {
          border: none;
          margin-top: 8px;
          padding-top: 0;
          padding-bottom: 0;
          width: 100%;
        }
        .user-link {
          @include sans-serif($bold, 14px, 14px);
          padding: 12px 20px;
          text-align: right;
          width: 100%;
        }
      }
      .sign-up {
        @extend .btn;
        @extend .btn-default;
      }
      .sign-in {
        @extend .btn;
        @include btn-white();
      }
    }
  }
}
