@import "bootstrap/buttons";
@import "bootstrap/navbar";

body {
  > header {
    @include make-row(2);
    background-color: white;
  }
  &.view-base-index > header > nav {
    margin-top: 35px;
  }
  > header > nav {
    @extend .container;
    margin-top: 18px;
    *:focus {
      @include generic-focus-styles;
    }
    > .content {
      @extend .navbar;
      display: flex;
      align-items: center;
      // @extend .navbar-default;
    }
    .brand {
      @extend .navbar-header;
      .logo {
        @extend .navbar-brand;

        width: 85px;
        margin-right: 10px;

        // The text is hidden and is replaced visually by an image
        background-image: asset-url('logo.png');
        background-size: initial;
        color: transparent;

        &:hover {
          @include generic-focus-styles;
        }
      }
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      @extend .pull-left;
      > .create-casebook {
        padding: 9px 10px;
        font-size: 16px;
      }
      > a, div {
        @include btn();
        @include btn-white();
        &.create-casebook {
          @extend .btn-default;
        }
        // line-height: 40px;
      }
    }
    .user {
      // @extend .pull-right;
      margin-left: auto;
      .current-user {
        @include sans-serif($bold, 13px, 16px);
        color: black;
        position: relative;
        .name {
          font-size: 16px;
          display: inline-block;
          padding: 10px 4px 0 0px;
        }
        .portrait {
          display: inline-block;
        }
        .verified {
          display: inline-block;
          width: 12px;
          height: 12px;
          line-height: 5px;

          background-image: asset-url('ui/verified.png');
          color: transparent;
        }
        .unverified {
          @extend .label;
          @extend .label-warning;
          display: inline-block;
          padding-top: 5px;
          margin-right: 10px;
          font-size: 100%;
        }
        &:hover .user-links, &:focus .user-links {
          max-height: 180px;
          right: -20px;
          padding: 10px 20px 30px;
        }
        .user-links {
          @include transition(max-height 0.05s linear);
          position: absolute;
          top: 0;
          right: 0px;
          margin-top: 30px;
          padding-top: 10px;
          max-height: 0px;
          background-color: fade(white, 10%);
          overflow: hidden;
          z-index: 1;

          .user-link {
            @include sans-serif($bold, 14px, 14px);

            display: block;
            width: 100%;
            margin: 2px 0;
            padding: 10px 20px;

            text-align: right;
            color: black;
            background-color: $light-gray;
          }
          a.user-link {
            padding-top: 12px;
            padding-bottom: 6px;
          }
        }
      }
      .sign-up {
        @extend .btn;
        @extend .btn-default;
      }
      .sign-in {
        @extend .btn;
        @include btn-white();
      }
    }
  }
}
