// Place all the styles related to the iframe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$ic-color-neutral: #e6e6e6;
$ic-brand-primary: #0096db;
$ic-color-dark: #333;

#breadcrumb-navigation {
  font-size: 18px;
  margin-left: 10px;

  span:not(:first-child):not(:nth-child(2)):before {
    content: ' > ';
    vertical-align: sub;
  }

  >* {
    a {
      margin-top: 10px;
    }

    &:first-child {
      float: right;
      margin-right: 10px;
    }
  }

  a.external img {
    width: 30px;
  }
}

#single-resource {
  .leftcol {
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .main_playlist .listitem .item_desc {
    a {
      color: $ic-brand-primary;
    }
  }

  .ui-state-default {
    text-transform: none;
  }

  .popup.text-layers-popup {
    font-family: futura-pt, Verdana, Arial, Helvetica, sans-serif;

    ul, ol {
      margin: 0px;
    }
  }

  ol.dd-list li.dd-item {
    .dd-handle, div.wrapper {
      background-image: none;
      background-color: $ic-color-neutral;
    }

    &.media, .media {
      margin-top: 0px;
    }
  }
}

#collages_show {
  .leftcol {
    margin-top: 0px;
    width: 69%;

    #main_details {
      padding-top: 0px;

      >h1 {
        margin-top: 0px;
      }

      >h6 {
        margin-bottom: 0px;
      }
    }
  }

  .wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }

  .annotator-wrapper .annotation-indicator {
    width: 36%;
    right: -37%;
  }

  .annotation-indicator.annotation-indicator-link {
    a {
      word-break: break-all;
    }
  }

  .annotator-widget.annotator-listing {
    width: auto;
  }
}
