// Place all the styles related to the iframe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#breadcrumb-navigation {
  font-size: 18px;
}
