body {
  @extend .container-fluid;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main {
  margin-top: 20px;
}

main > section, main > header {
  @include make-row();
  > .content {
    @extend .container;
    > .layout {
      @include make-row();
    }
  }
}

section#flash {
  @include transition(height 0.25s linear);
  height: 0px;
  overflow: hidden;

  .flash-message {
    @extend .alert;

    margin: 5px 0;
    padding: 5px 12px;

    &.flash-success {
      @extend .alert-success;
    }
    &.flash-notice {
      @extend .alert-info;
    }
    &.flash-error {
      @extend .alert-danger;
    }
  }
}

.banner {
  height: 40px;

  text-align: center;
  &.casebook-draft {
    background-color: $yellow;
    a {
      @include link-color($black);
      border-bottom-color: $black;
      border-bottom-width: 1px;
    }
  }
  &.casebook-preview {
    background-color: $light-blue;
    color: white;

    .banner-inner a {
      @include link-color($white);
      border-bottom-color: $white;
      border-bottom-width: 1px;
    }
  }
  .banner-inner {
    @include sans-serif($bold, 14px, 14px);
    padding: 7px 100px;
    background-position: -50px center;
    a {
      @include link-color($black);
      border-bottom-color: $black;
      border-bottom-width: 1px;
    }
    &::before {
      display: inline-block;
      width: 30px;
      height: 33px;
      vertical-align: middle;

      content: "";
      background: asset-url('banner-draft-icon.png') no-repeat;
    }
  }
}

.narrow-inner {
  @include make-md-column(9.5);
  @include make-md-column-offset(1.25);
}
