/* Mobile Styles */
@media only screen and (min-width: 240px) and (max-width: 655px) {
  .wrapper {
    width: 98%;
    max-width: auto;
  }
  .singleitem,
  .right_panel,
  #results,
  .playlist_edit_mode .singleitem,
  .playlist_edit_mode #edit_item,
  .playlist_edit_mode .expanded_singleitem,
  .expanded_singleitem {
    width: 100%;
  }
  #edit_item.fixed_position {
    position: static;
  }
  .right_panel_close {
    display: none;
  }
  #search {
    padding-top: 0px;
    position: static;
    float: none;
  }
  #search input[type=text] {
    width: 100px;
  }
  #logo {
    width: 100%;
    text-align: center;
  }
  #logo a {
    float: none;
    display: inline-block;
  }
  #fixed_links {
    visibility: hidden;
  }

  /* Index */
  #base_index #home_index #welcome2 .col-sm-6 {
    width: auto;
    padding: 2em;
  }
  #base_index #home_index #welcome3 .col-xs-4 {
    width: 18.3333%;
    padding: 0px 6%;
  }
  #base_index #home_index #welcome1 h1,
  #base_index #home_index #welcome2 h1,
  #base_index #home_index #welcome3 h1,
  #base_index #home_index #welcome4 h1 {
    line-height: 1.1em;
  }

  #quickbar_left #quickbar_title,
  #quickbar_left #quickbar_author {
    display: block;
  }
  #quickbar_left #quickbar_author {
    padding-bottom: 3px;
  }
  #quickbar_left #quickbar_author span {
    display: none;
  }
  #quickbar_left .quickbar_extra {
    display: none;
  }
  .annotator-wrapper .annotation-indicator {
    right: auto;
    left: 40px;
  }
}
