.popup, .playlist .icon-type { display: none; }
.page-break { page-break-after: always; }

#print-options { display: none; }

.collage-content .paragraph-numbering {
  /* left: -35px; */
}
.collage-content {
  padding-left: 35px;
}
.wrapper {
  max-width: 680px !important;
  width: 680px !important;
  margin-left: 50px !important;
}
