.popup, .playlist .icon-type { display: none; }
.page-break { page-break-after: always; }
#print-options { display: none; }
.collage-content .paragraph-numbering {
  /* left: -35px; */
}
.collage-content {
  padding-left: 35px;
}
.wrapper {
  /* These settings work in conjunction with wkhtmltopdf export parameters. */
  /* TODO: Can we get rid of these? Do they still need !important? */
/*  //turning these off to clarify phantomjs styling issues
  max-width: 7.5in !important;
  width: 7.5in !important;
  margin-left: 0px !important;
  padding-bottom: 0px;
  */
}

