main > section.search-results {
  background-color: $light-gray;
  .content {
    padding: 20px 40px;
    margin-top: 25px;

    background-color: $white;
    border: 1px solid $dark-gray;
  }
}

header.advanced-search {
  padding-bottom: 10px;
  form {
    select {
      width: 100px;
    }
  }
}

.narrow-inner {
  @include make-md-column(7.5);
  float: none !important;
  margin: auto;
}

.search-options {
  display: flex;
  align-items: center;
  justify-content: center;

  .form-group {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-grow: 1;
    // overflow: hidden;
    // background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right;

    label {
      padding-right: 8px;
      margin: 0;
    }

    select {
      height: 75px;
      width: 125px;
      box-shadow: none;
      border: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      // background: transparent;
      // color: #000;
    }
  }
}

.results-container {
  padding: 0 50px 0 50px;
}

.type-tabs {
  @include make-row();
  margin-bottom: 20px;

  .type-tab {
    @include make-md-column(4);
    @include sans-serif($regular, 18px, 18px);
    padding-bottom: 10px;
    text-align: center;
    color: $black;

    &.active {
      border-bottom: 4px solid $light-blue;
      color: $light-blue;
      font-weight: bold;
    }
  }
}

.results-list {
  .results-entry {
    @include make-row();
    padding: 10px 0;
    border-top: 1px solid $dark-gray;
    display: flex;
    align-items: center;

    .title {
      @include make-md-column(9);
      font-weight: bold;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      float: left;
    }
    .owner, .casebook-count {
      @include make-md-column(2);
    }
    .owner {
      font-size: 13px;
    }
    .date, .profile-image {
      @include make-md-column(1);
    }
  }
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}