main > section.search-results {
  background-color: $light-gray;

  .content {
    padding: 20px 40px;
    margin-top: 25px;
    background-color: $white;
    border: 1px solid $dark-gray;
  }
}

header.advanced-search {
  padding-top: $padding-base-vertical * 2 ;
  padding-bottom: $padding-base-vertical * 2;
  form {
    select {
      width: 100px;
    }
  }
}

.narrow-inner {
  @include make-md-column(7.5);
  float: none !important;
  margin: auto;
}

.search-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: $container-md - ($container-md * 0.1);
  margin: auto;
  margin-top: 20px;

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;

    label {
      padding-right: 8px;
      margin: 0;
    }

    select {
      text-align-last: center;
      text-align: center;
      flex-grow: 1;
      font-size: 16px;
      box-shadow: none;
      border: none;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
    }

    span.select2-container, span.select2-container-default {
      width: 100% !important; //select2-bootstrap theme sets width as inline style tag
    }
  }
}

.results-container {
  padding: 0 50px 0 50px;
}

.type-tabs {
  @include make-row();
  margin-bottom: 20px;

  .type-tab {
    @include make-md-column(4);
    @include sans-serif($regular, 18px, 18px);
    padding-bottom: 10px;
    text-align: center;
    color: $black;

    &.active {
      border-bottom: 4px solid $light-blue;
      color: $light-blue;
      font-weight: bold;
    }
  }
}

.results-list {
  .results-entry {
    @include make-row();
    padding: 10px 0;
    border-top: 1px solid $dark-gray;
    display: flex;
    align-items: center;

    .title {
      @include make-md-column(7.5);
      font-weight: bold;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      float: left;
    }
    .owner, .casebook-count {
      @include make-md-column(3);
    }
    .owner {
      font-size: 13px;
      padding: 0;

      .verified {
        @include square(13px);
        display: inline-block;
        vertical-align: middle;
        content: '';
        background: asset-url('ui/verified.png') no-repeat;
      }
    }
    .date, .profile-image {
      @include make-md-column(1);
    }

    .date {
      flex-grow: 1;
      text-align: right;
    }

    .citation {
      text-align: right;
    }
  }
}

.no-results {
  text-align: center;
}
