main > section.search-results {
  background-color: $light-gray;
  
  .content {
    padding: 20px 40px;
    margin-top: 25px;
    background-color: $white;
    border: 1px solid $dark-gray;
  }
}

header.advanced-search {
  padding-bottom: 10px;
  form {
    select {
      width: 100px;
    }
  }
}

.narrow-inner {
  @include make-md-column(7.5);
  float: none !important;
  margin: auto;
}

.search-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: $container-md - ($container-md * 0.1);
  margin: auto;
  margin-top: 20px;

  .filter-label {
    margin: 0;
  }

  .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;

    label {
      padding-right: 8px;
      margin: 0;
    }

    select {
      text-align-last: center;
      text-align: center;
      flex-grow: 1;
      font-size: 16px;
      box-shadow: none;
      border: none;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;

      /* reset */
      margin: 0;      
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}

.results-container {
  padding: 0 50px 0 50px;
}

.type-tabs {
  @include make-row();
  margin-bottom: 20px;

  .type-tab {
    @include make-md-column(4);
    @include sans-serif($regular, 18px, 18px);
    padding-bottom: 10px;
    text-align: center;
    color: $black;

    &.active {
      border-bottom: 4px solid $light-blue;
      color: $light-blue;
      font-weight: bold;
    }
  }
}

.results-list {
  .results-entry {
    @include make-row();
    padding: 10px 0;
    border-top: 1px solid $dark-gray;
    display: flex;
    align-items: center;

    .title {
      @include make-md-column(8.5);
      font-weight: bold;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      float: left;
    }
    .owner, .casebook-count {
      @include make-md-column(2);
    }
    .owner {
      font-size: 13px;
    }
    .date, .profile-image {
      @include make-md-column(1);
    }

    .date {
      flex-grow: 1;
      text-align: right;
    }

    .citation {
      text-align: right;
    }
  }
}

.no-results {
  text-align: center;   
}

.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 8px,
    5px 8px,
    1px 1.5em;
  background-repeat: no-repeat;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
