.toggle {
  display: inline-block;
  margin-left: 10px;
  float: right;
}
.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  direction: ltr;
}
.toggle-slide .toggle-on,
.toggle-slide .toggle-off,
.toggle-slide .toggle-blob {
  float: left;
}
.toggle-slide .toggle-blob {
  position: relative;
  z-index: 99;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.toggle-dark .toggle-slide {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #242529, 0 1px 0 1px #666;
          box-shadow: 0 0 0 1px #242529, 0 1px 0 1px #666;
}
.toggle-dark .toggle-on,
.toggle-dark .toggle-off,
.toggle-dark .toggle-blob {
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}
.toggle-dark .toggle-on,
.toggle-dark .toggle-select .toggle-inner .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a70be), to(#31a2e1));
  background: -webkit-linear-gradient(top, #1a70be 0%, #31a2e1 100%);
  background: linear-gradient(top, #1a70be 0%, #31a2e1 100%);
}
.toggle-dark .toggle-off,
.toggle-dark .toggle-select .toggle-on {
  background: -webkit-gradient(linear, left top, left bottom, from(#242529), to(#34363b));
  background: -webkit-linear-gradient(top, #242529 0%, #34363b 100%);
  background: linear-gradient(top, #242529 0%, #34363b 100%);
}
.toggle-dark .toggle-blob {
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f5f5f5));
  background: -webkit-linear-gradient(top, #cfcfcf 0%, #f5f5f5 100%);
  background: linear-gradient(top, #cfcfcf 0%, #f5f5f5 100%);
  -webkit-box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 1px #888, inset 0 0 0 2px white;
}
.toggle-dark .toggle-blob:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#dadada));
  background: -webkit-linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  background: linear-gradient(top, #c0c0c0 0%, #dadada 100%);
  -webkit-box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
          box-shadow: inset 0 0 0 1px #888,inset 0 0 0 2px #ddd;
}
.toggle-light .toggle-slide {
  border-radius: 9999px;
  -webkit-box-shadow: 0 0 0 1px #999;
          box-shadow: 0 0 0 1px #999;
}
.toggle-light .toggle-on,
.toggle-light .toggle-off {
  font-size: 10px;
  font-weight: 500;
}
.toggle-light .toggle-on,
.toggle-light .toggle-select .toggle-inner .active {
  background: #45a31f;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.8);
}
.toggle-light .toggle-off,
.toggle-light .toggle-select .toggle-on {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f5f5f5));
  background: -webkit-linear-gradient(#cfcfcf, #f5f5f5);
  background: linear-gradient(#cfcfcf, #f5f5f5);
}
.toggle-light .toggle-blob {
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfcfcf));
  background: -webkit-linear-gradient(#f5f5f5, #cfcfcf);
  background: linear-gradient(#f5f5f5, #cfcfcf);
  -webkit-box-shadow: 1px 1px 2px #888;
          box-shadow: 1px 1px 2px #888;
}
.toggle-light .toggle-blob:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f9f9f9));
  background: -webkit-linear-gradient(#e4e4e4, #f9f9f9);
  background: linear-gradient(#e4e4e4, #f9f9f9);
}
.toggle-inner .toggle-on.active {
  text-indent: 4px;
}
.toggle-inner .toggle-off.active {
  text-indent: 11px;
}
