#users_show {
  #notice {
    margin: 20px 0px 0px 0px;
  }
  #results {
    #bookshelf_panel {
      float: left;
      h3.title {
        width: 60%;
        float: left;
        font-size: 20px;
      }
      li.listitem h3 .icon-delete {
        visibility: visible;
        position: relative;
        top: 3px;
      }
    }
  }
  #results .special_panel {
    margin-top: 10px;
    width: 100%;
    float: none;
  }
  #advanced-search-content h3 {
    position: relative;
  }
  #advanced-search-content a.icon-edit-large {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  #results .panel .header {
    background: #d5d5d5;
    padding: 20px 10px 2px 10px;
  }
  #results .panel .header h3 {
    font-weight: normal;
    padding: 0px;
    display: inline-block;
    font-size: 21pt;
  }
  #results .panel .header span {
    margin-left: 3px;
  }
  #results .clear {
    clear: both;
  }
  
  ul.user_list li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  ul.user_list li a.item {
    text-decoration: none;
    font-weight: bold;
  }
  
  #results #bookmarks_panel .bookmark-action {
    display: none;
  }
  table#user_search {
    width: 100%;
    margin: 10px 0px;
  }
  #results .special_sort {
    margin: 0px 0px 10px 0px;
  }
  #user_keywords {
    width: 75px;
  }
  #results #user_search_filter .jsb {
    width: 86px !important;
  }
  #results #user_search_filter .jsb .jsb-moreButton {
    width: 86px;
  }
  table#user_search td#user_search_input,
  table#user_search td#user_search_filter {
    background: #FFF;
  }
  table#user_search td#user_search_filter {
    width: 100px;
  }
  #search_user_content {
    font-family: 'futura-pt', Verdana, Arial, Helvetica, sans-serif; 
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background: #036290;
    text-decoration: none;
    display: inline-block;
    padding: 3px 7px 4px;
    border: none;
    font-size: 14px;
  }
  #results .pagination {
    position: static;
    float: right;
    margin-bottom: 10px;
    clear: right;
  }
  .stats_panel .error {
    margin-bottom: 10px;
  }
  #user_tz_name, #user_description {
    width: 175px;
    margin-right: 50px;
  }
  .stats_panel p {
    padding: 1px 10px;
  }
  #user_updated {
    padding: 10px;
    color: red;
    font-weight: bold;
  }
}
