.view-user_sessions-new {
  background-color: $white;
}

header.users {
  .verified {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 8px;

    background-image: url('../images/ui/verified-large.png');
    color: transparent;
  }
}

section.sign-up, section.sign-in, section.reset-password {
  .form {
    > form {
      background-color: $light-gray;
      padding: 20px;
    }
  }
  .pitch,
  .help {
    @include make-md-column(5.5);
  }
  .verified {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 5px;

    background-image: url('../images/ui/verified.png');
    color: transparent;
  }
}

section.profile {
  > .content {
    background-color: $light-gray;
  }
}

section.reset-password {
  .layout {
    h3 {
      margin-left: 15px;
    }
  }
}
.verified-professor {
  font-weight: bold;
  margin: 20px 0;
}

.user_professor_verification_requested, .user_professor_verification_requested {
  .help-block {
    display: none;
  }

  label {
    font-weight: bold;
  }

  .necessity {
    display: none;
  }

  .disabled {
    color: grey;
  }
}
