// bootstrap grid overrides
$container-md: 869px;
$navbar-breakpoint: (480px + 72px); /* = $screen-xs and then space as needed */

// colors
$black: #2a2a2a;
$white: #FFF;
$dark-gray: #333;
$gray: #9B9B9B;
$light-gray: #F5F4EC;
$light-blue: #3E72D8;
$red: #F00;
$orange: #DB6F4C;
$light-orange: lighten($orange, 20%);
$yellow: #F8BA1C;
$light-yellow: lighten($yellow, 40%);
$green: #17AC10;

$highlight: #f8e71c;

// navbar
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-border-radius: 0;
$navbar-height: 35px;
$navbar-margin-bottom: 0;
$navbar-padding-vertical: 7px;
$navbar-padding-horizontal: 0px;

// form control
$input-height-base: 32px;
$input-color: $dark-gray;
$input-border-radius: 0px;
$input-border: $black;

// buttons
$btn-border-radius-base: 0;
$btn-default-color: $white;
$btn-default-bg: $light-blue;
$btn-primary-color: $white;
$btn-primary-bg: $green;
$padding-base-vertical: 12px;
$padding-base-horizontal: 17px;

// fonts
$preferred-sans-serif: 'Atlas Grotesk';
$font-family-sans-serif: $preferred-sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$preferred-serif: 'Chronicle Text G3';
$font-family-serif: $preferred-serif, Georgia, 'Times New Roman', Times, serif;

$preferred-headline: 'Lora';
$font-family-headline: $preferred-headline, "Garamond", "Palatino Linotype", "Book Antiqua", Palatino, serif;

$preferred-mono: 'Roboto Mono';
$font-family-monospace: $preferred-mono, Menlo, Monaco, Consolas, "Courier New", monospace;


// TODO - Bootstrap 4 cleanup
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
