@import 'font-vars-and-mixins';

.case-header {
    background-color: $white;
    padding: 24px 32px;
    @include serif-text($bold, 14px, 18px);
    line-height:unset;
    .title,
    .citation,
    .decisiondate,
    .docketnumber,
    .court {
        text-align:center;
        letter-spacing:1px;
        padding: 4px;
    }
    .court {
        font-size:24px;
    }
    .citation,
    .decisiondate,
    .docketnumber {
        font-size: 18px;
    }
    .title {
        @include serif-text($bold, 36px, 40px);
    }
}

.case-text {
    .parties,
    .decisiondate,
    .docketnumber,
    .citation,
    .syllabus,
    .synopsis,
    .court {
        display:none;
    }
}
