@import 'font-vars-and-mixins';

.case-header {
    background-color: $white;
    padding: 24px 32px 10px 32px;
    @include serif-text($bold, 14px, 18px);
    line-height:unset;
    .title,
    .citation,
    .decisiondate,
    .docketnumber,
    .court {
        text-align:center;
    }
    .citation,
    .decisiondate,
    .docketnumber,
    .court {
        letter-spacing: 1px;
        padding: 4px;
    }
    .court {
        font-size:24px;
    }
    .citation,
    .decisiondate,
    .docketnumber {
        font-size: 18px;
    }
    .title {
        @include serif-text($bold, 27px, 33px);
        padding: 20px 4px 10px 4px;
    }
}

.case-text {
    .parties,
    .decisiondate,
    .docketnumber,
    .citation,
    .syllabus,
    .synopsis,
    .court {
        display:none;
    }
}
