@import 'content/dragging';
@import 'content/annotations';
@import 'content/modals';

main > .casebook .casebook-inner {
  @include centered-md-column(9);
  /*
    The following line is CSS voodoo.
    It allows the paragraph numbers to be aligned along the left border.
    For how this works, see
    https://meyerweb.com/eric/thoughts/2011/09/12/un-fixing-fixed-elements-with-css-transforms/
  */
  transform:rotate(0deg)
}

main > section.casebook {
  background-color: $light-gray;
  padding-bottom: 20px;

  .top-strip {
    margin-top: 1px;
    height: 20px;
  }
  &.casebook-draft .top-strip {
    background-color: $yellow;
  }
  &.casebook-public .top-strip {
    background-color: $light-blue;
  }
  &.casebook-archived .top-strip {
      background-color: grey;
  }
  &.casebook-draft .subtitle {
    color: $yellow;
  }
}

main > header.casebook {
  padding: 20px 40px 0;

  .tabs {
    display: flex;

    @media (max-width: $screen-xs) {
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;
    }

    .tab {
      @include btn();
      @include button-variant($black, $white, $light-gray);
      height: 38px;
      border: 2px solid $light-gray;
      border-bottom-width: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 0;
      flex-basis: 137px;

      @media (max-width: $screen-xs) {
        flex-basis: 50px;
      }
      &.disabled {
        background-color: $light-gray;
      }
      &:focus {
        @include generic-focus-styles;
        z-index: 999;
      }
    }
    .tab.active {
      color: $white;
      background-color: $light-blue;
      border: none;
    }
  }
  &.casebook-draft {
    .tabs .tab.active {
      color: $black;
      background-color: $yellow;
      border-color: $yellow;
    }
  }
  &.casebook-archived {
      .tabs .tab.active {
          color: white;
          background-color: grey;
          border-color: black;
      }
  }
}

.casebook-actions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 24px 0 12px;
  @media (min-width: $screen-xs) {
    max-height: 250px;
  }
  @media (min-width: $screen-sm) {
    max-height: none;
    justify-content: space-evenly;
    flex-direction: row;
  }
  @media (min-width: $screen-md) {
    display: block;
    position: absolute;
    right: percentage((-1.5 / $grid-columns));
    top: -40px;
    width: 12.5%;
    margin: 0;
  }

  a.action {
    padding-top: 16px !important;
  }
  button.action, input.action, a.action {
    @include sans-serif($bold, 14px, 14px);
    @include transition(background-size 0.05s linear, background-position 0.05s linear);
    display: block;
    height: 60px;
    padding: 3px 0 0 60px;
    position: relative;
    border: none;
    line-height: 30px;
    white-space: nowrap;
    text-align: left;
    margin-right: 15px;

    color: $light-blue;

    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 3px center;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline !important;
      color: $light-blue;
    }
    &:focus {
      @include generic-focus-styles;
    }
    &:hover {
      background-size: 55px;
      background-position: 0 center;
    }
    &:active {
      background-size: 48px;
      background-position: 4px center;
    }
    &.add-resource {
      background-image: url('~static/images/ui/casebook/add-material.svg');
    }
    &.add-section {
      background-image: url('~static/images/ui/casebook/add-section.svg');
    }
    &.publish {
      background-image: url('~static/images/ui/casebook/publish.svg');
    }
    &.clone-casebook {
      background-image: url('~static/images/ui/casebook/clone.svg');
      border: none;
    }
    &.export {
      background-image: url('~static/images/ui/casebook/export.svg');
    }
    &.more, &.preview {
      background-image: url('~static/images/ui/casebook/preview.svg');
    }
    &.edit {
      background-image: url('~static/images/ui/casebook/edit-icon.svg');
    }
    &.save {
      background-image: url('~static/images/ui/casebook/save-icon.svg');
    }
    &.cancel {
      background-image: url('~static/images/ui/casebook/cancel-icon.svg');
    }
  }
}

form.edit_content_resource, form.edit_content_section, form.edit_content_casebook {
  label {
    @extend .sr-only;
  }
}

.casebook-inner {
  header.content{
    padding: 24px 32px;

    .form-control{
      font-size: 15px;
    }
  }
  header.casebooks-search {
    margin-bottom: 30px;
  }
  header.inner, section.resource-search {
    padding: 20px 40px;
  }
  section.no-headnote {
    height: 10px;
  }
  header.casebook-header {
    margin-bottom: 2px;
    padding: 20px 40px;
    padding: 20px 40px 20px 40px;
    background-color: $white;

    .casebook-title {
        @include sans-serif($bold, 14px, 18px);
    }
  }
  header.content {
    background-color: $white;
    h1.title {
      margin: 0px;
      @media (max-width: $screen-xs) {
        font-size: 18px;
      }
      font-size: 32px;
      .case {
        @include serif-text($regular, 43px, 51px);
        .title-metadata {
          font-weight: bold;
          color: $light-blue;
          margin-bottom: 15px;
          @include sans-serif($regular, 12px, 12px);
        }
        .resource-type {
          border: 0.5px solid $light-blue;
          padding: 4px 20px;
          margin-right: 10px;
        }
        .year {
          @include sans-serif($regular, 22px, 12px);
        }
      }

    }

    .subtitle {
      color: $light-blue;
      font-weight: 200;
      margin: 12px 2px;
      font-size: 24px;
      @media (max-width: $screen-xs) {
        font-size: 18px;
      }
    }

    .breadcrumbs {
      font-size: 16px;
      font-weight: bold;
      color: $dark-gray;

      .breadcrumb {
        display: inline-block;
        line-height: 20px;
        color: $light-blue;
        margin-left: 4px;
        padding: 4px 8px;
        line-height: 20px;
        border: none;
        &:focus {
          @include generic-focus-styles;
        }
        &.active {
          color: $dark-gray;
          font-weight: bold;
          background-color: transparent !important;
        }
      }
      span.breadcrumb {
        margin-left: 2px;
      }
      .separator {
        display: inline-block;
        width: 0;
        padding: 0;
        margin-left: -12px;
        pointer-events: none;
      }
    }
  }

  section.headnote {
    margin: 24px 30px 30px 30px;
    @include sans-serif($regular, 18px, 31px);
  }

  section.headnote {
    h5 {
      font-size: 14px;
      margin: 30px 0px 15px 0px;
    }
    h3 {
      @include serif-text($medium, 24px, 27px);
      margin: 10px 0;
      color: $orange;
    }
    margin-bottom: 24px;
  }
  section.resource-search {
    .tabs .tab {
      @extend .btn;
      @include button-variant($black, $white, $white);
      &.active {
        border: 1px solid black;
        border-bottom-color: transparent;
      }
    }
  }
  input#playlist_name {
    @include sans-serif($medium, 36px, 36px);
    padding: 32px 20px 25px;
  }

  .authorship {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;

    .collaborators {
      display: inline-block;
      .add-collaborator {
        @include square(20px);
        display: inline-block;
        vertical-align: middle;

        color: transparent;
        background-image: url('~static/images/add-icon.png');
        background-size: auto;
      }
      .user {
        @include sans-serif($medium, 13px, 13px);
        font-weight: bold;
        display: inline-block;
        &.verified::before {
          @include square(13px);
          display: inline-block;
          vertical-align: middle;
          content: '';
          background: url('~static/images/ui/verified.png') no-repeat;
        }
      }
    }

    .root-attribution {
      font-size: 13px;
      display: inline-block;

      a:focus {
        @include generic-focus-styles;
      }
    }
  }

  /* TODO: this block is duplicated in TheResource.vue; factor out at some point */
  .link-resource {
    position: relative;
    margin-bottom: 24px;
    padding: 40px;
    background-color: $white;
  }

  .table-of-contents, .search-results {
    .listing-wrapper {
      position: relative;

      .actions {
          margin-left: 1rem;
          margin-top: -8px;
        > form > input[type=submit], button {
          // @include square(50px);
            display: block;
          margin: 4px 0;
          color: transparent;
          background-color: transparent;
          background-position: 0 center;
          background-repeat: no-repeat;
          background-size: auto;
          &.action-delete {
            background-image: url('~static/images/ui/edit/elide.png');
            height: 36px;
            width: 36px;
            border-width: 0px;
            background-color: transparent;
          }
          &.action-add-resource {
            @include sans-serif($bold, 14px, 14px);
            position: absolute;
            top: 0;
            left: -35px;
            width: 150px;
            padding-left: 40px;
            padding-top: 6px;

            background-image: url('~static/images/ui/edit/add.png');
            &:hover {
              color: $light-blue;
            }
          }
        }
      }
    }
    .listing {
      display: block;
      width: 100%;
      padding: 12px 16px;
      margin-top: 6px;
      border: 1px solid $black;

      &.section {
        display: flex;
        flex-direction: column;
        align-items: left;
        background-color: $black;

        @media (max-width: $screen-xs) {
          flex-direction: row;
        }

        .section-title {
          font-weight: $medium;
        }
        .section-number, .section-title {
          color: $white;
          margin-right: 10px;
        }
      }
      &.resource {
        background-color: $white;
        display: grid;
        grid-template-columns: auto 1fr 15%;

        @media (max-width: $screen-xs) {
          .resource-container {
            margin: 0 9px;
          }
        }

        .section-title {
          display: flex;
          align-items: center;
        }

        .case-section-title {
          margin-bottom: 4px;
        }

        .section-number, .section-title {
          color: $black;
        }

        .case-metadata-container {
          display: flex;
          align-items: center;

          @media (max-width: $screen-xxs) {
            flex-direction: column;
            align-items: flex-start;
          }

          .resource-case:empty {
            display: none;
          }

          .resource-case {
            margin-right: 9px;
          }
        }

        .resource-type-container {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          @media (max-width: $screen-xs) {
            margin-right: -4px;

            .resource-type {
              padding: 2px 7px;
            }
          }
        }
      }
      &.empty {
        border: 1px dashed $gray;
        text-align: center;
        color: $dark-gray;
        background: transparent;
        padding: 60px;
      }
      &.section:hover, &.section:focus, &.resource:hover, &.resource:focus {
        background-color: $light-blue;
        border-color: $light-blue;
        * {
          color: $white;
          border-color: $white;
        }
      }
      @media (max-width: $screen-xs) {
        &.section, &.resource {
          div {
            margin: 4px 0;
            padding-left: 0;
            text-align: left;
          }
        }
      }
      @media (min-width: $screen-xs) {
        &.section {
          flex-direction: row;
          align-items: center;
        }
      }

      .section-number {
        font-size: 12px;
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
      .section-title {
        @include sans-serif($bold, 14px, 14px);
        display: inline-block;
      }
      .resource-type, .resource-case, .resource-date {
        @include sans-serif($light, 14px, 14px);
        display: inline-block;

        text-align: left;
        color: $black;
      }

      .resource-type {
        border: 1px solid $light-blue;
        color: $light-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        height: 20px;
        width: 72px;
      }
    }
    .section-contents {
      border-left: 8px solid $light-blue;
      padding-left: 16px;
    }
    .editable {
      border-left: 8px solid $yellow;
      padding-left: 16px;
    }
  }
}

.casebook-draft .casebook-inner .table-of-contents, .casebook-draft .casebook-inner .search-results{
  .listing {
    padding-right: 42px;
  }
  .section, .resource {
    &:hover, &:focus {
      background-color: $yellow;
      border-color: $yellow;
      * {
        color: $black;
        border-color: $black;
      }
    }
  }
}

#credits {
    section.credits {
        background-color:$white;
        border-top: 1px solid $light-gray;
        padding: 2rem 2rem 4rem 2rem;
        .author-rider {
            margin-top: 1rem;
        }
        .author-list {
            display:inline;
            list-style: none;
            padding-left: 2rem;

            li {
                display:inline;
                white-space: nowrap;
                &:after {
                    content: ","
                }
                &:last-child:after {
                    content: ""
                }
            }
            li.verified::before {
                @include square(13px);
                display: inline-block;
                vertical-align: middle;
                content: '';
                background: url('~static/images/ui/verified.png') no-repeat;
            }

            display: inline;
            padding-left:4px;


            ul {
                display:inline;
                list-style:none;
                padding:0;
            }
            .immediate-author-list {
                padding-right: 0.5rem;
            }
        }

        ul.casebook-list {
            list-style: none;
            display:flex;
            flex-direction: column;
            padding: 8px;
            >li {
                padding-bottom:3rem;
                border-bottom: 1px solid black;
                margin-bottom:3rem;
                &:last-child {
                    border-bottom:none;
                    padding-bottom:0rem;
                    margin-bottom: 0;
                }
            }
            .casebook-credit-header {
                padding: 1rem 1rem 0 1rem;

            }
            .cloned-content-list {
                list-style:none;
                padding-left:16px;
                display:flex;
                flex-direction:column;
                flex-wrap: wrap;
                li {
                    padding-top:6px;
                    @for $depth from 1 to 16 {
                        &.nesting-depth-#{$depth} {
                            padding-left: #{(2*$depth)}rem
                        }
                    }
                    .section-title {
                        padding-right:0.5rem;
                    }
                    .og-node-link {
                        &:before {
                            content: "(";
                        }
                        &:after {
                            content: ")"
                        }
                    }
                }
            }

        }
    }
}

ul.related-content-list {
    list-style: none;
}

ul.settings-section {
    list-style: none;
    background-color: white;
    ul.transition-state {
        list-style: none;
        button {
            padding: 8px 10px;
            &.warn-button {
                background-color: red;
                color: white;
                font-weight: bold;
            }
        }
        li {
            margin-bottom: 1rem;
            display:table;
            div {
                display: table-cell;
                padding: 1rem;
                vertical-align: middle;
            }
        }
    }

    > li {
        padding: 20px;
        border-bottom: 1px solid black;
        &:last-child {
            border-bottom: none;
        }
    }
}


.collaborator-list {
    padding: 4px;
    table {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        tr {
            td,th {
                padding:6px;
                &.centered {
                    text-align:center;
                }
            }
        }
    }
}

.form-control.force-min-width {
    min-width: 600px;
}
.autocomplete-result-list {
    list-style: none;
    border: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 0px solid transparent;
    background-color: white;
    padding-left: 0px;
    li {
        padding: 8px;
        &:hover {
            background-color: light-blue;
        }
        &.focused {
            padding: 4px;
            border: 4px solid #66afe9;;
        }
        &:not(:last-child) {
            border-bottom: 1px solid grey;
            &.focused {
                border-bottom: 4px solid #66afe9;
            }
        }
    }
}
