.casebook-header {
    .title,
    .citation,
    .decisiondate,
    .docketnumber,
    .court {
        text-align:center;
        letter-spacing:1px;
        padding: 4px;
    }
    .court {
        font-size:24px;
    }
    .citation,
    .decisiondate,
    .docketnumber {
        font-size: 18px;
    }
}

.case-text {
    .decisiondate,
    .docketnumber,
    .citation,
    .syllabus,
    .synopsis,
    .court {
        display:none;
    }
}
