#credits section.credits {
  background-color: $white;
  border-top: 1px solid $light-gray;
  padding: 0 30px 4rem 30px;
  header {

    h3 {
        @include sans-serif($bold, 20px, 24px);
        color: $dark-gray;
    }
  }

  .author-list {
    display: inline;
    list-style: none;
    padding-left: 2rem;
    display: inline;
    padding-left: 0;
    
    .user {
      font-weight: bold;
    }
    ul {
      list-style: none;
      padding: 0;
      line-height: 1.8em;
      li {
        @include verified-professor();

      }
    }
    .immediate-author-list {
      padding-right: 0.5rem;
      columns: 2;
    }
  }

  ul.casebook-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 0 4rem 0;

    .casebook-credit-header {
      padding: 1rem 0;
    }
    .cloned-content-list {
      list-style: none;
      padding-left: 0;
      columns: 2;
      li {
        padding-top: 6px;
        @for $depth from 1 to 16 {
          &.nesting-depth-#{$depth} {
            padding-left: #{(2 * $depth)}rem;
          }
        }
        .section-title {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
