body {
  @extend .container-fluid;
  background-color: $light-gray;
  .modal-open {
    overflow: hidden;
    position: fixed;
  }
}

* {
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#non-modal {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &[aria-hidden="true"] {
    overflow: hidden;
    max-height: 100vh;
  }
}

main {
  flex: 1;
}

main > section, main > header {
  @include make-row();
  background-color: $white;
  > .content {
    @extend .container;
    > .layout {
      @include make-row();
    }
  }
}

section#flash {
  @include transition(height 0.25s linear);
  height: auto;
  overflow: hidden;

  .flash-message {
    @extend .alert;

    margin: 5px 0;
    padding: 5px 12px;

    &.flash-success {
      @extend .alert-success;
    }
    &.flash-notice {
      @extend .alert-info;
    }
    &.flash-error {
      @extend .alert-danger;
    }
  }
}

.banner {
  @include make-row();
  min-height: 40px;

  text-align: center;
  &.casebook-draft {
    background-color: $yellow;
    a {
      @include link-color($black);
      border-bottom-color: $black;
      border-bottom-width: 1px;
    }
  }
  &.casebook-preview {
    background-color: $light-blue;
    color: white;

    .banner-inner a {
      @include link-color($white);
      border-bottom-color: $white;
      border-bottom-width: 1px;
    }
  }
  &.casebook-archived {
      background-color: grey;
      color: white;
      a {
          background-color:white;
          padding:2px;
          padding-top: 4px;
      }

      .non-edit-inner-banner {
          @include sans-serif($bold, 14px, 14px);
          padding: 1.5rem;
          vertical-align:middle;
      }
      .banner-inner a {
          @include link-color($white);
          border-bottom-color: $white;
          border-bottom-width: 1px;
      }
  }
  .banner-inner {
    @include sans-serif($bold, 14px, 14px);
    padding: 7px 100px;
    background-position: -50px center;
    a {
      @include link-color($black);
      border-bottom-color: $black;
      border-bottom-width: 1px;
    }
    &::before {
      display: inline-block;
      width: 30px;
      height: 33px;
      vertical-align: middle;

      content: "";
      background: url('~static/images/banner-draft-icon.svg') no-repeat;
    }
  }
}
