
.pages-content {

  padding: 5vh 15px 10vh 15px;

  margin: 0px auto;
  font-family: $font-family-sans-serif;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 869px;
  }
  @media (min-width: 1200px) {
      width: 1170px;
  }

  h1 {
    margin: 0 0 4rem 0;
  }
  h2 {
    @include sans-serif($bold, 24px, 36px);
  }

  h3 {
    @include sans-serif($bold, 18px, 36px);
    padding-left: 20px;
  }

  p, li {
    @include sans-serif($regular, 18px, 24px);
  }
  ul {
    list-style-type: none;

    li {
      margin-bottom: 10px;
    }
  }
  a {
    text-decoration: underline !important;
  }
  &.featured-casebooks {
    h1 {
      padding: 0 0 2rem 0;
    }

    h3 {
      padding: 0;
    }
    .verified-prof {
      background: none;
    }
    @include sans-serif($regular, 18px, 24px);

    .courses-grid {
      display: grid;

      gap: 2vw;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
