main > section.search-results {
  background-color: $light-gray;
  margin-left: 0px;

  .content {
    padding: 20px 40px;
    margin-top: 25px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  @media (max-width: $navbar-breakpoint){
    .content{
      padding: 10px 20px;
      font-size: 12px;
    }
    .type-tab{
      font-size: 15px;
    }
  }

}


header.advanced-search {
  padding-top: $padding-base-vertical;
  padding-bottom: $padding-base-vertical;
  text-align: center;
  p{
    padding-bottom: 2%;
  }
  @media (max-width: $navbar-breakpoint){
   h1{
    font-size: 25px;
    padding-bottom: 2%;
   }
   p{
    display:none;
   }
  }
}
.narrow-inner, .search-options {
  @include make-md-column(7.5);
  float: none !important;
  margin: auto;
  border-radius: 1em;

  .input-group{
    width: 100%;
    input{
      border:none;
      background-color: #dddddd80;
      background-image: url('~static/images/search-icon.svg');
      background-position: 98% center;
      background-repeat: no-repeat;
      background-size: 30px;
      @media (max-width: $navbar-breakpoint){
        background-size: 15px;
       }
    }
    input::placeholder {
      color:rgba(0, 0, 0, 0.55);
      text-align: left;
      @media (max-width: $navbar-breakpoint){
        font-size: 13px;
       }
    }
  }
}

.search-options {
  display: flex;
  justify-content: flex-start;

  margin-top: $padding-base-vertical;
  margin-bottom: $padding-base-vertical;
  

  .form-group {
    display: flex;
    margin-bottom: 0;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 33%;

    select {
      display: inline-block;
      flex-grow: 1;
      border-radius: 4px;
      border:transparent;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-size: 14px;
      height: 48px;

      background-image:  url('~static/images/expand-arrow.svg');
      background-position: 97% 30%;
      background-size: 35px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @media (max-width: $navbar-breakpoint){
        font-size: 12px;
        background-size: 15px;
        background-position: 95% 50%;
      }
      &::-ms-expand {
          display: none; /* remove default arrow in IE 10 and 11 */
      }
      
    }
  }
}

.results-container {
  padding: 0 50px 0 50px;
  @media (max-width: $navbar-breakpoint){
    padding: 0 20px 0 20px;
    width: 80vw;
  }
}

.type-tabs {
  @include make-row();
  margin-bottom: 20px;
  display:flex;
  justify-content: space-between;
  padding-bottom: 3%;

  .type-tab {
    @include make-md-column(4);
    @include sans-serif($regular, 18px, 18px);
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: $black;

    &.active {
      border-bottom: 4px solid $light-blue;
      color: $light-blue;
      font-weight: bold;
    }
    &.inactive {
      border-bottom: 2px solid $gray;
    }
  }
  .type-tab:hover{
    font-weight: bold;
  }
  a:focus{
    font-weight: 900;
    outline:none;
  }

}

.results-list {
    .wrapper:focus {
        outline:none;
        .results-entry {
            background-color: lightgray;
        }
    }
  .results-entry {
    @include make-row();
    padding: 15px 0;
    border-top: 0.5px solid rgb(149, 149, 149);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .title {
      @include make-md-column(7.5);
      font-weight: bold;
      font-size: 14px;
      font-family: $font-family-sans-serif;
      float: left;
      @media (max-width: $navbar-breakpoint){
        width:100%;
      }
    }
    .owner, .casebook-count {
      @include make-md-column(3);
    }
    .owner {
      font-size: 13px;
      padding:0;

      @media (max-width: $navbar-breakpoint){
        padding-left:15px;
      }
      .verified {
        @include square(13px);
        display: inline-block;
        vertical-align: middle;
        content: '';
        background: url('~static/images/ui/verified.png') no-repeat;
      }
      
    }
    .date, .profile-image {
      @include make-md-column(1);
    }

    .date {
      flex-grow: 1;
      text-align: right;
      @media (max-width: $navbar-breakpoint){
        padding-left:15px;
      }
    }

    .citation {
      text-align: right;
      padding-left: 15px;
    }

    .description {
      flex-basis: 100%;
      width: 100%;
      padding: 2px;
      margin-left: 15px;
      margin-top: 5px;
      font-size: 12px;
      color: $medium-gray;
    }

    .and-more {
      font-family: $font-family-sans-serif;
    }
  }
  .results-entry:hover{
    background-color: rgb(202, 226, 249);
  }
  .results-entry:focus{
    background-color: rgb(202, 226, 249);
    outline:none;
  }
  .fts-results-entry {
    @include make-row();
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .title {
      @include make-md-column(7.5);
      font-weight: bold;
      font-size: 16px;
      font-family: $font-family-sans-serif;
      float: left;
    }

    .subtitle {
      font-size: 12px;
      font-family: $font-family-sans-serif;
      float: left;
      flex-basis: 100%;
      width: 100%;
      padding: 2px;
      margin-left: 15px;
      color: $gray;
    }
    .owner, .casebook-count {
      @include make-md-column(3);
    }
    .owner {
      font-size: 13px;
      padding: 0;

      .verified {
        @include square(13px);
        display: inline-block;
        vertical-align: middle;
        content: '';
        background: url('~static/images/ui/verified.png') no-repeat;
      }
    }
    .ordinals, .profile-image {
      @include make-md-column(1);
    }

    .ordinals {
      flex-grow: 1;
      text-align: right;
    }

    .citation {
      text-align: right;
      padding-left: 15px;
    }

    .description {
      color: $medium-gray;
      flex-basis: 100%;
      width: 100%;
      padding: 2px;
      margin-left: 15px;
      font-family: $font-family-serif;
      font-size: 16px;
    }

    b {
      background: $highlight;
    }

    .and-more {
      font-family: $font-family-sans-serif;
    }
  }
}

.no-results {
  text-align: center;
}


.search-results-pagination{
  display: flex;
  justify-content: center;
  padding-top: 4%;
  @media (max-width: $navbar-breakpoint){
    font-size: small;
  }
}
