// US GPO

h4.subsection-head {
    font-weight: bold;
    font-size: 2rem;
}

p.statutory-body {
    padding-left: 2rem;
}

h4.paragraph-head {
    padding-left: 1rem;
}

@for $indent from 1 through 5 {
    // code to execute on each loop
    p.statutory-body-#{$indent}em {
        padding-left: (1+$indent)rem;
    }
}

