%div.SectionNumber{data: {'custom-style': 'Section Number'}}= @content_node.ordinal_string
%div.SectionTitle{data: {'custom-style': 'Section Title'}}= @content_node.title
%div.SectionSubtitle{data: {'custom-style': 'Section Subtitle'}}= @content_node.subtitle
%div.SectionHeadnote{data: {'custom-style': 'Section Headnote'}}= @content_node.headnote
= render :partial => "content/export_node", collection: @content_node.contents
