<p>
  <label>Last Updated:</label>
  <span id="autosave"><%= @playlist.updated_at.strftime("%B %d, %Y") %></span>
</p>

<% if @playlist.tags.any? -%>
<p>
  <label>Tags:</label>
  <% @playlist.tags.each do |tag| -%>
  <%= link_to tag.name, playlist_tag_path(CGI.escape(tag.name)) %>
  <% end -%>
</p>
<% end -%>
