<table class="core_table">
  <thead>
    <tr class="table_heading ">
      <th>Playlist Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.display_name, playlist %></td>
        <td>
          <% if current_user && (@is_playlist_admin || @playlists_i_can_edit.include?(playlist) || @my_playlists.include?(playlist)) %>
            <%= link_to('Edit', edit_playlist_path(playlist), :class => 'button edit-playlist') %>
          <% end %>
          <% if current_user && (@is_playlist_admin || @my_playlists.include?(playlist)) %>
            <%= link_to('Delete', playlist_path(playlist), :class => 'button delete-playlist') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
