<div id="error_block"></div>

This item will be permanently deleted and cannot be recovered. Are you sure?

<%= form_tag Playlist.find(params[:id]), :method => :delete, :id => 'delete_playlist', :class => 'ui-widget' %>

</form>

