<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
		<div class="scale1-5 vh1"><%= raw @playlist.name %></div>
	</hgroup>
	<div class="details">
		<div id="description" class="item_description">
			<%= raw @playlist.formatted(:description) %>
		</div>
	</div>
	<div id="toc_container"></div>
	<%= render :partial => 'playlist_items/playlist_items_block_print', :locals => {:playlist => @playlist} %>
</div>
