<div id="playlist" class="singleitem" data-itemid="<%= @playlist.id %>">
	<hgroup class="description">
	  <div class="scale1-5 vh1">
        <div class="Playlist-title"><%= raw @playlist.name %></div>
      </div>
	</hgroup>
	<div class="details">
		<div id="description" class="item_description">
          <div class="Playlist-notes">
			<%= raw @playlist.formatted(:description) %>
		  </div>
		</div>
	</div>
    <p class="MsoToc1" id="toc-container"></p>
	<%= render :partial => 'playlist_items/playlist_items_block_print', :locals => {:playlist => @playlist} %>
</div>
