<div id="playlist_input">
  <h1>Playlist Raw Content:</h1>
  <small>TODO: Add more info here</small>
  <textarea></textarea>
</div>
<div id="playlist_render">
  <h1>Import Preview:</h1>
  <small>Note: All new items will default to private (non-public).</small>
  <div id="render"></div>
</div>
<a href="#" id="import_playlist" class="button">Submit</a>
<div class="clear"></div>
<script type="text/javascript">
var user_display = "<%= current_user.simple_display %>";
</script>
