<div class="info_block">
 <div class="yellow_title_med">Your Playlists</div>
 This list shows playlists that you have access to.  You may edit or delete the playlists here if
 you have the correct permissions.
</div>

<div id="spinner_block"></div>

<div id="list_block">
<%= render :partial => 'playlists_block' %>
</div>

<br />

<% if current_user %>
  <button id="button-playlist-create">Create playlist</button>

<%= javascript_tag %Q|
jQuery(document).ready(function(){
  jQuery('#button-playlist-create').button();
});| %>
<% end %>

<div id="dialog-playlist-new" title="New playlist"></div>
<div id="dialog-playlist-edit" title="Edit playlist"></div>
<div id="dialog-playlist-delete" title="Delete playlist"></div>

