<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="2.0"
                xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
                xmlns:outline="http://wkhtmltopdf.org/outline"
                xmlns="http://www.w3.org/1999/xhtml">
  <xsl:output doctype-public="-//W3C//DTD XHTML 1.0 Strict//EN"
              doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
              indent="yes" />
  <xsl:template match="outline:outline">
    <html>
      <head>
        <title>(This title does not get displayed in the rendered PDF)</title>
        <xsl:comment>Non-empty HTML title is required to avoid breaking page layout</xsl:comment>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- NOTE: javascript and stylesheet tags do not work in this TOC -->
        <!-- TODO: move below TOC CSS into export.css so the javascript TOC preview matches this one. -->
        <style>
          div.header {
            text-align: center;
          }
          span {float: right;}
          li {list-style: none;}
          a {text-decoration:none; }
          .toc-entry {border-bottom: 1px dashed rgb(200,200,200);}

          <%= general_css %>
          <%= toc_levels_css %>
        </style>
      </head>
      <body class="toc wrapper">
        <div class="header"><b><%= title %></b></div>
          <ul class="toc"><xsl:apply-templates select="outline:item/outline:item"/></ul>
      </body>
    </html>
  </xsl:template>
  <xsl:template match="outline:item">
    <li class="toc">
      <xsl:if test="@title!=''">
        <div class="toc toc-entry">
          <a>
            <xsl:if test="@link">
              <xsl:attribute name="href"><xsl:value-of select="@link"/></xsl:attribute>
            </xsl:if>
            <xsl:if test="@backLink">
              <xsl:attribute name="name"><xsl:value-of select="@backLink"/></xsl:attribute>
            </xsl:if>
            <xsl:value-of select="@title" /> 
          </a>
          <span> <xsl:value-of select="@page" /> </span>
        </div>
      </xsl:if>
      <ul>
        <xsl:comment>added to prevent self-closing tags in QtXmlPatterns</xsl:comment>
        <xsl:apply-templates select="outline:item"/>
      </ul>
    </li>
  </xsl:template>
</xsl:stylesheet>
