{% extends "admin/base.html" %}

{% load static  %}
{% load humanize %}

{% block title %}
    Activity dashboard | H2O Admin
{% endblock %}

{% block extrahead %}

    {{ date_form.media }}

    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

    <script>
        function updateDate (start_date, end_date) {
            document.getElementById('id_start_date').value=start_date;
            document.getElementById('id_end_date').value=end_date;
        }
    </script>
{% endblock extrahead %}

{% block extrastyle %}
    <style>
        button.date-preset {
            text-decoration: underline;
            background: none;
            cursor: pointer;
            border: none;
            padding: 0;
        }
        #toolbar th, #toolbar td { vertical-align: middle; }
        #toolbar {  margin-bottom: 1em;}
        #dashboard th small { font-weight: normal; display: block; }
        aside { background-color: #eee; padding: 1em; margin-top: 2em;}
        #dashboard {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
        #casebooks-by-usage h3 { display: inline; }
        #casebooks-by-usage li { padding: .5rem 0 .5rem 0; border-bottom: 1px dotted gray; }
        #casebooks-by-usage ol { margin: 1rem; padding: 0; }
        .is-public { display: inline-block; margin-left: 1rem; }
    </style>
{% endblock extrastyle %}

{% block branding %}
    <h1 id="site-name">H2O Admin</h1>
{% endblock %}


{% block content %}

<h1>Usage dashboard</h1>


<div id="content-main">

    <div id="toolbar">
        <form action="" method="get">
            <table>
                <tr>
                    <th>
                        {{ date_form.start_date.label_tag}}
                    </th>
                    <td>
                        {{ date_form.start_date }}
                    </td>
                    <th>
                        {{ date_form.end_date.label_tag}}
                    </th>
                    <td>
                        {{ date_form.end_date }}
                    </td>
                    <td>
                        {% for key, preset in date_presets.items %}
                            <button type="button" class="date-preset"
                                onclick="updateDate('{{ preset.start_date | escapejs }}', '{{ preset.end_date | escapejs }}')"
                                >{{ preset.label }}
                            </button>  {% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ date_form.published.help_text }} {{ date_form.published }}
                    </td>
                    <td>
                        <input type="submit">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="dashboard">
        <div>
    <table>

    <tr>
        <th>Number of accounts
            <small>All active, non-staff users</small>
        </th>

        <td> {{ stats.registered_users | intcomma }}
        </td>
    </tr>
    <tr>
        <th>Verified professors
            <small>
                <a href="{% url "admin:reporting_professor_changelist" %}?{{ date_query }}">View as list »</a>
            </small>

        </th>
        <td>{{ stats.verified_professors | intcomma }}</td>
    </tr>
    <tr>
        <th>Professors with published casebooks
            <small>
                <a href="{% url "admin:reporting_professorwithcasebooks_changelist" %}?{{ query }}">View as list »</a>
            </small>


        </th>
        <td>{{ stats.profs_with_books | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks
                <small>
                    <a href="{% url "admin:reporting_reportingcasebook_changelist" %}?{{ query }}">View as list »</a>
                </small>

        </th>
        <td>{{ stats.casebooks | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks from verified professors
            <small>
                <a href="{% url "admin:reporting_casebookprofessors_changelist" %}?{{ query }}">View as list »</a>
            </small>


        </th>
        <td>{{ stats.casebooks_prof | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks including content from Capstone
            <small>
                <a href="{% url "admin:reporting_casebookcap_changelist" %}?{{ query }}">View as list »</a>
            </small>
        </th>
        <td>{{ stats.casebooks_cap | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks including content from GPO
            <small>
                <a href="{% url "admin:reporting_casebookgpo_changelist" %}?{{ query }}">View as list »</a>
            </small>
        </th>
        <td> {{ stats.casebooks_gpo | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks including content from Capstone with at least one professor as contributor

            <small>
                <a href="{% url "admin:reporting_casebookcapprof_changelist" %}?{{ query }}">View as list »</a>
            </small>

        </th>
        <td>{{ stats.casebooks_cap_prof | intcomma }}</td>
    </tr>
    <tr>
        <th>Casebooks including content from GPO with at least one professor as contributor

            <small>
                <a href="{% url "admin:reporting_casebookgpoprof_changelist" %}?{{ query }}">View as list »</a>
            </small>

        </th>
        <td> {{ stats.casebooks_gpo_prof | intcomma }}</td>
    </tr>
    <tr>
        <th>
            Casebooks with multiple collaborators
            <small>Where at least one collaborator has attribution</small>
            <small>
                <a href="{% url "admin:reporting_casebookcollaborators_changelist" %}?{{ query }}">View as list »</a>
            </small>
        </th>
        <td> {{ stats.casebooks_with_collaborators | intcomma }}</td>

    </tr>
    <tr>
        <th>Casebooks with multiple collaborators, at least one professor
            <small>
                <a href="{% url "admin:reporting_casebookcollaboratorsprof_changelist" %}?{{ query }}">View as list »</a>
            </small>

        </th>
        <td> {{ stats.casebooks_with_collaborators_prof | intcomma }}</td>
    </tr>
    <tr>
        <th>Series
            <small>Where the casebook designated as "latest" is published</small>
            <small>
                <a href="{% url "admin:reporting_casebookseries_changelist" %}?{{ query }}">View as list »</a>
            </small>
        </th>
        <td>{{ stats.series | intcomma }}</td>
    </tr>
    <tr>
        <th>Series by professors

            <small>
                <a href="{% url "admin:reporting_casebookseriesprof_changelist" %}?{{ query }}">View as list »</a>
            </small>
        </th>
        <td>{{ stats.series_by_prof | intcomma }}</td>
    </tr>
    </table>

        <aside>
            Note: "Published" casebooks will include casebooks in either the <em>published</em> or
            <em>revising</em> state, matching the front end search.
        </aside>
    </div>

    <div id="casebooks-by-usage">
        <h2>Top casebooks by usage</h2
        <p>Results between {{ web_usage.start_date }} and {{ web_usage.end_date }}</p>
        <ol>
        {% for result in web_usage.items %}
            {% with result.instance as casebook %}
           <li>{% if casebook %}
                <h3><a href="{{ casebook.get_absolute_url }}">{{ casebook.title }}</a></h3>
                <span class="is-public">{% if casebook.is_public %}
                    ✅ published
                {% else %}
                    ❌ not published
                {% endif %}
                </span>
                <p>
                    {% for author in casebook.primary_authors %}
                        <a href="{% url "admin:main_user_change" author.id %}">{{ author }}</a> {% if author.verified_professor %}(prof){% endif %}
                        {% if author.affiliation %} at {{ author.affiliation }} {% endif %}
                        {% if not forloop.last%}, {% endif %}
                    {% endfor %}

                </p>
                <p>
                    {{ result.visits | intcomma }} visit{{ result.visits| pluralize }}
                </p>
            {% else %}
                {{ result.slug }}
            {% endif %}
            {% endwith %}
        </li>
        {% endfor %}
        </ol>
    </div>
    </div>
</div>

{% endblock %}