@import '~bootstrap-sass/assets/stylesheets/bootstrap/modals';

.add-casebook{
  width: 100%;
  height: 130%;
  display: block;
  background-color: transparent;
  border:none;
  background-image: url('~static/images/ui/casebook/add-casebook.svg');
}

.customize-casebook{
  width: 100%;
  height: 130%;
  display: block;
  background-color: transparent;
  border:none;
  background-image: url('~static/images/ui/casebook/customize-casebook.svg');
}

.modal-overlay.open {
  background-color: white;
  opacity: 0.85;
  height: 100%;
  left: 0;
  display: flex;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity .2s;
  width: 100%;
  z-index: 2;
}

.modal .close:focus-visible {
  @include generic-focus-styles;
}

.modal-button-caption{
  padding-top: 6%;
}

.modal-button-container {
  display:flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 10%;
}

.modal-button-box {
  width:50%;
  text-align: center;
}

.modal-button {
  @extend .btn;
  @extend .btn-default;
  &:focus-visible {
    @include generic-focus-styles;
  }
}

.modal-body .results-list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.modal-body {
  .create-casebook-text{
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-tabs {
    @include make-row();

    margin-bottom: 15px;

    .search-tab {
      @include make-md-column(3.5);
      @include sans-serif($bold, 14px, 14px);
      padding: 5px;
      margin: 5px;

      text-align: center;
      cursor: pointer;
      border-bottom: 2px solid black;

      &.active {
        border-bottom-color: $light-blue;
        color: $light-blue;
      }
    }
  }
  .case-search, .new-text, .new-link {
    margin: 15px 0;

    input[type=text] {
      display: inline-block;
      width: 100%;
    }
    input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
      width: 30%;
      height: 52px;
      margin: 15px 0 0 5px;
    }

    .form-group {
      margin-bottom: 0;
    }

    .title {
      width: 100%;
    }
  }
}
