<script type="text/javascript">
  jQuery(function() {
    jQuery("#register_button").button();
    jQuery("#login_button").button();
  });
</script>

<p>Are you a first time user?  Click below to register with the site locally
  or by using your Twitter account.</p>

<a href="/users/new"><button id="register_button">Register</button></a>

<p>Returning users log in here with your local username and password or with Twitter.</p>

<a href="/user_sessions/new"><button id="login_button">Login</button></a>
