/* Styles from CAP imports, largely copied from the main source */

@media print {
  .footnote {
    p,
    blockquote {
      margin-left: 13px;
    }
  }
  .footnotemark {
    font-size: 16px;
    vertical-align: super;
  }
}
