@use "sass:map";

@media print {
  $base-font-size: 5mm;
  $base-font-family: "EB Garamond", serif;

  body {
    font-family: $base-font-family !important;
  }
  a {
    text-decoration: none;
  }

  .ordinal {
    margin: 1em 0;
  }

  section.section {
    &.depth-1 {
      break-before: right;
    }
  }

  /* Unset some specific values in the source content that we believe are safe to override. */
  span,
  p {
    color: unset !important;
    line-height: unset !important;
    letter-spacing: unset !important;
    font-family: $base-font-family !important;
  }

  /* Set specific ones */

  section p {
    font-size: $base-font-size !important;
    line-height: 140% !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 110%;
    margin: 0 0 0.5em 0;
  }

  h1 {
    font-size: $base-font-size * 2;
  }
  h2 {
    font-size: $base-font-size * 1.7;
  }
  h3 {
    font-size: $base-font-size * 1.4;
  }
  h4,
  h5,
  h6 {
    font-size: $base-font-size * 1.2;
  }

  section.link {
    margin-top: 20mm;
  }

  .link-icon {
    width: 10mm;
    height: 10mm;
    position: absolute;
    background: url("~static/images/Link.svg");
    background-size: cover;
  }
  .link-icon + .node-container {
    margin-left: 14mm;
  }

  h1.title {
    string-set: title content(text);
  }

  @page {
    @bottom-right {
      content: counter(page);
    }
    @top-center {
      content: string(title);
    }
  }
}
