{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Password reset confirmation{% endblock %}

{% block mainContent %}
  {% if not validlink %}<div class="pages-content">{% endif %}
  <header class="users">
    <div class="content">
      <h1>
        Password reset confirmation
      </h1>
    </div>
  </header>
  <section class="sign-in">
    <div class="content">
      {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <div class="form">
          <form method="POST">
            {% crispy form %}
            <input type="submit" name="submit" value="Change my password" class="btn btn-primary">
          </form>
        </div>
      {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
      {% endif %}
    </div>
  </section>
  {% if not validlink %}</div>{% endif %}
{% endblock %}
