{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Change password{% endblock %}

{% block mainContent %}
  <header class="users">
    <div class="content">
      <h1>
        Change your password
      </h1>
    </div>
  </header>
  <section class="sign-in">
    <div class="content">
      <div class="form">
        <form method="POST">
          {% crispy form %}
          <input type="submit" name="submit" value="Change my password" class="btn btn-primary">
        </form>
      </div>
    </div>
  </section>
{% endblock %}
