{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Password changed{% endblock %}

{% block mainContent %}
  <header class="users">
    <div class="content">
      <h1>
        Password reset
      </h1>
    </div>
  </header>
  <section class="sign-in">
    <div class="content">
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </div>
  </section>
{% endblock %}
