<div class="docs-sidebar">
	<ul class="docs-sidebar-menu">
		<li>Overview</li>
		<li>Accounts</li>
		<li>Dashboard</li>
		<li>Casebooks</li>
		<li>Annotation</li>
		<li>Exporting to Print</li>
	</ul>
</div>