<div class="pages-docs-sidebar">
	<ul class="pages-docs-sidebar-menu">
		<li>Quick Start</li>
		<li>Accounts</li>
		<li>Dashboard</li>
		<li>Casebooks</li>
		<li>Annotation</li>
		<li>Export & Print</li>
	</ul>
</div>