<% content_for :page_title, 'User Guide' %>
<div class="content">
	<div class="pages-content">
		
		<h1>H2O User Guide</h1>
		
		<h2>Sign Up</h2>
		<p>Published content on H2O is open to the web, so you don't need an account to view casebooks.</p>
		<p>But you do need an account to create casebooks. Accounts currently are limited to people with an .edu email address. To create an account, please visit our <a href="<%= new_user_path %>">signup page</a>.</p>

		<h2>Create Casebooks</h2>
		<p>After logging in, you can create a casebook by clicking the big blue "Create casebook" button at the top of the page. You'll be asked if you want to create a new casebook from scratch or clone an existing casebook.</p>
		<p>Once you've made your selection, you'll be able to add sections and resources (e.g. cases, texts or links) to your casebook. You'll also be able to move and/or delete sections or resources.</p>
		<p>Your work on a "draft" casebook remains private, accessible only to you. When you've finished editing your casebook, press the yellow "Publish" button on the right of the page. Once your casebook is public, anyone will be able to see and clone it.</p>
		<p>Remember that all content on H2O is shared under a Creative Commons license (CC BY-NC-SA 3.0). Don't use H2O to publish a casebook unless you intend others to see, copy and remix the materials you've created.</p>

		<h2>Export & Print</h2>
		<p>You can export any casebook, section or resource (e.g. case or text) as a Microsoft Word file, a PDF or an HTML file.</p>

	
	</div>
</div>