- if content_node.is_a? Content::Section
  %div.SectionNumber{data: {'toc-idx': idx + 1, 'custom-style': 'Section Number'}}=content_node.ordinal_string
  %div.SectionTitle{data: {'custom-style': 'Section Title'}}=content_node.title
  - if content_node.subtitle.present?
    %div.SectionSubtitle{data: {'custom-style': 'Section Subtitle'}}=content_node.subtitle
  - if content_node.headnote.present?
    %div.SectionHeadnote{data: {'custom-style': 'Section Headnote'}}= content_node.formatted_headnote
- elsif content_node.is_a? Content::Resource
  %div.ResourceNumber{data: {'toc-idx': idx + 1, 'custom-style': 'Resource Number'}}=content_node.ordinal_string
  %div.ResourceTitle{data: {'custom-style': 'Resource Title'}}=content_node.title
  - if content_node.subtitle.present?
    %div.ResourceSubtitle{data: {'custom-style': 'Resource Subtitle'}}= content_node.subtitle
  - if content_node.headnote.present?
    %div.ResourceHeadnote{data: {'custom-style': 'Resource Headnote'}}= content_node.formatted_headnote
  - if content_node.resource.class.in? [Case, TextBlock]
    %div.ResourceBody
      - content_node.send(@include_annotations ? :annotated_paragraphs : :paragraph_nodes).each do |node|
        = node.to_html.html_safe
      - if @include_annotations
        %div= content_node.footnote_annotations
  - elsif content_node.resource.is_a? Default
    %div{data: {'custom-style': 'Resource Link'}}
      = link_to content_node.resource.url, content_node.resource.url, target: '_blank'
