
%header.dashboard
  .content
    .content-inner
      = render 'content/search'

%section.dashboard
  .content
    %h2.casebooks= t 'content.dashboard.headers.casebooks'
    %hr
    = render partial: 'content/dashboard/content_browser', locals: {header: t('content.dashboard.headers.owned-casebooks'), content: @user.casebooks.owned, create_button: true}
    %hr
    = render partial: 'content/dashboard/content_browser', locals: {header: t('content.dashboard.headers.followed-casebooks'), content: @user.casebooks.followed}
  -# -# %script{type: 'text/template'}= render partial: 'content/dashboard/content_browser'
