{% extends "admin/change_form_with_richeditor.html" %}
{% load admin_urls %}

{% block after_field_sets %}
  {{ block.super }}
  <div class="module aligned">
    <div class="form-row">
      <label>Annotations:</label><div class="readonly">{{ original.related_annotations.count }}</div>
    </div>
  </div>
{% endblock %}

{% block after_related_objects %}
  {{ block.super }}
  <div class="module aligned">
    <h2>Related Resources</h2>
    <div class="form-row">
      <a href="{% url 'admin:main_resource_changelist' %}?resource_type=Case&resource-id={{ original.id }}">
        View related resources ({{ original.related_resources.count }})
      </a>
    </div>
  </div>
{% endblock %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  <div class="submit-row">
      <input type="submit" value="Update from case.law" name="_reimport_from_case_law">
  </div>
{% endblock %}
