%link{href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/vnd.microsoft.icon'}
-# TODO: mobile icons:
  %link{href: asset_path('favicon.57x57.png'), rel: 'apple-touch-icon', type: 'image/png'}
  %link{href: asset_path('favicon.72x72.png'), sizes: '72x72', rel: 'apple-touch-icon', type: 'image/png'}
  %link{href: asset_path('favicon.114x114.png'), sizes: '114x114', rel: 'apple-touch-icon', type: 'image/png'}
  %link{href: asset_path('favicon.114x114.png'), rel: 'icon', type: 'image/png'}
