.content
  .brand= t 'footer.brand'
  .layout
    - t('footer.links').in_groups_of(4, false) do |group_links|
      .link-group
        - group_links.each do |link|
          .link= link_to link[:text], link[:route]
    .info
      .link= link_to t('footer.contact-link'), :root
      .copyright= t 'footer.copyright'
