%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
%meta{charset: 'utf-8'}
= csrf_meta_tags
- if @turbolinks_no_cache
  %meta{name: 'turbolinks-cache-control', content: 'no-preview'}
