!!!
%html
  %head
    - if params[:annotations] != 'false'
      = stylesheet_link_tag 'export/with-annotations', media: 'all'
    - else
      = stylesheet_link_tag 'export/no-annotations', media: 'all'
  %body
    = yield
