pip-tools
fabric3
tqdm

django==2.2.18
django-extensions
djangorestframework
django-crispy-forms # tidier custom model forms
whitenoise          # static file serving
django-webpack-loader   # serving frontend assets

# database
psycopg2            # postgres connector

bleach              # html sanitization
diff-match-patch    # update annotations when underlying text changes
django-json-widget  # fancy editor for Case JSON fields in the Django admin
django-simple-history # history preservation for contents

# Testing
pytest
pytest-django
pytest-cov
factory-boy==2.12.0 # create django model fixtures on demand
flake8==3.7.8
requests-mock       # mock the requests library
pytest-mock

# CAP API requests
requests
pyquery

# Who knows?
pip==20.2.2
importlib-metadata==1.7.0
