pip-tools
fabric3
tqdm

django
django-extensions
djangorestframework
django-crispy-forms # tidier custom model forms
whitenoise          # static file serving
django-webpack-loader   # serving frontend assets

# database
psycopg2            # postgres connector

bleach              # html sanitization
diff-match-patch    # update annotations when underlying text changes
django-json-widget  # fancy editor for Case JSON fields in the Django admin

# Testing
pytest
pytest-django
pytest-cov
factory-boy         # create django model fixtures on demand
flake8
requests-mock       # mock the requests library
pytest-mock

# CAP API requests
requests
pyquery
