pip-tools
invoke
tqdm
django~=3.2
django-extensions
djangorestframework
django-crispy-forms
crispy-bootstrap3
whitenoise
django-webpack-loader~=0.7.0
django-storages
boto3
pillow
psycopg2-binary
bleach[css]
diff-match-patch
django-json-widget
django-simple-history
pytest>=7.1.3
pytest-django>=4.5
pytest-cov
pytest-xdist
factory-boy==2.12.0
flake8==4.0.1
requests-mock
pytest-mock
py-spy
freezegun
playwright
pytest-playwright
django-debug-toolbar
black
ipdb
mypy<1.2
django-stubs[compatible-mypy]
types-bleach
types-python-dateutil
types-requests
requests
pyquery
sentry-sdk
gunicorn