# After updating this file, run `pip-compile --generate-hashes --allow-unsafe` from the
# docker host to update requirements.txt.

pip-tools
invoke
tqdm

django~=3.2
django-extensions
djangorestframework
django-crispy-forms # tidier custom model forms
crispy-bootstrap3
whitenoise          # static file serving
django-webpack-loader~=0.7.0   # serving frontend assets
django-storages
boto3
pillow

# database
psycopg2            # postgres connector

bleach[css]         # html sanitization
diff-match-patch    # update annotations when underlying text changes
django-json-widget  # fancy editor for Case JSON fields in the Django admin
django-simple-history # history preservation for contents
celery[redis, pytest] # task runner
django-celery-results  # Store celery task results in the ORM
watchdog            # restart celery in dev (via 'watchmedo' command)

# Testing
pytest>=7.1.3
pytest-django>=4.5
pytest-cov
pytest-xdist
factory-boy==2.12.0 # create django model fixtures on demand
flake8==4.0.1
requests-mock       # mock the requests library
pytest-mock
py-spy
freezegun
playwright>=1.27
pytest-playwright

# Dev convenience
django-debug-toolbar
# code formatting
black==22.6.0

# static type checking
mypy<1.2
django-stubs[compatible-mypy]
types-bleach
types-python-dateutil
types-requests

# CAP API requests
requests
pyquery

# instrumentation
sentry-sdk
